<div style="overflow-x: auto">
  <div class="mx-5">
  <!-- basic details -->
        <h3 class="ml-3 text-2xl text-blue-600 md:my-2 lg:my-4 font-semibold">
          Other Details
          <mat-icon>info</mat-icon>
        </h3>
    <form [formGroup]="forms">
      <!-- realtionship with rane -->
      <div class="other-form">
        <label class="form-header" for="known"
          >Do You Have Any Relations Or Friends Employed In Any Location Of Rane
          Group Of Companies Or Office</label
        >
        <select
          (ngModelChange)="sendData()"
          formControlName="known"
          class="form-control w-full sm:w-1/3"
        >
          <option>Choose Option</option>
          <option *ngFor="let rel of Relations" [ngValue]="rel">
            {{ rel }}
          </option>
        </select>
      </div>
      <div class="row">
        <!-- name -->
      <div style="width: fit-content" class="other-form col-sm-4">
        <label class="form-header" for="names"> Name</label>
        <input
          (ngModelChange)="sendData()"
          formControlName="names"
          id="names"
          type="text"
          class="form-control"
          placeholder="Name"
        />
      </div>
      <!-- transport -->
      <div style="width: fit-content" class="other-form col-sm-4">
        <label class="form-header" for="Van_Eligible">Transport Facility Needed</label>
        <select
          (ngModelChange)="onChangeVanEligible($event)"
          formControlName="Van_Eligible"
          class="form-control"
        >
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
       <!-- company name -->
      <div style="width: fit-content" class="other-form col-sm-4">
        <label class="form-header" for="com"
          >Company Name</label
        >
        <input
          (ngModelChange)="sendData()"
          formControlName="com"
          id="com"
          type="text"
          class="form-control"
          placeholder="Company/Agency Name"
        />
      </div>
      
      </div>

      <br>
    
      <div *ngIf="forms.get('Van_Eligible')?.value === 'Yes'" class="row">
        <!-- transporter -->
        <div style="width: fit-content" class="other-form col-sm-3">
          <label class="form-header" for="Transporter"> Transporter</label>
          <input
            (ngModelChange)="sendData()"
            formControlName="Transporter"
            id="Transporter"
            type="text"
            class="form-control"
            placeholder="Transporter"
          />
        </div>
    
        <div style="width: fit-content" class="other-form col-sm-3">
          <!-- village -->
          <label class="form-header" for="Village"> Village</label>
          <input
            (ngModelChange)="sendData()"
            formControlName="Village"
            id="Village"
            type="text"
            class="form-control"
            placeholder="Village"
          />
        </div>
      </div>
      <br>
      <div class="row">
        <!-- rane working details -->
      <div style="width: fit-content" class="other-form col-sm-4">
        <label class="form-header" for="work"
          >Have You Ever Worked In Rane Group?
        </label>
        <select
          (ngModelChange)="sendData()"
          formControlName="work"
          class="form-control"
        >
          <option>Choose</option>
          <option *ngFor="let wk of Works" [ngValue]="wk">{{ wk }}</option>
        </select>
      </div>
     <!-- name of company -->
      <div style="width: fit-content" class="other-form col-sm-4">
        <label class="form-header" for="place">Name Of The Company</label>
        <input
          formControlName="place"
          (ngModelChange)="sendData()"
          id="place"
          type="text"
          class="form-control"
          placeholder="Place"
        />
      </div>
      <!-- extra activities -->
      <div stytle="width:fit-content" class="other-form col-sm-4">
        <label class="form-header" for="extra"
          >Extra Curricular Activities (Sports/Hobbies)
        </label>
        <input
          formControlName="extra"
          (ngModelChange)="sendData()"
          id="extra"
          type="text"
          class="form-control"
          placeholder="Extra Curricular Activities (Sports/Hobbies)"
        />
      </div>
      </div>
     <br>

     <div class="w-full flex items-center justify-center">
         <button
        (click)="submit()"
        (ngModelChange)="sendData()"
        pButton
        label="Save"
        icon="pi pi-save"
        type="submit"
      >
      </button>
     </div>
      
      <span
        style="float: right; font-size: 20px; color: green"
        class="animate"
        @slowAnimate
        *ngIf="state"
        >&nbsp; Details are saved</span
      >
    </form>
  </div>
</div>
