<!-- trainee application header -->
  <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 mx-2 !rounded-md !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row md:!h-20">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>assignment_ind</mat-icon> Trainee Application  <hr/>
    </h1>
    <p class="mt-1 text-gray-400">View and Manage Trainee Application</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
  </div>
  <!-- tainee application filters -->
   <div>
    <!-- tainee application filters -->
  <div class="!shadow-md !my-4 !rounded-md  h-full pb-3 !px-4 !font-poppins sm:h-min border border-gray-400 mx-2">
    <!-- filter header -->
      <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
        </h1>
       <!-- download btn-->
        <p-button 
         icon="pi pi-download" 
         styleClass="absolute right-0 top-0 mr-2 rounded-[1.5rem]" 
         (click)="exportexcel()"></p-button>
      </div>
   <form [formGroup]="form">
     <!-- trainee application filter first row -->
     <div class="flex items-center justify-between w-full flex-col sm:flex-row sm:gap-2">
       <!-- application status filter -->
       <div class="font-poppins w-full">
          <label for="status" class="text-gray-400 font-poppins mt-3 mb-1 font-semibold">Status</label> <br>
          <p-dropdown 
            [options]="statusOption"
            formControlName="status"
            optionLabel="label"
            optionValue="value"
            styleClass="w-full" 
            placeholder="Select Status" ></p-dropdown>
       </div>
      <!-- from date -->
     <div class="w-full">
      <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">From Date</label> <br>
      <p-calendar 
        formControlName="fromdate"
        dateFormat="yy-mm-dd"
        styleClass="w-full !font-poppins"
        [showIcon]="true" >
     </p-calendar>
     </div>
     <!-- to date -->
     <div class="w-full">
      <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">To Date</label> <br>
      <p-calendar 
        formControlName="todate"
        dateFormat="yy-mm-dd"
        styleClass="w-full !font-poppins"
        [showIcon]="true" >
     </p-calendar>
     </div>
     </div>
     <!-- filters second row -->
      <div class="flex items-center justify-between w-full flex-col sm:flex-row sm:gap-2">
       <!-- search type dropdown filter -->
       <div class="font-poppins w-full">
          <label for="status" class="text-gray-400 font-poppins mt-3 mb-1 font-semibold">Type</label> <br>
          <p-dropdown 
            [options]="searchTypeOptions"
            formControlName="colname"
            optionLabel="label"
            optionValue="value"
            styleClass="w-full" 
            placeholder="Select Type" ></p-dropdown>
       </div>
      <!-- search value -->
     <div class="w-full p-fluid">
      <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Value</label> <br>
      <input 
       type="text" 
       pInputText
       styleClass="w-full !font-poppins" 
       formControlName="colvalue" />
      
     </div>
     <!-- search btn -->
     <div class="w-full mt-8 ml-3">
      <p-button 
        icon="pi pi-search"
        styleClass="rounded-[1.5rem] mt-2"
        (onClick)="filterTraineeApplication()"
        label="Search"  
      >
     </p-button> 
     </div>
     </div>
   </form>
  </div>
   </div>

<app-loader *ngIf="loader.isLoding | async; else show"></app-loader>

<!-- tarinee application table -->
<ng-template #show>
  <div class="mx-2 mt-8">
    <div class="h-[90svh] lg:h-[52vh] xl:h-[58vh] sm:h-[45vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll no-scrollbar">
      <table id="table" class="table-auto !w-full">
        <!-- table head -->
        <thead class="sticky top-0">
          <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
            <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">
              {{form.get('status').value == 'appointed' ? 'Date of Joining' : form.get('status').value == 'relieved' ?
              'Date of Leaving' : 'Date'}}
            </th>
            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Full Name</th>
            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Father Name</th>
            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">DOB</th>
            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Mobile Number</th>
            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Aadhaar Number</th>
            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Application Status</th>
            <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Actions</th>
          </tr>
        </thead>
        <!-- table body -->
        <tbody>
          <tr 
           *ngFor="let i of filterinfo"
           class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer"
           >
            <td class="!px-2 !py-4 !rounded-s-md text-center text-blue-600 font-semibold">
              {{ i.apln_status == 'APPOINTED' ? (i.doj?.split('T')[0] | date: 'dd-MM-yyyy') : i.apln_status ==
              'RELIEVED' ? (i.dol?.split('T')[0] | date: 'dd-MM-yyyy') : (i.created_dt?.split('T')[0] | date:
              'dd-MM-yyyy') }}
            </td>
            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.fullname }}</td>
            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.fathername }}</td>
            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.birthdate | date: 'dd-MM-yyyy' }}</td>
            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.mobile_no1 }}</td>
            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.aadhar_no }}</td>
            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.apln_status }}</td>
            <!-- action btn -->
            <td class="!px-2 !py-4 !rounded-e-md flex items-center justify-center">
              <button
                *ngIf="i.apln_status == 'PENDING' || i.apln_status == 'REJECTED' || i.apln_status == 'NEW INCOMPLETE'"
                [routerLink]="['/rml/new_joiners/forms', i.mobile_no1, i.apln_status, i.sno]" 
                title="Edit the trainee">
                <mat-icon class="text-blue-600 text-[20px]">edit</mat-icon>
              </button>
              <button
                *ngIf="i.apln_status != 'PENDING' && i.apln_status != 'REJECTED' && i.apln_status != 'NEW INCOMPLETE'"
                [routerLink]="['/rml/new_joiners/hr-view', i.mobile_no1, i.apln_status, i.sno, 'status']">
                <mat-icon class="text-blue-600 text-[20px]">visibility</mat-icon>
              </button>
              <button *ngIf="i.apln_status !== 'APPOINTED' && i.apln_status !== 'RELIEVED'" 
               (click)="openDeleteModal(i.apln_slno)">
                <mat-icon class="text-red-600 text-[20px]">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- delete confirmation popup -->
<div *ngIf="showDeleteModal" class="modal-overlay">
  <div class="modal-content">
    <h2>Confirmation</h2>
    <p>Are you sure you want to delete this record?</p>

    <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
      <button (click)="confirmDelete()" 
              style="background-color: #dc3545; color: white; padding: 8px 16px; border: none; border-radius: 4px;">
        Yes
      </button>
      <button (click)="closeDeleteModal()" 
              style="background-color: #6c757d; color: white; padding: 8px 16px; border: none; border-radius: 4px;">
        No
      </button>
    </div>
  </div>
</div>
</ng-template>

<!-- Confirmation Modal -->