<div class="container">
  <br />
  <div>
    <h1 id="title1">Back Date Lock Details </h1>
    <hr style="border-block-color: orange" />
  </div>

  <div class="button1">
    <button
      mat-fab
      style="float: right"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>download</mat-icon>
    </button>
  </div>
  <br /><br /><br />
  <app-loader *ngIf="loader.isLoding | async; else show"></app-loader>
  <div class="container-fluid">
    <ng-template #show>
      <div class="table-wrapper">
        <table class="table table-bordered table-striped table-hover">
          <table id="table">
            <thead>
              <tr>
                <th
                  class="text-center"
                  style="width: 500px"
                  style="background-color: darkblue"
                >
                  SNo
                </th>
                <th div class="text-center">Plant</th>
                <th div class="text-center">DOJ Limit</th>
                <th div class="text-center">EH Approval Limit</th>
                <th div class="text-center">Forgot to Punch HR Limit</th>
                <th div class="text-center">Forgot to Punch Workmen Limit</th>
                <th div class="text-center">OT Approval For FH Limit</th>
                <th div class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data; let a = index">
                <td style="text-align: center">{{ a + 1 }}</td>
                <td style="text-align: center">{{ i.plant }}</td>
                <td style="text-align: center">{{ i.doj_limit }}</td>
                <td style="text-align: center">{{ i.eh_approval_sup }}</td>
                <td style="text-align: center">{{ i.fp_hr }}</td>
                <td style="text-align: center">{{ i.fp_workmen }}</td>
                <td style="text-align: center">{{ i.ot_appr_fh }}</td>

                <td style="text-align: center">
                  <button mat-mini-fab color="accent" (click)="openEdit(i)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </table>
      </div>
    </ng-template>
  </div>
</div>
