
<div>
<div class="heading">
    <h2>Biometric Punch data  - Transfer Posting </h2>
</div>

<div class="first" >
    <span class="ele">
        <p>Select Date Range: </p>

        <span>
            <mat-form-field appearance="outline" color="primary" class="example-full-width" (click)="fromDatePicker.open()">
              <mat-label>From Date</mat-label>
              <input matInput [matDatepicker]="fromDatePicker" [formControl]="fromDateControl"  [max]="maxDate" [min]="minDate">
              <!-- <mat-hint>MMMM DD, YYYY</mat-hint> -->
              <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </mat-form-field>
          </span>
          
          <span>
            <mat-form-field appearance="outline" color="primary" class="example-full-width" (click)="toDatePicker.open()" >
              <mat-label>To Date</mat-label>
              <input matInput [matDatepicker]="toDatePicker" [formControl]="toDateControl"  [max]="maxDate" [min]="minDate">
              <!-- <mat-hint>MMMM DD, YYYY</mat-hint> -->
              <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
            </mat-form-field>
          </span>
          
          <span>
            <div style="display: flex; justify-content: space-around ;padding-right: 3em">

                <button mat-raised-button color="primary" id="green" (click)="executeQuery()"  >
                 Execute
                </button>
              </div>
          </span>

    </span>
</div>




</div>