<div class="container !font-poppins">
  <div class="row justify-content-md-left">
    <div class="table col-sm-20 shadow round pb-4">
      <div class="mx-5">
         <!-- basic details -->
        <h3 class="ml-3 text-2xl text-blue-600 md:my-2 lg:my-4 font-semibold">
          Bank Details (Optional)
          <mat-icon>account_balance</mat-icon>
        </h3>
        <!-- <h3>(<span class = "star-color">*</span> fields are required)</h3> -->

        <form [formGroup]="form">
          <div class="row">
            <!-- account number -->
            <div class="col-sm-4">
              <div class="bank-form">
                <label class="form-header" for="account">Account Number</label>
                <!-- <label for="account">Account Number:<span class = "star-color">*</span></label> -->
                <input
                  (ngModelChange)="sendData()"
                  formControlName="account"
                  id="account"
                  type="number"
                  class="form-control"
                  placeholder="Account Number"
                />
              </div>
            </div>
            <!-- bank name -->
            <div class="col-sm-4">
              <div class="bank-form extra">
                <label class="form-header" for="bankName">Bank Name</label>
                <!-- <label for="bankName">Bank Name:<span class = "star-color">*</span></label> -->
                <select
                  formControlName="bankName"
                  class="form-control"
                  (ngModelChange)="sendData()"
                >
                  <option>Choose</option>
                  <option *ngFor="let bm of banknames" [ngValue]="bm">
                    {{ bm }}
                  </option>
                </select>
              </div>
            </div>
            <!-- IFSC code -->
            <div class="col-sm-4">
              <div class="bank-form">
                <label class="form-header" for="ifsc"
                  >IFSC Code</label
                >
                <!-- <label for="ifsc">IFSC Code:<span class = "star-color">*</span></label> -->
                <input
                  (ngModelChange)="sendData()"
                  formControlName="ifsc"
                  id="ifsc"
                  type="text"
                  class="form-control"
                  placeholder="IFSC Number"
                />
              </div>
            </div>
            <!-- save btn -->
             <div class="w-full flex items-center justify-center mt-3">
                 <button
                (ngModelChange)="sendData()"
                (click)="submit()"
                pButton
                label="Save"
                icon="pi pi-save">
              
            </button>
             </div>
          </div>
          <span
            style="float: right; font-size: 20px; color: green"
            class="animate"
            @slowAnimate
            *ngIf="state"
            >&nbsp; Details are saved</span>
        </form>
      </div>
    </div>
  </div>
</div>
