<h1 class="title">Excess Hours Supervisor Confirmation</h1>
<div class="filter" style="display: flex; align-items: center; justify-content: space-between;">
  <!-- Filters on the Left -->
  <div style="display: flex; gap: 20px; align-items: center;">
    <div>
      <b><p>Date Filter:</p></b>
      <input type="date" class="input2" [(ngModel)]="filterDate" (click)="filterDate=''"/>
    </div>
    <div class="col-sm-3">
      <b><p>Filter Line:</p></b>
      <mat-select class="input2" [(ngModel)]="selectedLine">
        <mat-option value="">ALL</mat-option>
        <mat-option *ngFor="let line of lines" [value]="line.Line_Name">{{line.Line_Name}}</mat-option>
      </mat-select>
    </div> 
  </div>

  <!-- Download Button on the Right -->
  <button
    mat-fab
    aria-label="Download"
    style="margin-left: auto;margin-right: 2rem;"
    (click)="exportexcel()"
  >
    <mat-icon>download</mat-icon>
  </button>
</div>


<hr style="border-block-color: orange" />
<div class="select_menu"></div>
<div class="table-wrapper">
  <table class="table table-bordered table-striped table-hover">
    <table id="table">
      <thead>
        <tr>
          <th
            class="text-center"
            style="width: 500px"
            style="background-color: darkblue; color: aliceblue"
          >
            SL No
          </th>
          <th div class="text-center">Gen Id</th>
          <th div class="text-center">Punch Id</th>
          <th div class="text-center">Name</th>
          <th div class="text-center">Line</th>
          <th div class="text-center">Category</th>
          <th div class="text-center">Worked Date</th>
          <th div class="text-center">IN Time</th>
          <th div class="text-center">OUT Time</th>
          <th div class="text-center">Excess Work Hrs</th>
          <th div class="text-center">Actual Worked Hrs</th>
          <th div class="text-center">Reason</th>
          <th div class="text-center">Verification</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data|datefilter:filterDate|lineFilter:selectedLine; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.gen_id }}</td>
          <td>{{ item.biometric_no}}</td>
          <td>{{ item.fullname }}</td>
          <td>{{ item.Line_Name }}</td>
          <td>{{ item.apprentice_type }}</td>
          <td>{{ item.att_date|date:'dd-MM-yyyy'}}</td>
          <td>{{item.in_time}}</td>
          <td>{{item.out_time}}</td>
          <td>{{ item.expect_othr }}</td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="number"
                [(ngModel)]="item.approvedHr"
    
              />
            </mat-form-field>
            <p *ngIf="item.approvedHr > item.expect_othr " style="color:red" >Invalid worked Hours</p>
            <p *ngIf=" item.approvedHr > getMaxHours(item.type)" style="color:red" >OT  Cannot be Greater Then {{max_hrs}} Hours</p>
          </td>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="item.reason" />
            </mat-form-field>
          </td>
          <td>
            <p *ngIf="item.expired==1">Expired</p>
            <button *ngIf="item.expired==0"
              mat-raised-button
              color="primary"
              [disabled]="
                item.approvedHr > item.expect_othr ||
                item.approvedHr == null ||
                item.reason == '' ||
                item.reason.length < 10 ||
                item.approvedHr > getMaxHours(item.type)  || loading
             
                ||item.approvedHr<0 
              "
              (click)="approve(item)"
            >
              Verified
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </table>
</div>
