<div style="width: 100%; display: flex; justify-content: flex-end; margin-top: 20px;">
    <button onclick="history.back()" class="mr-4 mb-3 !bg-blue-600"
        style="padding: 8px 16px; font-size: 14px; color: white; border: none; border-radius: 4px; cursor: pointer;">
        ← Back
    </button>
</div>

<div style="width: 100%; height: 100%; margin: 0 auto; display: flex; flex-direction: column;">

    <!-- Header -->
    <div
        class="!shadow-md !rounded-md h-full py-2 !px-4 !font-poppins sm:h-min border border-gray-400 mx-2 flex">
       <!-- employee skill status -->
        <div style="flex: 1; text-align: left; width: 100%;" class>
            <h1 class="!font-poppins"
                style="font-size: 24px; margin: 0; white-space: nowrap; text-align: center; overflow: hidden;">
                <b>Employee Skill Status</b>
            </h1>

            <div style="display: flex; margin-top: 20px;">
                <!-- Left side: Image -->
                <div style="flex: 1; text-align: center;" class="mx-2">
                    <img [src]="this.photo" alt="Avatar" class="rounded-full object-cover"
                        style="width: 150px; height: 150px; border-radius: 5%; display: inline-block;">
                </div>

                <!-- Right side: Employee Info -->
                <div style="flex: 2; text-align: left;">
                    <table style="width: 80%; padding-left: 20px;">
                        <tr>
                            <td
                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 8px;">
                                <b class="text-blue-600">Name</b>
                            </td>
                            <td style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                : {{ skillTestData?.fullname }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                <b class="text-blue-600">Emp ID</b>
                            </td>
                            <td style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                : {{ skillTestData?.gen_id }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                <b class="text-blue-600">Category</b>
                            </td>
                            <td style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                : {{ skillTestData?.desig_name }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                <b class="text-blue-600">Department</b>
                            </td>
                            <td style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                : {{ skillTestData?.dept_name }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                <b class="text-blue-600">Line</b>
                            </td>
                            <td style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                {{ skillTestData?.line_name }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                <b class="text-blue-600">Active Status</b>
                            </td>
                            <td style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                {{ skillTestData?.activestat }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div style="width: 2px; background-color: black; height: 250px;" class="mr-2"></div>
       <!-- offline skill test -->
        <div>
            <h1 
                style="font-size: 24px; margin: 0; white-space: nowrap; text-align: center; overflow: hidden;">
                <b>Offline Skill Test Document</b>
            </h1>
<!-- *ngIf="fileDetails.length != 0" -->
            <div style="display: flex; justify-content: center; margin-top: 2%;">
                <table class="w-full table-auto">
                    <thead >
                        <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                            <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Evaluation No</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Trainer File</th>
                            <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Supervisor File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of fileDetails"  class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                            <td class="!px-2 !py-4 !rounded-s-md text-center">
                                Evaluation-{{ item.curr_skill_level }}
                            </td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center">
                                <a [href]="getUrl(item.tnr_filename)" target="_blank">Test Doc</a>
                            </td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center">
                                <a [href]="getUrl(item.sup_filename)" target="_blank">Evaluation Doc</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<br>
    <!-- Matrix Table Below -->
    <div class="h-[90svh] lg:h-[58vh] xl:h-[58vh] sm:h-[45vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll no-scrollbar mx-2">
        <table id="table" class="table-auto !w-full">
            <thead class="sticky top-0">
                <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                    <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno
                    </th>
                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Operations</th>
                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Level-1</th>
                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Level-2</th>
                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Level-3</th>
                    <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Level-4</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of operationsData; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i + 1 }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ item.oprn_desc }}</td>
                    <td [ngClass]="{ 'yellow': item.oprn_trained == 1 }" class="!px-2 !py-4 !rounded-s-md text-center"></td>
                    <td [ngClass]="{ 'blue': item.oprn_trained == 2 }" class="!px-2 !py-4 !rounded-s-md text-center"></td>
                    <td [ngClass]="{ 'green': item.oprn_trained == 3 }" class="!px-2 !py-4 !rounded-s-md text-center"></td>
                    <td [ngClass]="{ 'darkgreen': item.oprn_trained == 4 }" class="!px-2 !py-4 !rounded-s-md text-center"></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>