# Project exclude paths
node_modules/
.angular/
.idea/
dist/
# src/environments/environment.prod.ts
*.zip
*.pem
ai-ref
dhrm_rbac.png

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
