<div class="mx-2">
  <!-- back date master filter -->
  <div class="!shadow-md !my-4 !rounded-md !mx-auto h-full pb-3 !px-4 !font-poppins sm:h-40 border border-gray-400 ">
     <!-- filter header -->
     <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
        </h1>
        <!-- primeNG speedDial -->
        <p-speedDial 
          [model]="items" 
          direction="left"
          className="absolute right-0 top-0"
          buttonClassName="!h-[2.5rem] !w-[2.5rem]"
        >
        </p-speedDial>
     </div>
     <!-- back date master filter divison -->
     <div class="flex items-center justify-between w-full flex-col sm:flex-row sm:gap-2 xl:w-[35%] md:w-[50%]">
       <!-- plant based filter filter -->
        <div class="font-poppins w-full">
            <label for="status" class="text-gray-400 font-poppins mt-3 mb-1 font-semibold">Plant</label> <br>
            <p-dropdown 
            [options]="plantData"
            [(ngModel)]="selectedPlant"
            optionLabel="plant_name"
            optionValue="plant_code"
            styleClass="w-full"
            (onChange)="filterBackDateByPlant()"  
            placeholder="Select Plant"></p-dropdown>
        </div>
      </div>
  </div>

  <app-loader *ngIf="loader.isLoding | async; else show"></app-loader>
  <!-- back date table -->
    <ng-template #show>
      <div class="h-[90svh] lg:h-[65vh] xl:h-[64vh] sm:h-[45vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll">
          <table  id="table" class="table-auto !w-full">
            <!-- table head -->
            <thead class="sticky top-0">
              <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">
                  SNo
                </th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Plant</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">DOJ Limit</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">EH Approval Limit</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Forgot to Punch HR Limit</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Forgot to Punch Workmen Limit</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">OT Approval For FH Limit</th>
                <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Action</th>
              </tr>
            </thead>
            <!-- table body -->
            <tbody>
              <tr 
              *ngFor="let i of data; let a = index"
              class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer"
              >
                <td class="!px-2 !py-4 !rounded-s-md text-center">{{ a + 1 }}</td>
                <td class="!px-2 !py-4 !rounded-s-md text-center text-blue-600 font-semibold">{{ i.plant }}</td>
                <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.doj_limit }}</td>
                <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.eh_approval_sup }}</td>
                <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.fp_hr }}</td>
                <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i.fp_workmen }}</td>
                <td class="!px-2 !py-4 !rounded-s-md text-center text-purple-600 font-semibold">{{ i.ot_appr_fh }}</td>
                <!-- action btn -->
                <td class="!px-2 !py-4 !rounded-e-md flex items-center justify-center">
                  <button 
                    (click)="openEdit(i)">
                    <mat-icon class="text-blue-600 text-[20px]">edit</mat-icon>
                  </button>
                  <button
                  (click)="deleteBackDate($event,a, i.id)"
                >
                  <mat-icon class="text-red-600 text-[20px]">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </ng-template>
</div>
