<h1 class="title">Comp-Off Application For excess Hours</h1>
<hr style="border-block-color: orange" />
<div style="display: flex;justify-content: flex-start;gap:10px;align-items: center;margin-left: 10px;">
  <mat-form-field appearance="outline"> 
    <mat-label>Gen ID</mat-label>
    <input matInput placeholder="Enter The GenID" [(ngModel)]="genid">
  </mat-form-field>
  <button mat-raised-button color="primary" style="height: 45px;margin-bottom: 15px;" (click)="getData()">Search</button>
</div>
<div class="table-wrapper">
  <table class="table table-bordered table-striped table-hover">
    <table id="table">
      <thead>
        <tr>
          <th
            class="text-center"
            style="width: 500px"
            style="background-color: darkblue"
          >
            SNo
          </th>
          <th div class="text-center">Gen Id</th>
          <th div class="text-center">Name</th>
          <th div class="text-center">Department</th>
          <th div class="text-center">Line</th>
          <th div class="text-center">Date</th>
          <th div class="text-center">In Time</th>
          <th div class="text-center">Out Time</th>
          <th div class="text-center">Excess Hours</th>
          <th div class="text-center">Apply</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of data; let a = index">
          <td>{{ a + 1 }}</td>
          <td>{{ i.gen_id }}</td>
          <td>{{ i.fullname }}</td>
          <td>{{ i.dept_name }}</td>
          <td>{{ i.Line_Name }}</td>
          <td>{{ i.att_date }}</td>
          <td>{{ i.in_time }}</td>
          <td>{{ i.out_time }}</td>
          <td>{{ i.expect_othr }}</td>
          <td><button mat-raised-button color="primary" (click)="openDialog(i)">Apply</button></td>
        </tr>
      </tbody>
    </table>
  </table>
</div>
