<form [formGroup]="form">
  <div *ngFor="let i of formvalues" class="container flex items-center justify-center flex-col xl:flex-row" id="printDiv">
    <!-- front card design -->
    <div class="card bg-image">
      <!-- rane logo -->
      <div class="flex items-center justify-center my-2">
        <img class="h-[var(--id-card-height)] w-[var(--id-card-width)] bg-white" src="assets/ranelogo.png" alt="rane-logo">
      </div>
      <!-- company name -->
       <p class="text-3xl text-center mb-2 font-bold mx-1">
        Rane Holdings Limited Rane Holding 
      </p>
      <!-- trainee image -->
      <!-- src=this.url -->
       <div  class="flex items-center justify-center">
          <img 
           class="w-[var(--trainee-img-width)] h-[var(--trainee-img-height)] object-contain !border-2 !border-gray-400 rounded-md" 
           src="assets/Executive.jpeg" 
           alt="Avatar" />
       </div>
     
      <!-- trainee details -->
       <div class="ml-8">
        <p class="text-xl font-semibold font-poppins my-2">
          Name 
          <span class="ml-[4.5rem]">:</span>
          <span class="ml-2 font-normal inline-block">{{i?.fullname}}</span>
        </p>
        <p class="text-xl font-semibold font-poppins my-2">
          Trainee ID
           <span class="ml-8">:</span>
          <span class="ml-2 font-normal">{{i?.gen_id}}</span>
        </p>
        <p class="text-xl font-semibold font-poppins my-2">
          Blood Group
           <span class="ml-2">:</span>
          <span class="ml-2 font-normal">{{i?.blood_group}}<span class="text-sm">Ve</span></span>
        </p>
       </div>
       <!-- signature -->
        <div class="flex item-center justify-between mt-2">
          <div class="text-center w-1/2">
            <img [src]="plant" alt="sign" class="object-contain">
            <p class="text-lg">Holder's Signature</p>
          </div>
          <div class="text-center w-1/2">
            <img [src]="plant" alt="sign">
            <p class="text-lg">Issuing Authority</p>
          </div>
        </div>
        <!-- plant details -->
        <div class="bg-[var(--rane-logo)] mt-2 h-full rounded-b-md">
          <p class="text-2xl text-white font-bold text-center pt-2">{{i?.plant_name}}</p>
          <p class="text-lg text-center text-white">{{i?.addr}}</p>
        </div>

      <!-- <table class="font">
        <div class="mx-5" style="align-items: center; text-align: center;">
          <tr class="font">
            <div style="padding-left: 5px;">
              <div class="name-container" style="font-size: large; text-align: center; font-size: 30px; "><textarea style="height:100px;width:300px; line-height: 1;" readonly>{{i.fullname}}</textarea></div><br>

              <div style="font-size: large; text-align: center; font-size: 20px;"><b>Gen ID : {{i.gen_id}}</b></div>
              <br><br>
              <div style="font-size: large; text-align: center; font-size: 16px; display: inline-block;"><b>Valid from :</b> {{frommdate}} to
                {{toodate}}</div>
            </div><br><br>
        </div>
          <img class="sign" height="75px" [src]='this.plant' alt="Avatar">
        <br><br><br><br>
        <div class="sign1">
          <b>Issuing Authority </b>
        </div>
      </table> -->
    </div>
    <!-- back card design -->
    <div class="card bg-image2 mt-6 xl:mt-0">
      <div class="container2">
        <!-- col-sm-8 -->
        <div>
          <table class="font mt-20">
            <!-- other details -->
            <div class="md ml-6">
               <tr>
                <td div class="aligncommand1 text-xl"><b> Date Of Joining</b></td>
                <td div class="aligncommand1 text-xl">: {{i?.doj | date: 'dd-MM-yyyy'}}</td>
               <tr>
                 <tr>
                <td div class="aligncommand1 text-xl"><b> Valid From</b></td>
                <td div class="aligncommand1 text-xl">: {{fromdate | date: 'dd-MM-yyyy'}}</td>
               <tr>
                 <tr>
                <td div class="aligncommand1 text-xl"><b> Valid To</b></td>
                <td div class="aligncommand1 text-xl">: {{todate | date:'dd-MM-yyyy'}}</td>
               <tr>
              <tr>
                <td div class="aligncommand1 text-xl"><b> Date Of Birth</b></td>
                <td div class="aligncommand1 text-xl">: {{i.birthdate | date: 'dd-MM-yyyy'}}</td>
              <tr>
                <td div class="aligncommand1 text-xl"><b>Employee Nature</b></td>
                <td div class="aligncommand1 text-xl">: Trainee</td>
              <tr>
                <td div class="aligncommand1 text-xl"><b>Department</b></td>
                <td div class="aligncommand1 text-xl">: {{i?.dept_name}}</td>
            </div>
            <!-- address -->
            <p class="py-1 bg-[var(--rane-logo)] text-center text-2xl mt-2 text-white">Address</p>
            <!-- <textarea class = 'home_addr' type="text" formControlName="permanent" readonly style="width: 350px;height:auto;font-size: 15px;"></textarea> -->
            <div class="md ml-6">
               <tr class="my-2">
                <td div class="aligncommand1 text-xl"><b>Res. Address </b> :</td>
               </tr>
               <p class="text-xl">{{i?.addr}}</p>
              <tr class="my-2">
                <td div class="aligncommand1 text-xl"><b>Contact No</b></td>
                <td div class="aligncommand1 text-xl">: +91 {{i.mobile_no1}}</td>
              </tr>
            </div>
            <!-- emergency details -->
             <p class="py-1 bg-[var(--rane-logo)] text-center text-2xl mt-2 text-white">
              Emergency Contact
            </p>
            <div class="md ml-6">
              <tr>
                <td div class="aligncommand1 text-xl"><b>Name</b></td>
                <td div class="aligncommand1 text-xl">: {{i.emergency_name}}</td>
              <tr>
                <td div class="aligncommand1 text-xl"><b>Relation</b></td>
                <td div class="aligncommand1 text-xl">: {{i.emergency_rel}}</td>
              <tr>
                <td div class="aligncommand1 text-xl"><b>Mobile No</b></td>
                <td div class="aligncommand1 text-xl">: +91 {{i.mobile_no2}}</td>

            </div>
          </table>
        </div>

      </div>
    </div>
  </div>
<!-- print btn -->
  <div class="relative float-right">
  <button
      pButton
      label="Print ID"
      icon="pi pi-save"
      iconPos="right"
      (click)="printing()"
      class="mr-8 btn">
    </button>
  </div>
 
</form>