<!-- add and update line template -->
<ng-template #content let-modal>
  <!-- modal form -->
  <div>
    <div class="bg-blue-600 flex items-center justify-start py-4">
      <div class="flex items-center justify-start text-white font-poppins mx-4 gap-2">
        <div  class="px-2 py-2 rounded-md bg-[var(--bg-transparent)] flex items-center justify-center">
           <mat-icon class="h-0 w-0 text-2xl opacity-100">{{!editing_flag ? 'add_circle' : 'edit'}}</mat-icon>
        </div>
         <h4 class="text-2xl text-white">{{!editing_flag ? 'Add Line' : 'Update Line'}}</h4>
      </div>
    </div>
    <form [formGroup]="form">
      <!-- plant dropdown -->
      <div class="mx-2 mt-3">
        <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2">
          <mat-icon class="text-2xl text-blue-600 h-0 w-0">adf_scanner</mat-icon>
          Plant
        </label><br />
        <p-dropdown 
          formControlName="plant_name"
          [options]="plantCopy"
          optionLabel="plant_name"
          optionValue="plant_code"
          styleClass="w-full"
          (onChange)="getall($event)"
          placeholder="Select Plant">
           <ng-template let-plant pTemplate="item">
              <div class="flex align-items-center gap-2">
                <span>{{ plant?.plant_code + '-' + plant.plant_name }}</span>
              </div>
            </ng-template>
        </p-dropdown>
      </div>
      <!-- department dropdown -->
       <div class="mx-2 mt-3">
        <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2">
           <mat-icon class="text-2xl text-blue-600 h-0 w-0">store</mat-icon>
          Department
        </label><br />
        <p-dropdown 
          formControlName="dept_name"
          [options]="dept"
          optionLabel="dept_name"
          optionValue="dept_slno"
          styleClass="w-full"
          placeholder="Select Department" >
           <ng-template let-dept pTemplate="item">
              <div class="flex align-items-center gap-2">
                <span>{{ dept?.dept_slno + '-' + dept.dept_name }}</span>
              </div>
            </ng-template>
        </p-dropdown>
      </div>
      <!-- line name input -->
        <div class="mx-2 mt-3">
          <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
            <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
            Line Name
          </label>
          <br />
          <input
            class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none -mt-10 -mb-10 rounded-md h-[48px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
            type="text"
            id="code"
            formControlName="Line_Name"
          />
        </div>
      <!-- personal sub area input -->
        <div class="mx-2 mt-4">
          <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
            <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
            Personal Subarea
          </label>
          <br />
          <input
            class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none -mt-10 -mb-10 rounded-md h-[48px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
            type="text"
            id="code"
            formControlName="personal_subarea"
          />
        </div>
      <br />
    </form>
  </div>
  <!-- modal footer -->
  <div class="modal-footer bg-gray-100">
    <!-- add btn -->
    <button
      *ngIf="editing_flag == false"
      type="button"
      class="btn btn-primary btn-lg rounded-[1.25rem] px-3 shadow-md bg-blue-600"
      (click)="save()"
      (click)="modal.close('Close click')"
      [disabled]="!form.valid"
    >
      Add Line
    </button>
    <!-- update btn -->
    <button
      *ngIf="editing_flag == true"
      type="button"
      class="btn btn-warning btn-lg rounded-[1.25rem] px-3 shadow-md text-white"
      (click)="editSave()"
      (click)="modal.close('Close click')"
    >
      Update Line
    </button>
    <!-- cancel btn -->
    <button
      type="button"
      class="btn btn-light btn-lg rounded-[1.25rem] px-3 shadow-md"
      (click)="reset()"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
  </div>
</ng-template>

<div class="mx-2">
 <!-- line master filter -->
  <div class="!shadow-md !my-4 !rounded-md !mx-auto h-full pb-2 !px-4 !font-poppins sm:h-40 border border-gray-400 ">
    <!-- filter header -->
     <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
          <!-- total count -->
           <span class="bg-blue-200 rounded-md px-2 py-1 text-base">
            Total Count: {{line?.length || 0}}
           </span>
        </h1>
       <!-- primeNG speedDial -->
        <p-speedDial 
          [model]="items" 
          direction="left"
          className="absolute right-0 top-0"
          buttonClassName="!h-[2.5rem] !w-[2.5rem]"
        >
        </p-speedDial>
     </div>
     <!--  line master filter divison -->
     <div class="flex items-center justify-start w-full flex-col sm:flex-row sm:gap-2">
        <!-- plant based filter filter -->
        <div class="font-poppins w-full sm:w-1/3">
            <label for="status" class="text-gray-400 font-poppins mt-3 mb-1 font-semibold">Plant</label> <br>
            <p-dropdown 
            [options]="plantname"
            [(ngModel)]="selectedPlant"
            optionLabel="plant_name"
            optionValue="plant_code"
            styleClass="w-full"
            (onChange)="filterLineByPlant()"  
            placeholder="Select Plant">
            <ng-template let-plant pTemplate="item">
              <div class="flex align-items-center gap-2">
                <span>{{ plant?.plant_code + '-' + plant.plant_name }}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <!-- department filter -->
        <div class="font-poppins w-full sm:w-1/3">
            <label for="status" class="text-gray-400 font-poppins font-semibold mt-3 mb-1">Department</label> <br>
            <p-dropdown
            [options]="departmentData"
            [(ngModel)]="selectedDepartment"
            (onChange)="filterLineByDepartment()" 
            optionLabel="dept_name"
            optionValue="dept_name"
            [filter]="true"
            filterBy="dept_name"
            filterPlaceholder="Search Department"
            styleClass="w-full"
            placeholder="Select Department">
           <ng-template let-dept pTemplate="item">
              <div class="flex align-items-center gap-2">
                <span>{{ dept?.dept_slno + '-' + dept.dept_name }}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
     </div>
  </div>

  <app-loader *ngIf="loader.isLoding | async; else show"></app-loader>
  <!-- line table -->
  <ng-template #show>
    <div class="h-[90svh] lg:h-[65vh] xl:h-[63vh] sm:h-[45vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll">
        <table id="table" class="table-auto !w-full">
          <!-- line table head -->
          <thead class="sticky top-0">
            <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins xl:!text-left">
              <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
              <th class="!text-white !px-2 !py-2 !border-none !border-0">Plant</th>
              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Module Code</th>
              <th class="!text-white !px-2 !py-2 !border-none !border-0">Department</th>
              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">
                Line code</th>
              <th class="!text-white !px-2 !py-2 !border-none !border-0">
                Line Name</th>
              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Subarea</th>
              <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Action</th>
            </tr>
          </thead>
          <!-- line table body -->
          <tbody>
            <tr 
             *ngFor="let i of line; let a = index"
             class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer"
            >
              <td class="!px-2 !py-4 !rounded-s-md text-center">{{ a + 1 }}</td>
              <td class="!px-2 !py-4 !rounded-s-md text-blue-600 font-semibold">{{ i.plant_code + '-' + i.plant_name }}</td>
              <td class="!px-2 !py-4 !rounded-s-md text-center text-blue-600 font-semibold">{{ i.module_code }}</td>
              <td class="!px-2 !py-4 !rounded-s-md">{{ i.dept_name }}</td>
              <td class="!px-2 !py-4 !rounded-s-md text-center text-purple-600 font-semibold">{{ i.Line_code}}</td>
              <td class="!px-2 !py-4 !rounded-s-md`">{{ i.Line_Name }}</td>
              <td class="!px-3 !py-4 !rounded-s-md text-center ">
                <span class="px-2 py-1 bg-blue-100 rounded-md">{{ i.personal_subarea }}</span>
              </td>
              <!-- action buttons -->
              <td class="!px-2 !py-4 !rounded-e-md flex items-center justify-center">
                <button
                  (click)="opentoedit(content)"
                  (click)="edit(a, i.Line_code)"
                >
                  <mat-icon class="text-blue-600 text-[20px]">edit</mat-icon>
                </button>
                <button
                  (click)="deleteLine($event,a, i.Line_code)"
                >
                  <mat-icon class="text-red-600 text-[20px]">delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </ng-template>
</div>
