<div class="overlay" [hidden]="!contractorForm"></div>
<div class="shadow-lg dark-modal ">
    
    <div class=" form-popup container1 mat-elevation-z8" [hidden]="!contractorForm">
        <div>
            <div>
              <div class="heading" style="padding-bottom:10px;">
                <div class="head1">
                  <h2> Contractor Registration</h2>
                </div>
                <div class="head2">
                  <button (click)="closeAllForms($event)" >X</button>
                </div>
              </div>
      
            </div>
            <hr style="border-block-color: orange; margin:0" />

        <mat-vertical-stepper #stepper>
         
            <mat-step required label="Contractor Basic Details" [stepControl]="contractorBasicDetails" >
            <form [formGroup]="contractorBasicDetails">
                <div class="columns" id="firstBox" style="padding-bottom:10px;">
                    <div class="column">
                      <mat-form-field appearance="outline">
                        <mat-label>Plant</mat-label>
                        <mat-select formControlName="plant_Code" >
                          <mat-option *ngFor="let plant of plantArr" [value]="plant.plant_code" >
                            {{ plant.plant_code }}/{{ plant.plant_name }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="contractorBasicDetails.get('plant_Code')?.hasError('required')">Please Select Plant</mat-error>
                      </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" >
                            <mat-label>Company Name</mat-label>
                            <input type="text" matInput style="text-transform: uppercase" formControlName="contraCompName" required />
                            <mat-error *ngIf="contractorBasicDetails.get('contraCompName')?.hasError('required')">Please Provide company Name</mat-error>
                            <mat-error *ngIf="contractorBasicDetails.get('contraCompName')?.hasError('minLength')">Name Must be 4 characters</mat-error>
                            <mat-error *ngIf="contractorBasicDetails.get('contraCompName')?.hasError('hasSpecialCharacters')">Special characters are not allowed</mat-error>
                          </mat-form-field>


                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Contractor Owner Name</mat-label>
                            <input type="text" (keypress)="keyPressAlpha($event)"    (keypress)="keyPressAlpha($event)"  matInput formControlName="contrOwnerName" required />
                            <mat-error *ngIf="contractorBasicDetails.get('contrOwnerName')?.hasError('required')">Please Provide Onwer Name</mat-error>
                            <mat-error *ngIf="contractorBasicDetails.get('contrOwnerName')?.hasError('minLength')">Name Must be 4 characters</mat-error>
                           
                          </mat-form-field>



                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Contractor Owner Number</mat-label>
                            <input type="number" class="quantity" matInput formControlName="contraOwnerNumber"  (input)="mobileNumber($event, 'contraOwnerNumber')" required />
                            <mat-error *ngIf="contractorBasicDetails.get('contraOwnerNumber')?.hasError('required')">Enter 10 digit number</mat-error>
                               <mat-error *ngIf="contractorBasicDetails.get('contraOwnerNumber')?.hasError('pattern')">Invalid Number</mat-error>
                          </mat-form-field>
                         
                         
                       
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Contractor Owner Email</mat-label>
                            <input type="email" matInput formControlName="contraOwnerEmail" required />
                            <mat-hint>Enter Email in small case</mat-hint>
                            <mat-error *ngIf="contractorBasicDetails.get('contraOwnerEmail')?.hasError('pattern')">Email must be a valid email address</mat-error>
                          </mat-form-field>
                        
                            
                    </div>


                    <div class="column">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Primary Contact Person</mat-label>
                            <input type="text" (keypress)="keyPressAlpha($event)" matInput formControlName="pocPerson" />
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label> Mobile Number </mat-label>
                            <input type="number" class="quantity" matInput formControlName="number"  (input)="mobileNumber($event, 'number')" />
                            <mat-error *ngIf="contractorBasicDetails.get('number')?.hasError('pattern')">Invalid Number</mat-error>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Email </mat-label>
                            <input type="emil" matInput formControlName="email" />
                            <mat-error *ngIf="contractorBasicDetails.get('email')?.hasError('pattern')">Email must be a valid email address</mat-error>
                          </mat-form-field>

                          <mat-form-field
                          appearance="outline"
                          class="example-full-width"
                        >
                          <mat-label>Address</mat-label>
                          <textarea type="text" matInput formControlName="address" required></textarea>
                        </mat-form-field>
                    </div>
            
                </div>
                <div style="display: flex; justify-content:center;padding-top:0.5em;padding-right: 5em;">
                    <button mat-raised-button color="primary" matStepperNext >
                      Save
                    </button>
                  </div>

            </form>
            
           

            </mat-step>
    
            <mat-step required label="Contractor License Details" [stepControl]="contractorLicenseDetails" >
                <form [formGroup]="contractorLicenseDetails" >
                <!-- <form [formGroup]="contractorLicenseDetails" (ngSubmit)="onSubmit2($event)"> -->
                <div class="columns" id="firstBox" style="padding-bottom:10px;">
                    <div class="column">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>License Number </mat-label>
                            <input class="quantity" type="text" (keypress)="keyPressAlphaNumeric($event)" matInput formControlName="L_Number" required />
                            <mat-error *ngIf="contractorLicenseDetails.get('L_Number')?.hasError('required')">License Number Required</mat-error>
                        </mat-form-field>
                        <div  id="item-2">
                            <mat-form-field
                              appearance="outline"
                              color="primary"
                              class="example-full-width"
                              (click)="picker1.open()"
                            >
                              <mat-label>License Valid From</mat-label>
                              <input
                            
                                matInput
                                formControlName="L_Valid_From"
                                [matDatepicker]="picker1"
                              />
                              <mat-hint>DD/MM/YYYY</mat-hint>
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="picker1"
                              ></mat-datepicker-toggle>
                              <mat-datepicker #picker1> </mat-datepicker>
                              <mat-error *ngIf="contractorLicenseDetails.get('L_Valid_From')?.hasError('required')">Enter valid Date </mat-error>
                            </mat-form-field>


                            <mat-form-field
                              appearance="outline"
                              color="primary"
                              class="example-full-width"
                              (click)="picker2.open()"
                            >
                              <mat-label>License Valid TO</mat-label>
                              <input
                             
                                matInput
                                formControlName="L_Valid_To"
                                [matDatepicker]="picker2"
                              />
                              <mat-hint>DD/MM/YYYY</mat-hint>
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="picker2"
                              ></mat-datepicker-toggle>
                              <mat-datepicker #picker2> </mat-datepicker>
                              <mat-error *ngIf="contractorLicenseDetails.get('L_Valid_To ')?.hasError('required')">Enter valid Date </mat-error>
                            </mat-form-field>




                          </div>  


                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Max Head Count</mat-label>
                            <input type="number" class="quantity" matInput formControlName="MaxHeadLimit" (input)="onInput($event)" />
                            <mat-error *ngIf="contractorLicenseDetails.get('MaxHeadLimit')?.hasError('required')">Please enter Max. Head Count</mat-error>
                          </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>SAP Vendor Code</mat-label>
                          <input type="number" class="quantity" matInput formControlName="Sap_vendor_Code" (input)="sapNumber($event)" />
                          <mat-error *ngIf="contractorLicenseDetails.get('Sap_vendor_Code')?.hasError('required')">Please Enter SAP vendor code</mat-error>
                        </mat-form-field>

                        <div id="radio">
                          <mat-label>Is Security : </mat-label>
                          <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="is_Security" class="example-radio-group">
                         <mat-radio-button value="Y">Yes</mat-radio-button>
                              <mat-radio-button value="N" >No</mat-radio-button>
                              <!-- <mat-error *ngIf="contractorLicenseDetails.get('is_Security')?.hasError('required')">Please Select Yes or No </mat-error> -->
                          </mat-radio-group>
                        
                      </div>


                        <mat-form-field
                        appearance="outline"
                        color="primary" 
                        class="example-full-width"
                        (click)="picker3.open()"
                      >
                        <mat-label>Effective From</mat-label>
                        <input
                       
                          matInput
                          formControlName="EffectIveDate"
                          [matDatepicker]="picker3"
                        />
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle
                        matSuffix
                          [for]="picker3"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker3> </mat-datepicker>
                        <mat-error *ngIf="contractorLicenseDetails.get('EffectIveDate')?.hasError('required')">Enter Valid Date</mat-error>
                      </mat-form-field>
                  


<div >
<mat-form-field  id="fir" appearance="outline" class="example-full-width">
  <mat-label>License file Attachment</mat-label>
  <input type="text" readonly matInput formControlName="License_Attachment" />
  <input type="text" readonly matInput formControlName="License_File" hidden />
  <input type="file" accept=".pdf" (change)="onFileChange($event)" #fileInput hidden />
  <button mat-button mat-icon-button matSuffix (click)="fileInput.click()">
    <mat-icon>attach_file</mat-icon>
  </button>

</mat-form-field>

<a [href]=fileUrl target = "_blank" style="padding-left: 1em;" (click)="viewFile()" id="sec">View</a>
</div>



            
                    </div>
                    <div class="column">

                      <div  id="item-2">
                        <mat-radio-group aria-label="Service Charge"  formControlName="serviceOption" (change)="onServiceOptionChange($event)">
                          <mat-label>Service Charge : </mat-label>
                          <mat-radio-button value="N">% on gross</mat-radio-button>
                          <mat-radio-button value="Y">Fixed on gross</mat-radio-button>

                        </mat-radio-group>
                        
                      </div>

                      <div  id="item-2">

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Service Charge % on gross</mat-label>
                          <input type="number" class="quantity" matInput formControlName="serviceChargePercent"  />
                          <mat-error *ngIf="contractorLicenseDetails.get('serviceChargePercent')?.hasError('required')">Please Enter Service Charge</mat-error>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Service Charge Value on gross</mat-label>
                          <input type="number" class="quantity" matInput formControlName="serviceChargeValue"  />
                          <mat-error *ngIf="contractorLicenseDetails.get('serviceChargeValue')?.hasError('required')">Please Enter Service Charge Value</mat-error>
                        </mat-form-field>
                        
<!-- </div>
                      <div  id="item-2"> -->
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Service Tax % on gross</mat-label>
                          <input type="number" class="quantity" matInput formControlName="serviceTax" />
                          <mat-error *ngIf="contractorLicenseDetails.get('serviceTax')?.hasError('required')">Please Enter Service Tax </mat-error>
                      </mat-form-field> 
                      </div>

                                              
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>PAN No.</mat-label>
                            <input type="text" style="text-transform: uppercase"  (keypress)="keyPressAlphaNumeric($event)"   matInput formControlName="panNo" />
                        </mat-form-field>                        
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>GST No.</mat-label>
                            <input type="text" style="text-transform: uppercase"  (keypress)="keyPressAlphaNumeric($event)"   matInput formControlName="gstNo" />
                        </mat-form-field>                        
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>ESI Employee Code</mat-label>
                            <input type="text" style="text-transform: uppercase"  (keypress)="keyPressAlphaNumeric($event)"   matInput formControlName="esiEmpCode" />
                        </mat-form-field>                        
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>PF Employee Code</mat-label>
                            <input type="text" style="text-transform: uppercase"  (keypress)="keyPressAlphaNumeric($event)"   matInput formControlName="pFEmpCode" />
                        </mat-form-field> 
                        <mat-form-field  appearance="outline">
                          <mat-label>Status</mat-label>
                          <mat-select formControlName="status">
                            <mat-option value="true">Active</mat-option>
                            <mat-option value="false">Inactive</mat-option>
          
                          </mat-select>
              
                        </mat-form-field>
                        
                    </div>
            
                </div>
               

<div class="columns" >
  <div
  style="display: flex; justify-content: space-around;padding-top:1.5em"
  >
  <button
    mat-raised-button
    matStepperPrevious
    id="red"
    type="reset"
   (click)="reset()"
  >
    Reset
  </button>
  <button mat-raised-button color="primary" matStepperPrevious  >
    Back
  </button>
  <button id="green" *ngIf="showAdd" mat-raised-button color="primary"  (click)="submitForm()"
  >Add</button>
  <button id="green" *ngIf="!showAdd" mat-raised-button color="primary"  (click)="updateContractor()" (click)="closeAllForms($event)"   >
    Update</button>
  </div>


</div> 
</form>
            </mat-step>
         
        </mat-vertical-stepper>
    </div>
    </div>
    </div>
    








<div class="container">
    <br>
    
    <div>
        <h1 id = "title1" >Contractor Master</h1>
        <hr style="border-block-color: orange" />
      </div>


      <div class="button">
        <!-- <form [formGroup]="searchForm" (ngSubmit)="search()">
          <input type="text" formControlName="searchParams" placeholder="Search by contCode, companyName, or sapVendor">
          <button type="submit"> <mat-icon>Search</mat-icon></button>
        </form> -->

<!-- 
        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="CName" />
        </mat-form-field> -->
        <button mat-fab color="primary" (click)="showContractorForm()"  (click)="clickAddContractor()"  style="float: right" aria-label="Example icon button with a delete icon">
            <mat-icon>person_add</mat-icon>
        </button></div>
        <div class = "button1">
        <button mat-fab style="float: right" (click)="exportExcel()" aria-label="Example icon button with a delete icon" >
            <mat-icon>download</mat-icon>
        </button></div>
        <br>
        <!-- <br><br> -->
        <br>
        <br> 
        <app-loader *ngIf="loader.isLoding | async;else show"></app-loader>


        <ng-template #show>
            <div class = "table-wrapper" >
            <table class="table table-bordered table-striped table-hover">
                <table id="table">
                    <thead>
                        <tr>
                            <th  class="text-center"
                            style="width: 500px"
                            style="background-color: darkblue">SNo</th>

                            <th div class="text-center">Contractor code</th>
                            <th div class="text-center">Plant</th>
                            <th div class="text-center">Company Name</th>
                            <th div class="text-center">Contractor Owner Name </th>
                            <th div class="text-center">SAP Vendor code </th>
                            <th div class="text-center">Max Head Count </th>
                            <th div class="text-center">POC Name </th>
                            <th div class="text-center">Mobile Number</th>
                            <th div class="text-center">Email</th>
                            <th div class="text-center">Date Of Registration</th>
                            <th div class="text-center">Created On</th>
                            <th div class="text-center">Status</th>
                            <th div class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of activeData ; let i = index">
                        <!-- <tr *ngFor="let data of contractorData ; let i = index"> -->
                            <td>{{i+1}}</td>
                            <td>{{data.Cont_code}}</td>                            
                            <td>{{data.Plant_code}}</td>
                            <td>{{data.Cont_company_name}}</td>
                            <td>{{data.Cont_onwer_name}}</td>
                            <td>{{data.Sap_vendor_Code}}</td>
                            <td>{{data.Max_head_count}}</td>
                            <td>{{data.PContact_Person}}</td>
                            <td>{{data.P_Mobile_No}}</td>
                            <td>{{data.P_Email}}</td>
                            <td>{{data.Lic_FromDate | date: 'dd-MM-yyyy'}}</td>
                            <td>{{data.created_On | date: 'dd-MM-yyyy'}}</td>
                            <td *ngIf="data.Status == 1; else inactive">Active</td>
                            <ng-template #inactive>
                              <td>Inactive</td>
                            </ng-template>
            
                            <td>
                                <button mat-mini-fab color = 'accent'  (click)="OnEdit(data)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" type="button" (click)="deleteContractor(data)" >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
                  <!-- <p *ngIf="contractorData.length === 0 ">No contractor Data  are added</p> -->
                  </table>

</div>

        </ng-template> 

</div>
  

