<!-- <div class = 'container'> -->
<div class="mx-2 overflow-hidden">
    <!-- trainee application header -->
  <div
    class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 !rounded-md !mx-auto !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row md:!h-20"
  >
    <div class="flex items-start justify-start flex-col">
      <h1
        class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600"
      >
        <mat-icon>assignment_ind</mat-icon> Trainee Application
        <hr />
      </h1>
      <!-- <p class="mt-1 text-gray-400">Trainee Application</p> -->
    </div>
    <!-- user details -->
    <h1
      class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right"
    >
      {{ userDetails }}
    </h1>
     <img *ngIf="ishr == 'undefined'" src="assets/rane.png" class="img" />
  </div>
  <!-- <img *ngIf="ishr == 'undefined'" src="assets/rane.png" class="img" /> -->
  <!-- basic details form -->
  <ng-container *ngIf="Load">
    <app-basic
      [basic]="details"
      (emit)="eventchanger_basic($event)"
    ></app-basic>
  </ng-container>
  <hr />
 <!-- bank form -->
  <ng-container *ngIf="Load">
    <app-banks [bank]="details"></app-banks>
  </ng-container>
  <hr />
 <!-- family edit -->
  <app-familyedit (emit)="eventchanger_fam($event)"></app-familyedit>
  
  <!-- emergency contact details -->
  <ng-container *ngIf="Load">
    <app-emergency
      [emer]="details"
      (emit)="eventchanger_emer($event)"
    ></app-emergency>
  </ng-container>
  <hr />
  
  <!-- <app-educational></app-educational> -->
   <!-- educational details -->
  <app-education-edit (emit)="eventchanger_edu($event)"></app-education-edit>
  <hr />
  
  <!-- <app-prev></app-prev> -->
   <!-- previous employement -->
  <app-prev-edit></app-prev-edit>
  <hr />
 
  <!-- language details -->
  <ng-container *ngIf="Load">
    <app-language [details]="details"></app-language>
  </ng-container>
  <hr />

  <!-- other details -->
  <ng-container *ngIf="Load">
    <app-other [other]="details"></app-other>
  </ng-container>
  <hr />
  
  <ng-container *ngIf="Load">
    <app-choose-files
      [basicDetails]="details"
      (emit)="eventchanger_choose($event)"
    ></app-choose-files>
  </ng-container>
  <hr />
  <!-- trainee category *ngIf="showCategory"-->
  <app-category (emit)="category_event($event)" *ngIf="showCategory" ></app-category>

  <!-- new joiner onboard form -->
   <app-onboard-form 
     [applicationNumber]="details[0]?.apln_slno"
     [applicationStatus]="details[0]?.apln_status"
     [applicationData]="details[0]" 
     *ngIf="showOnboard">
  </app-onboard-form>

  <!-- rejection reason -->
  <p *ngIf="apln_status=='REJECTED'" class="mx-6 font-semibold text-xl mt-2 text-red-500">
    Application Rejection Reason:
    <span style="color: black;">{{details[0].remarks_rejd}}</span>
  </p>

  <!-- show only if apprentice type is CL -->
  <div class="row" *ngIf="ishr== 'undefined' || showCategory ? true : false">
    <div class="col-sm-6">
      <div class="btn1">
        <p-confirmDialog ></p-confirmDialog>
        <!-- send for approval btn show if only for CL supervisor application -->
        <button
          pButton
          [hidden]="true"
          *ngIf="ishr !== 'undefined'"
          label="Send For Approval"
          icon="pi pi-send"
          type="submit"
          style="margin-bottom: auto"
          class="mx-4"
          (click)="allSave($event)"
        >
        </button>
        <!-- trainee submit btn -->
          <button
          pButton
          *ngIf="ishr == 'undefined'"
          label="Sumbit"
          icon="pi pi-send"
          type="submit"
          style="margin-bottom: auto"
          class="mx-4"
          (click)="submitTraineeApplication($event)"
        >
         </button>
        <button
          pButton
          label="Back"
          icon="pi pi-angle-double-left"
          *ngIf="ishr == 'true'"
          class="bg-purple-600 border-none outline-none"
          routerLink="/rhrm/new_joiners/trainee-application-status"
        >
        </button>
      </div>
    </div>
    <div class="col">
      <button
       pButton
       label="Print ID"
       label="pi pi-id-card"
       class="bg-purple-600 border-none outline-none"
        *ngIf="this.status.status == 'APPOINTED'"
        [routerLink]="[
          '/idcard',
          this.status.status,
          this.uniqueId.mobile,
          this.uniqueId.company
        ]"
      >
      </button>
      <div *ngIf="message" class="col-sm-12">
        <span style="color: red"
          >(Mandatory fields are not yet filled. Submit is not Permitted.
          )</span
        >
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <!-- </div> -->
</div>
