<div class="container">
    <div style="margin-top: 40px;">

        <h1><b>Supervisor Abservent</b></h1>

        <div [formGroup]="form" class="row">
            <div style="display: flex; align-content: center; justify-content: flex-start;gap:10px">
                <div>
                    <select (change)="getquestion($event)" style="font-size:14px; width: 100px;"
                        formControlName="module" class="question-bank-input">
                        <option value="">Select Department</option>
                        <option *ngFor="let module of modules; let i = index" [value]="module.dept_slno">
                            {{module.dept_name}}
                        </option>
                    </select>
                </div>
                <div>
                    <button mat-raised-button class="btn-success" (click)="submit()">Save</button>&nbsp;
                    <button mat-raised-button class="btn-danger" (click)="clearForm()">Clear</button>
                </div>
            </div>
        </div>
        <br><br>

        <div>
            <table style="width: 100%; border-collapse: collapse;" border="1">
                <thead style="background-color: rgb(24, 33, 205); color: white; height: 30px;">
                    <tr>
                        <td style="width: 10%; text-align: center;">Sl.NO</td>
                        <td style="width: 80%; text-align: center;">Supervisor Abservent Points</td>
                        <td style="width: 10%; text-align: center;">Active Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let q of questions; let i = index">
                        <td style="text-align: center;">{{ i + 1 }}</td>
                        <td class="qb-input">
                            <textarea [readonly]="form.controls['module'].value === ''"
                                style="resize:none;outline: none;border-color: white;width: 100%;height: 300px; text-align: left;"
                                (change)="question($event, i)" (click)="addrow(i)" type='text'
                                class="qb-group">{{q.question}}</textarea>
                        </td>
                        <td style="text-align: center;">
                            <label class="switch">
                              <input 
                                type="checkbox" 
                                [checked]="q.ActSts === true" 
                                (change)="handleToggle(q, $event)"
                              />
                              <span class="slider"></span>
                            </label>
                          </td>                                                    
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>