<div class="">
  <!-- Attedance header -->
  <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 mx-2 !rounded-md !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row md:!h-20">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>calendar_today</mat-icon> View Attendance  <hr/>
    </h1>
    <p class="mt-1 text-gray-400">View Employee Attendance Information</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
  </div>
  <!-- actions -->
   <div>
    <!-- actions -->
  <div class="!shadow-md !my-4 !rounded-md  h-full pb-3 !px-4 !font-poppins sm:h-min border border-gray-400 mx-2">
    <!-- action header -->
      <div class="flex item-center justify-between">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Actions <mat-icon>call_to_action</mat-icon>
        </h1>
        <div class="flex items-center justify-around gap-8 mt-2">
          <!-- month -->
        <div class="text-center text-[1.3rem] flex gap-3">
          <!-- month nav link -->
          <div class="flex gap-3">
            <!-- prev btn -->
          <div>
            <button
              pButton 
              icon="pi pi-arrow-circle-left"
              class="!px-0 !py-2 bg-orange-200 !outline-none !border-none text-orange-600 !w-[2.5rem]"
              (click)="getDates()"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"  
            >
          </button> 
          </div>
          <!-- next btn -->
          <div>
            <button 
            pButton
              icon="pi pi-arrow-circle-right"
              iconPos="right"
              class="!px-0 !py-2 bg-purple-200 !outline-none !border-none text-purple-600 !w-[2.5rem]"
              (click)="getDates()"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"  
            >
          </button> 
          </div>
          </div>
         <span class="text-blue-600 font-semibold text-center flex item-center justify-center w-56">
          {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
         </span>
        </div>
        </div>
      </div>
     <div>
     <!-- action row one -->
      <div class="flex items-center justify-start w-full flex-col sm:flex-row sm:gap-2">
        <!-- gen id -->
       <div class="p-fluid sm:w-1/4 w-full">
        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Gen ID</label> <br>
        <input 
        type="text" 
        pInputText
        styleClass="!font-poppins" 
        [(ngModel)]="genid"
        (ngModelChange)="showcal=false"
        placeholder="Enter Gen ID" />
       </div>
     <!-- search btn -->
     <div class="mt-8 ml-3">
      <p-button 
        icon="pi pi-search"
        styleClass="rounded-[1.5rem] mt-2"
        (onClick)="getData()"
        label="Search" 
        [disabled]="utils.containsWhitespace(genid) || utils.throttleBtnState"
      >
     </p-button> 
     </div>
     <!-- user details -->
         <div  *ngIf="showcal" class="text-[1.25rem] mt-8 ml-3">
            <span class="text-blue-600 font-semibold">
              {{user.fullname | uppercase}} | 
              <span [ngClass]="user.activestat == 'ACTIVE' ? 'text-green-600 font-semibold' : 'text-red-500 font-semibold'">
                {{user.activestat | uppercase}}
              </span>
            </span>
          </div>
     </div>
     </div>
     <!-- legends division -->
    <div class="py-2 !shadow-md !mt-2 !rounded-md  h-full !font-poppins sm:h-min border border-gray-400 flex items-center justify-around flex-col sm:flex-row">
      <div class="flex items-center justify-evenly gap-4 flex-col sm:flex-row">
        <div class="bg-green-200 text-green-600 present py-1 px-2 rounded-lg text-center">
          Present
        </div>
        <div class="bg-yellow-200 text-yellow-600 sunday py-1 px-2 rounded-lg text-center">
          LC | EG
        </div>
        <div class="bg-orange-200 text-orange-600 halfday py-1 px-2 rounded-lg text-center">
          Leave | Half Day | Comp-Off
        </div>
        <div class="bg-red-200 text-red-600 absent py-1 px-2 rounded-lg text-center">
          Absent
        </div>
        <div class="bg-gray-200 text-gray-600 sunday py-1 px-2 rounded-lg text-center">
          Sunday | WeekOff
        </div>
        <div class="bg-purple-200 text-purple-600 weekoff py-1 px-2 rounded-lg text-center">
         OnDuty | Permission
        </div>
        <div class="bg-blue-200 text-blue-600 holiday py-1 px-2 rounded-lg text-center">
          Holiday | Factory Holiday | Comp-off Holiday
        </div>
      </div>
    </div>
  </div>
   </div>
   <!-- time office approval loader -->
   <app-time-office-approval-loader *ngIf="loader.isLoding | async"></app-time-office-approval-loader>
</div>

<ng-template #IN_OUT_TIME let-day="day" let-locale="locale" >
  <div class="w-full h-full p-2"
  [matTooltip]="day.events[0]?.regular=='C'?'Comp-Off':'Weekly Off'"  [matTooltipDisabled]="!['O','C'].includes(day.events[0]?.regular)">
  <!-- style="min-height: 41px;" -->
    <div id="yes" class="flex items-center justify-between">
      <!-- IN OUT time -->
      <div class="" *ngIf="day.date.getMonth() == month.getMonth() && day.date < today">
        <span class="text-black font-semibold">IN : {{ day.events[0]?.in_time  }}</span> <br>
        <span class="text-black font-semibold">OUT : {{ day.events[0]?.out_time  }}</span> <br>
      </div>
      <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
      <span class="cal-day-number"  style="font-weight: 700;">
        {{day.date | calendarDate : "monthViewDayNumber" : locale}}
      </span>
    </div>
    <div
      class="font w-full"
      *ngIf="day.date.getMonth() == month.getMonth() && day.date < today"
    >
   <!-- shift & present -->
    <div class="flex items-center justify-between w-full gap-2">
      <div class="">
        <p [ngClass]="shiftFullWidth ? 'w-max' : ''">SHIFT :{{ day.events[0]?.shift_desc }}</p>
      </div>
    
      <div class="">
          <p [ngClass]="shiftFullWidth ? 'w-max' : ''">Present :  {{ day.events[0]?.present_type==null?0:day.events[0]?.present_type.toString().slice(0,4) }}</p>
      </div>
    </div>
    <!-- late coming , early going excess hour -->
    <div class="flex items-center justify-between w-full">
      <div>
        <span class="">LC : {{ day.events[0]?.late_comeing }}</span>
      </div>
      |
      <div>
          <span class="">EG : {{ day.events[0]?.early_going }} </span>
      </div>
      |
      <div>
        <span class="">EH : {{ day.events[0]?.excess_hrs }}</span>
      </div>
    </div> 
   </div>
  </div>
</ng-template>

<ng-template let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
    <span class="cal-day-number">{{
      day.date | calendarDate : "monthViewDayNumber" : locale
    }}</span>
  </div>
</ng-template>

<!-- attedance calendar view -->
<div class="mx-2 mb-4" *ngIf="showcal">
  <div [ngSwitch]="view" class="">
    <mwl-calendar-month-view
     class="flex items-center justify-center"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      (beforeViewRender)="beforeMonthViewRender($event)"
      [cellTemplate]="IN_OUT_TIME"
    >
    </mwl-calendar-month-view>
  </div>
</div>
