<!-- user login form -->
<form [formGroup]="clApplicationForm">
  <!-- company list -->
  <p-dropdown
    [options]="companyList"
    optionLabel="company_name"
    optionValue="company_code"
    placeholder="Choose Company Name"
    styleClass="font-poppins w-full mb-3"
    formControlName="company_code"
    [loading]="true"
    (onChange)="getPlantsByCompanyCode($event.value)"
  > 
  <ng-template let-company pTemplate="selectedItem">
      <div class="flex align-items-center gap-2">
          <span>{{ company.company_code + '-' + company.company_name }}</span>
      </div>
  </ng-template>
    <ng-template let-company pTemplate="item">
              <div class="flex align-items-center gap-2">
                <span>{{ company.company_code + '-' + company.company_name }}</span>
              </div>
    </ng-template>
 </p-dropdown>
  <br />

  <!-- Plane Name -->
  <span class="font-bold block mb-2">Plant Name</span>
  <p-dropdown
    [options]="plantList"
    optionLabel="plant_name"
    optionValue="plant_code"
    placeholder="Choose Plant"
    styleClass="font-poppins w-full mb-3"
    formControlName="plant_code"
  >
  <ng-template let-plant pTemplate="selectedItem">
      <div class="flex align-items-center gap-2">
                <span>{{ plant.plant_code + '-' + plant.plant_name }}</span>
      </div>
  </ng-template>
      <ng-template let-plant pTemplate="item">
              <div class="flex align-items-center gap-2">
                <span>{{ plant.plant_code + '-' + plant.plant_name }}</span>
              </div>
           </ng-template>
  </p-dropdown>
  <!-- apprentice type -->
<span class="font-bold block mb-2">Apprentice Type</span>
  <p-dropdown
    [options]="apprenticeType"
    optionLabel="label"
    optionValue="value"
    placeholder="Choose Apprentice Type"
    styleClass="font-poppins w-full mb-3"
    formControlName="apprentice_type"
    [loading]="true"
  >
  </p-dropdown>
  <br />
   <!-- Aadhar Number -->
  <div class="flex-auto mb-3">
    <span class="font-bold block mb-2">Aadhar Number</span>
    <p-inputMask
      mask="9999-9999-9999"
      placeholder="1234-1234-1234"
      styleClass="w-full"
      formControlName="aadhar_no"
      [unmask]="true"
    >
    </p-inputMask>
  </div>
  <!--  mobile number -->
  <div class="flex-auto mb-3">
    <span class="font-bold block mb-2">Mobile Number</span>
    <p-inputMask
      mask="99999-99999"
      placeholder="99999-99999"
      styleClass="w-full"
      formControlName="mobile_no1"
      [unmask]="true"
    >
    </p-inputMask>
  </div>
  <!-- submit btn -->
  <div class="px-2 font-poppins font-semibold flex items-center justify-center mt-6 lg:mt-4 xl:mt-6">
    <p-button
      label="Apply"
      icon="pi pi-send"
      [fluid]="true"
      iconPos="right"
      class="font-poppins" 
      [disabled]="!clApplicationForm.valid"
      (onClick)="checkUserAdhaar()"
    ></p-button>
  </div>

  <!-- prime ng -->
</form>

