<div class="w-[50vw]">
  <!-- back date header -->
  <div >
    <div class="bg-blue-600 flex items-center justify-start py-4 mb-4">
      <div class="flex items-center justify-start text-white font-poppins mx-4 gap-2">
        <div  class="px-2 py-2 rounded-md bg-[var(--bg-transparent)] flex items-center justify-center">
           <mat-icon class="h-0 w-0 text-2xl opacity-100">{{!editing_flag ? 'add_circle' : 'edit'}}</mat-icon>
        </div>
         <h4 class="text-2xl text-white">{{!editing_flag ? 'Add BackDate' : 'Update BackDate'}}</h4>
      </div>
    </div>
  <div>
    <!-- first row -->
     <div class="row mx-1">
       <!-- plant  -->
        <div class="col-sm-6">
              <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
                <mat-icon class="text-2xl text-blue-600 h-0 w-0">domain</mat-icon>
              Plant
              </label>
              <br />
              <p-dropdown 
                [options]="plantData"
                optionLabel="plant_name"
                optionValue="plant_code"
                styleClass="w-full"
                [disabled]="editing_flag"
                [(ngModel)]="data.plant"
                placeholder="Select Plant">
                <ng-template let-plant pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <span>{{ plant.plant_code + '-' + plant.plant_name }}</span>
                  </div>
              </ng-template>
          </p-dropdown>
        </div>
      <!-- DOJ limit input -->
        <div class="col-sm-6">
            <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
              <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
            DOJ Limit
            </label>
            <br />
            <input
              class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none  rounded-md h-[48px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
              type="number"
              id="code"
              [(ngModel)]="data.doj_limit"
            />
        </div>
     </div>
    <!-- second row -->
      <div class="row mx-1 mt-2">
        <!--Excess Hour Approval Limit input -->
            <div class="col-sm-6">
              <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
                <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
            Excess Hour Approval Limit
              </label>
              <br />
              <input
                class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none rounded-md h-[48px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
                type="number"
                id="code"
                [(ngModel)]="data.eh_approval_sup"
              />
            </div>
            <!-- comp off expiry -->
            <div class="col-sm-6">
              <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
                <mat-icon class="text-2xl text-blue-600 h-0 w-0">alarm</mat-icon>
            Comp Off Expiry
              </label>
              <br />
              <input
                class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none rounded-md h-[48px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
                type="number"
                id="code"
                [(ngModel)]="data.compoff_expiry"
              />
            </div>
      </div>
    <!-- third row -->
    <div class="row mx-1 mt-2">
      <!--Forgot To Punch Hr Limit input -->
          <div class="col-sm-6">
            <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
              <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
          Forgot To Punch HR Limit
            </label>
            <br />
            <input
              class="w-full bg-transparent outline outline-gray-600 outline-1 shadow-none rounded-md h-[48px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
              type="number"
              id="code"
              [(ngModel)]="data.fp_hr"
            />
          </div>
          <!--Forgot To Punch WorkmenLimit input -->
          <div class="col-sm-6">
            <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
              <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
          Forgot To Punch Workmen Limit
            </label>
            <br />
            <input
              class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none rounded-md h-[48px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
              type="number"
              id="code"
              [(ngModel)]="data.fp_workmen"
            />
          </div>
    </div>
    <!-- fourth row -->
     <div class="row mx-1 mt-2">
       <!--OT Approval FH Limit input -->
        <div class="col-sm-6">
          <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
            <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
         OT Approval FH Limit
          </label>
          <br />
          <input
            class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none rounded-md h-[48px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
            type="number"
            id="code"
            [(ngModel)]="data.ot_appr_fh"
          />
        </div>
     </div>
  </div>
  <br>
  </div>
<!-- footer -->
  <div class="bg-gray-100 modal-footer">
    <!-- add btn -->
    <button
      *ngIf="!editing_flag"
      type="button"
      (click)="addBackDate()"
      class="btn btn-primary btn-lg rounded-[1.25rem] px-3 shadow-md bg-blue-600"
    >
      Add BackDate
    </button>
    <!-- update btn -->
    <button
      *ngIf="editing_flag"
      type="button"
      class="btn btn-warning btn-lg rounded-[1.25rem] px-3 shadow-md text-white"
      (click)="update()"
    >
      Update BackDate
    </button>
    <!-- cancel btn -->
    <button
      type="button"
      class="btn btn-light btn-lg rounded-[1.25rem] px-3 shadow-md"
      (click)="close()"
    >
      Cancel
    </button>
 </div>

 </div>