<div class="overlay" [hidden]="!showD_offForm"></div>
<div class="shadow-lg ">
    <!-- <div class=" form-popup container1 mat-elevation-z8" > -->
<div class=" form-popup container1 mat-elevation-z8" [hidden]="!showD_offForm">
    <div>
        <h2>Alternate Holiday</h2>
        <hr style="border-block-color: orange" />

        <form [formGroup]="D_OffForm" >

            <div class="columns" id="firstBox" style="padding-bottom:10px;">
                <div class="column">

                  
                  
                    <mat-form-field appearance="outline">
                        <mat-label>Plant</mat-label>
                        <mat-select formControlName="plant"   [disabled]="!showAdd"  >
                          <mat-option *ngFor="let plant of plantname" [value]="plant.plant_code">{{plant.plant_code}}/{{ plant.plant_name }}</mat-option>
        
                        </mat-select>
                        <mat-error *ngIf="D_OffForm.get('plant')?.hasError('required')">Please Select Plant </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" color="primary" class="example-full-width"
                      (click)="picker2.open()">
                        <mat-label>Holiday Date </mat-label>
                        <input
                          matInput
                          formControlName="holiday_date"
                          [disabled]="!showAdd"
                          [matDatepicker]="picker2"
                         
                          (dateChange)="checkHolidayType($event)"
                        />
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 ></mat-datepicker>
                        <mat-error *ngIf="D_OffForm.get('holiday_date')?.hasError('required')">Please Select date  </mat-error>
                      </mat-form-field>
                      
                     
                      


                </div>
                <div class="column">
                    <mat-form-field
                    appearance="outline"
                    color="primary"
                    class="example-full-width" 
                    (click)="picker1.open()"
                  >
                    <mat-label>Working Date</mat-label>
                    <input
                      matInput  formControlName="coff_date" 
                      (dateChange)="checkHolidayType($event)"
                      [matDatepicker]="picker1"
                      [disabled]="!showAdd"
                    />
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1> </mat-datepicker>
                    <mat-error *ngIf="D_OffForm.get('coff_date')?.hasError('required')">Please Select date  </mat-error>
                  </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Reason</mat-label>
                        <textarea matInput formControlName="reason"></textarea>
                        <mat-error *ngIf="D_OffForm.get('reason')?.hasError('required')">Please Enter Reason  </mat-error>
                      </mat-form-field>

                </div>
            
            </div>
            <div class="columns" >
                <div
                style="display: flex; justify-content: space-around;padding-top:0.5em"
                >
                <button
                  mat-raised-button
                  id="red"
                  type="reset"
                 (click)="reset()"
                >
                  Reset
                </button>
                <button mat-raised-button color="primary" (click)="closeform()">
                  Cancel
                </button>
                <button id="green" *ngIf="showAdd"  mat-raised-button color="primary" type="submit" (click)="onSubmit()" >Add</button>
              <!-- <button id="green" *ngIf="!showAdd"  mat-raised-button color="primary" type="submit" (click)="update()" >Update</button> -->
                </div>
            
            
            </div>


        </form>
        
    
    
    
    
    
    </div>
        </div>

</div>



<!-- Table -->

<div class="container">
    <br>
    <div>
        <h1 id = "title1" >Alternate Holiday</h1>
        <hr style="border-block-color: orange" />
      </div>
      <div class="button">
        <button mat-fab color="primary" (click)="showForm()"   style="float: right" aria-label="Example icon button with a delete icon">
            <mat-icon>person_add</mat-icon>
        </button></div>
        <div class = "button1">
        <button mat-fab style="float: right" (click)="exportExcel()" aria-label="Example icon button with a delete icon" >
            <mat-icon>download</mat-icon>
        </button></div>
        <br><br><br>
        <br><br>
        <!-- <app-loader *ngIf="loader.isLoding | async;else show"></app-loader> -->


        <!-- <ng-template #show> -->
            <div class = "table-wrapper">
            <table class="table table-bordered table-striped table-hover">
                <table id="table">
                    <thead>
                        <tr>
                            <th  class="text-center"
                            style="width: 500px"
                            style="background-color: darkblue">SNo</th>
                            <th div class="text-center">Plant</th>
                            <th div class="text-center">Holiday Date</th>
                           
                            <th div class="text-center">Working date</th>
                            <th div class="text-center">Reason</th>
                            <th div class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let data of altHoliday_data ;let i =index ">
                            <td>{{i+1}}</td>
                            <td>{{data.plant}}</td>
                            <td>{{data.holiday_date | date:'dd-MM-yyyy'}}</td>
                            <td>{{data.coff_date | date:'dd-MM-yyyy'}}</td>
                            <td>{{data.reason}}</td>
                            
                            <td>
                                <button mat-mini-fab color = 'accent'  (click)="onedit(data)">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" (click)="delete(data)" type="button"  >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </table>

</div>

        <!-- </ng-template>  -->

</div>