<div class="overlay" [hidden]="!showHolidayForm"></div>
<div class="shadow-lg ">
    <!-- <div class=" form-popup container1 mat-elevation-z8" > -->
<div class=" form-popup container1 mat-elevation-z8" [hidden]="!showHolidayForm">
    <div>
        <h2>Bill Lock Date</h2>
        <hr style="border-block-color: orange" />

        <form [formGroup]="billForm" >

            <div class="columns" id="secondBox" style="padding-bottom:10px;">
                <div class="column">
                    <mat-form-field appearance="outline" >
                        <mat-label>Plant</mat-label>
                        <mat-select formControlName="plant"  [disabled]="!showAdd">
                          <mat-option *ngFor="let plant of plantname" [value]="plant.plant_code">{{plant.plant_code}}/{{ plant.plant_name }}</mat-option>
        
                        </mat-select>
                        <mat-error *ngIf="billForm.get('plant')?.hasError('required')">Please Select Plant </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Lock Month</mat-label>
                        <mat-select formControlName="lock_month" click="updateSelectedDate()" >
                          <mat-option *ngFor="let months of monthsWithFirstDates" [value]="months.firstDate">{{ months.month }}</mat-option>
                        </mat-select>
                      </mat-form-field>


                      <span id="radio">
                        <mat-label>category :  </mat-label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="category"    class="example-radio-group">
                            <mat-radio-button value="T">Trainee</mat-radio-button>
                            <mat-radio-button value="O" >Operator</mat-radio-button>
                            <!-- <mat-radio-button value="Optional" >Optional</mat-radio-button> -->
                        </mat-radio-group> 
    </span>

                </div>
                <div class="column">
    
                    <mat-form-field
                    appearance="outline"
                    color="primary"
                    class="example-full-width" 
                    (click)="picker1.open()"
                    
                  >
                    <mat-label>Bill Process Start Date</mat-label>
                    <input
                      matInput  formControlName="process_start_date" 
                      [min]="minStartDate" [max]="maxStartDate"
                      [matDatepicker]="picker1"
                      [disabled]="!showAdd"
                    />
                    <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1> </mat-datepicker>
                    <mat-error *ngIf="billForm.get('process_start_date')?.hasError('required')">Please Select date  </mat-error>
                  </mat-form-field>  
                  
                  <mat-form-field
                  appearance="outline"
                  color="primary"
                  class="example-full-width" 
                  (click)="picker3.open()"
                  
                >
                  <mat-label>Bill Process End Date</mat-label>
                  <input
                    matInput  formControlName="process_end_date" 
                 
                    [matDatepicker]="picker3"
                    [disabled]="!showAdd"
                    [min]="minStartDate" [max]="maxStartDate"
                  />
                  <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker3"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker3> </mat-datepicker>
                  <mat-error *ngIf="billForm.get('process_end_date')?.hasError('required')">Please Select date  </mat-error>
                </mat-form-field>
                
                <!-- <mat-form-field
                appearance="outline"
                color="primary"
                class="example-full-width" 
                (click)="picker2.open()"
                
              >
                <mat-label>Lock Date</mat-label>
                <input
                  matInput  formControlName="lock_date" 
                  [matDatepicker]="picker2"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2> </mat-datepicker>
                <mat-error *ngIf="billForm.get('lock_date')?.hasError('required')">Please Select date  </mat-error>
              </mat-form-field> -->

                </div>
            
            </div>
            <div class="columns" >
                <div
                style="display: flex; justify-content: space-around;padding-top:0.5em"
                >
                <button
                  mat-raised-button
                  id="red"
                  type="reset"
                 (click)="reset()"
                >
                  Reset
                </button>
                <button mat-raised-button color="primary" (click)="closeForm()">
                  Cancel
                </button>
                <button id="green" *ngIf="showAdd"  mat-raised-button color="primary" type="submit" (click)="onSubmit()" >Add</button>
              <!-- <button id="green" *ngIf="!showAdd"  mat-raised-button color="primary" type="submit"  >Delete</button> -->
                </div>
            
            
            </div>


        </form>
        
    
    
    
    
    
    </div>
        </div>

</div>



<!-- Table -->

<div style="margin: 0 2rem 0 2rem;" class="">
    <br>
    <div>
        <h1 id = "title1" >Bill Processed Date Master</h1>
        <hr style="border-block-color: orange" />
      </div>

      <div class="button">
        <span class="button1">
         
        <mat-form-field appearance="outline">
  <mat-label>Enter Month or Plant Code</mat-label>
  <input matInput type="text" [(ngModel)]="selectedMonth1" />
</mat-form-field>

          <!-- <div class="button"> -->
            <button mat-fab color="primary" (click)="showForm()"   style="float: right" aria-label="Example icon button with a delete icon">
                <mat-icon>person_add</mat-icon>
            </button>
          <!-- </div> -->
            <!-- <div class = "button1"> -->
    
        <button mat-fab style="float: right" (click)="exportExcel()" aria-label="Example icon button with a delete icon" >
                <mat-icon>download</mat-icon>
            </button>
          <!-- </div> -->
        </span>
      
      </div>


<!-- 
      <div class="button">
        <button mat-fab color="primary" (click)="showForm()"   style="float: right" aria-label="Example icon button with a delete icon">
            <mat-icon>person_add</mat-icon>
        </button></div>
        <div class = "button1">

    <button mat-fab style="float: right" (click)="exportExcel()" aria-label="Example icon button with a delete icon" >
            <mat-icon>download</mat-icon>
        </button>
      </div> -->
        <br>
      
        <app-loader *ngIf="loader.isLoding | async;else show"></app-loader>


        <ng-template #show>
            <div class = "table-wrapper">
            <table class="table table-bordered table-striped table-hover">
                <table id="table">
                    <thead>
                        <tr>
                            <th  class="text-center"
                            style="width: 500px"
                            style="background-color: darkblue">SNo</th>
                            <th div class="text-center">Lock Month</th>
                            <th div class="text-center">Plant</th>
                            <th div class="text-center">Payroll Start </th>
                            <th div class="text-center">Payroll End </th>
                            <th div class="text-center">Lock On </th>
                            <th div class="text-center">Category</th>
                            <th div class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr *ngFor="let data of bill_data | monthFilter: selectedMonth1; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{data.lock_month | date : 'MMMM'}}</td>
                            <td>{{data.plant_Code}}</td>
                            <td>{{data.bill_processed_st | date:'dd-MM-yyyy'}}</td>
                            <td>{{data.bill_prossed_enddt | date:'dd-MM-yyyy'}}</td>
                            <td>{{data.locked_date | date:'dd-MM-yyyy'}}</td>
                            <td >{{ data.category === 'T' ? 'Trainee' : 'Operator'}}</td>
                           
                            <td  style="display: flex;justify-content: center;align-items: center;">
                                <button style="margin-left: 0.5rem;" mat-mini-fab color = 'warn' (click)="confirmDelete(data)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button *ngIf="data.category === 'T' && data.Salary_Locked==='TRUE'" style="margin-left: 0.5rem; background-color: yellow;color:black"mat-mini-fab color = 'warn' >
                                    <mat-icon>lock</mat-icon>
                                </button>
                                <button *ngIf="data.category === 'T' && data.Salary_Locked==='FALSE'" style="margin-left: 0.5rem;background-color: green; color:white" mat-mini-fab color = 'warn' (click)="Salary_locked(data)">
                                    <mat-icon>lock_open</mat-icon>
                                </button>
                                <!-- <button mat-mini-fab color="warn" type="button" (click)="delete(data)"  >
                                    <mat-icon>delete</mat-icon>
                                </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                </table>

</div>

        </ng-template> 

</div>