<div class="layout-container">
  <!-- Header -->
  <div class="header">
    <img src="assets/ranelogo.png" alt="Logo" class="logo-img" />
    <div class="title">DIGITAL HR MANAGEMENT</div>
    <div class="spacer"></div> 
  </div>

  <!-- Card Grid -->
  <div class="content">
    <div
      class="card-wrapper"
      *ngFor="let box of boxLabels; let i = index"
      [ngStyle]="{ 'background': gradients[i] }"
      (click)="box.sessionKey ? setSession(box.sessionKey) : null"
      [routerLink]="box.link"
    >
      <div class="image-container">
        <img [src]="box.image" [ngStyle]="imageStyles[i]" />
      </div>
      <div class="label">{{ box.label }}</div>
    </div>
  </div>

 <!-- Footer -->
<div class="footer">
 <img src="assets/dhrm logo.png" alt="Right" class="footer-img" />
  <div class="footer-text">
    HR digital transformation is the process of using technology to modernize and improve HR processes,
    making them more efficient, data-driven, and employee-centric.
    This involves adopting digital tools to automate tasks, analyze data,
    and improve employee experiences throughout the employee lifecycle.
    
    <div class="footer-copytext">
    <br> &copy; Rane (Madras) Limited 2023 - Version 3.1- May 25
  </div>
  </div>
  <img src="assets/dhrm logo.png" alt="Right" class="footer-img" />
</div>

