.container {
  width: 90%;
  margin-top: 20px;
}

.form {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
span.rd {
  padding-right: 2em;
  padding-left: 2em;
}

.mat-button.mat-yellow,
.mat-raised-button.mat-yellow:hover {
  color: white;
  background-color: #ffc107;
}

.mat-button.mat-yellow,
.mat-raised-button.mat-yellow {
  color: white;
  background-color: #ffc107;
}

.mat-button.mat-yellow,
.mat-raised-button.mat-yellow:disabled {
  color: white;
  background-color: rgb(160, 168, 162);
}

.mat-button.mat-success,
.mat-raised-button.mat-success:hover {
  color: white;
  background-color: rgb(9 159 41);
}

.mat-button.mat-success,
.mat-raised-button.mat-success {
  color: white;
  background-color: rgb(9 159 41);
}

.mat-button.mat-success,
.mat-raised-button.mat-success:disabled {
  color: white;
  background-color: rgb(160, 168, 162);
}

thead {
  background-color: darkblue;
  color: azure;
  text-align: center;
}
tbody {
  text-align: center;
}


.fptext{
  margin:10px 10px 0 0;
}

.box{
  margin: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.datepicker-container {
  display: inline;
  position: relative;
  width: 100%;
  height: 7.625rem;
}

.datepicker-input {
  padding-left: 4rem !important;
}

.datepicker-input::before{
  content:'/';
  position: relative;
  left:1.6rem;
  color: darkgreen;
}
.datepicker-input::after{
  content:'▼';
}
.w{
  /* font-size: large; */
  font-weight: 600;
}
h3{
  /* font-size: large; */
  font-weight: 600;
}