<h1 class="heading">Piece Rate CL - Attendance Report</h1>

<div class="filters">
    <mat-form-field appearance="outline">
        <mat-label>Plant</mat-label>
        <mat-select [(ngModel)]="plant" [disabled]="isadmin == 'false'">
            <mat-option value="" selected>All</mat-option>
            <mat-option *ngFor="let plant of plantlist" [value]="plant.plant_code">{{
                plant.plant_code
                }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Month and Year</mat-label>
        <input matInput type="month" [(ngModel)]="date" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Gen Id</mat-label>
        <input matInput type="text" [(ngModel)]="genid" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Line</mat-label>
        <mat-select class="" [(ngModel)]="selectedLine" class="input2">
            <mat-option value="">ALL</mat-option>
            <mat-option *ngFor="let line of lines" [value]="line.Line_Name">{{line.Line_Name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" style="height: 45px; margin-top: 5px" (click)="submit()">
        Search
    </button>
</div>

<div style="display: flex;justify-content: space-between;">
    <div class="monthdisplay">Viewing Attendance for Month: {{ displayDate|date:'MM-yyyy' }}</div>
    <div class="legends">
        <div class="legend">
            <div class="box present"></div>
            Present
        </div>
        <div class="legend">
            <div class="box  halfday"></div>
            LC/EG
        </div>
        <div class="legend">
            <div class="box absent"></div>
            Not Present
        </div>
        <div class="legend">
            <div class="box weekoff"></div>
            Sunday/Week Off
        </div>
        <div class="legend">
            <div class="box holiday"></div>
            Holiday
        </div>
    </div>
    <button mat-fab color="primary" style="margin-right: 10px;"
        (click)="exportexcel()"><mat-icon>arrow_downward</mat-icon></button>
</div>

<div class="atndView">
    <table class="table table-bordered table-striped table-hover" id="atnddata" style="font-size: smaller">
        <thead>
            <tr style="
          background-color: darkblue;
          color: whitesmoke;
          text-align: center;
        ">
                <th>SL no</th>
                <th>Gen Id</th>
                <th>Name</th>
                <th>Catergory</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th *ngIf="noOfDays >= 28">28</th>
                <th *ngIf="noOfDays >= 29">29</th>
                <th *ngIf="noOfDays >= 30">30</th>
                <th *ngIf="noOfDays >= 31">31</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredData; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.gen_id }}</td>
                <td>{{ item.fullname }}</td>
                <td>{{ item.apprentice_type}}</td>
                <td [ngClass]="{
            present: item['1'] == 'P',
            halfday: item['1'] =='HD',
            absent: item['1'] =='A',
            holiday:item['1']=='HL',
            sunday:item['1']=='S',
            weekoff: item['1'] == 'WO',
            white:item['1'] == null
            
          }">
                    {{ item["1"] }}
                </td>
                <td [ngClass]="{
            present: item['2'] == 'P',
            halfday: item['2'] =='HD',
            absent: item['2'] =='A',
            holiday:item['2']=='HL',
            sunday:item['2']=='S',
            weekoff: item['2'] == 'WO',
            white:item['2'] == null
          }">
                    {{ item["2"] }}
                </td>
                <td [ngClass]="{
            present: item['3'] == 'P',
            halfday: item['3'] =='HD',
            absent: item['3'] =='A',
            holiday:item['3']=='HL',
            sunday:item['3']=='S',
            weekoff: item['3'] == 'WO',
            white:item['3'] == null
          }">
                    {{ item["3"] }}
                </td>
                <td [ngClass]="{
            present: item['4'] == 'P',
            halfday: item['4'] =='HD',
            absent: item['4'] =='A',
            holiday:item['4']=='HL',
            sunday:item['4']=='S',
            weekoff: item['4'] == 'WO',
            white:item['4'] == null
          }">
                    {{ item["4"] }}
                </td>
                <td [ngClass]="{
            present: item['5'] == 'P',
            halfday: item['5'] =='HD',
            absent: item['5'] =='A',
            holiday:item['5']=='HL',
            sunday:item['5']=='S',
            weekoff: item['5'] == 'WO',
            white:item['5'] == null
          }">
                    {{ item["5"] }}
                </td>
                <td [ngClass]="{
            present: item['6'] == 'P',
            halfday: item['6'] =='HD',
            absent: item['6'] =='A',
            holiday:item['6']=='HL',
            sunday:item['6']=='S',
            weekoff: item['6'] == 'WO',
            white:item['6'] == null
          }">
                    {{ item["6"] }}
                </td>
                <td [ngClass]="{
            present: item['7'] == 'P',
            halfday: item['7'] =='HD',
            absent: item['7'] =='A',
            holiday:item['7']=='HL',
            sunday:item['7']=='S',
            weekoff: item['7'] == 'WO',
            white:item['7'] == null
          }">
                    {{ item["7"] }}
                </td>
                <td [ngClass]="{
            present: item['8'] == 'P',
            halfday: item['8'] =='HD',
            absent: item['8'] =='A',
            holiday:item['8']=='HL',
            sunday:item['8']=='S',
            weekoff: item['8'] == 'WO',
            white:item['8'] == null
          }">
                    {{ item["8"] }}
                </td>
                <td [ngClass]="{
            present: item['9'] == 'P',
            halfday: item['9'] =='HD',
            absent: item['9'] =='A',
            holiday:item['9']=='HL',
            sunday:item['9']=='S',
            weekoff: item['9'] == 'WO',
            white:item['9'] == null
          }">
                    {{ item["9"] }}
                </td>
                <td [ngClass]="{
            present: item['10'] == 'P',
            halfday: item['10'] =='HD',
            absent: item['10'] =='A',
            holiday:item['10']=='HL',
            sunday:item['10']=='S',
            weekoff: item['10'] == 'WO',
            white:item['10'] == null
          }">
                    {{ item["10"] }}
                </td>
                <td [ngClass]="{
            present: item['11'] == 'P',
            halfday: item['11'] =='HD',
            absent: item['11'] =='A',
            holiday:item['11']=='HL',
            sunday:item['11']=='S',
            weekoff: item['11'] == 'WO',
            white:item['11'] == null
          }">
                    {{ item["11"] }}
                </td>
                <td [ngClass]="{
            present: item['12'] == 'P',
            halfday: item['12'] =='HD',
            absent: item['12'] =='A',
            holiday:item['12']=='HL',
            sunday:item['12']=='S',
            weekoff: item['12'] == 'WO',
            white:item['12'] == null
          }">
                    {{ item["12"] }}
                </td>
                <td [ngClass]="{
            present: item['13'] == 'P',
            halfday: item['13'] =='HD',
            absent: item['13'] =='A',
            holiday:item['13']=='HL',
            sunday:item['13']=='S',
            weekoff: item['13'] == 'WO',
            white:item['13'] == null
          }">
                    {{ item["13"] }}
                </td>
                <td [ngClass]="{
            present: item['14'] == 'P',
            halfday: item['14'] =='HD',
            absent: item['14'] =='A',
            holiday:item['14']=='HL',
            sunday:item['14']=='S',
            weekoff: item['14'] == 'WO',
            white:item['14'] == null
          }">
                    {{ item["14"] }}
                </td>
                <td [ngClass]="{
            present: item['15'] == 'P',
            halfday: item['15'] =='HD',
            absent: item['15'] =='A',
            holiday:item['15']=='HL',
            sunday:item['15']=='S',
            weekoff: item['15'] == 'WO',
            white:item['15'] == null
          }">
                    {{ item["15"] }}
                </td>
                <td [ngClass]="{
            present: item['16'] == 'P',
            halfday: item['16'] =='HD',
            absent: item['16'] =='A',
            holiday:item['16']=='HL',
            sunday:item['16']=='S',
            weekoff: item['16'] == 'WO',
            white:item['16'] == null
          }">
                    {{ item["16"] }}
                </td>
                <td [ngClass]="{
            present: item['17'] == 'P',
            halfday: item['17'] =='HD',
            absent: item['17'] =='A',
            holiday:item['17']=='HL',
            sunday:item['17']=='S',
            weekoff: item['17'] == 'WO',
            white:item['17'] == null
          }">
                    {{ item["17"] }}
                </td>
                <td [ngClass]="{
            present: item['18'] == 'P',
            halfday: item['18'] =='HD',
            absent: item['18'] =='A',
            holiday:item['18']=='HL',
            sunday:item['18']=='S',
            weekoff: item['18'] == 'WO',
            white:item['18'] == null
          }">
                    {{ item["18"] }}
                </td>
                <td [ngClass]="{
            present: item['19'] == 'P',
            halfday: item['19'] =='HD',
            absent: item['19'] =='A',
            holiday:item['19']=='HL',
            sunday:item['19']=='S',
            weekoff: item['19'] == 'WO',
            white:item['19'] == null
          }">
                    {{ item["19"] }}
                </td>
                <td [ngClass]="{
            present: item['20'] == 'P',
            halfday: item['20'] =='HD',
            absent: item['20'] =='A',
            holiday:item['20']=='HL',
            sunday:item['20']=='S',
            weekoff: item['20'] == 'WO',
            white:item['20'] == null
          }">
                    {{ item["20"] }}
                </td>
                <td [ngClass]="{
            present: item['21'] == 'P',
            halfday: item['21'] =='HD',
            absent: item['21'] =='A',
            holiday:item['21']=='HL',
            sunday:item['21']=='S',
            weekoff: item['21'] == 'WO',
            white:item['21'] == null
          }">
                    {{ item["21"] }}
                </td>
                <td [ngClass]="{
            present: item['22'] == 'P',
            halfday: item['22'] =='HD',
            absent: item['22'] =='A',
            holiday:item['22']=='HL',
            sunday:item['22']=='S',
            weekoff: item['22'] == 'WO',
            white:item['22'] == null
          }">
                    {{ item["22"] }}
                </td>
                <td [ngClass]="{
            present: item['23'] == 'P',
            halfday: item['23'] =='HD',
            absent: item['23'] =='A',
            holiday:item['23']=='HL',
            sunday:item['23']=='S',
            weekoff: item['23'] == 'WO',
            white:item['23'] == null
          }">
                    {{ item["23"] }}
                </td>
                <td [ngClass]="{
            present: item['24'] == 'P',
            halfday: item['24'] =='HD',
            absent: item['24'] =='A',
            holiday:item['24']=='HL',
            sunday:item['24']=='S',
            weekoff: item['24'] == 'WO',
            white:item['24'] == null
          }">
                    {{ item["24"] }}
                </td>
                <td [ngClass]="{
            present: item['25'] == 'P',
            halfday: item['25'] =='HD',
            absent: item['25'] =='A',
            holiday:item['25']=='HL',
            sunday:item['25']=='S',
            weekoff: item['25'] == 'WO',
            white:item['25'] == null
          }">
                    {{ item["25"] }}
                </td>
                <td [ngClass]="{
            present: item['26'] == 'P',
            halfday: item['26'] =='HD',
            absent: item['26'] =='A',
            holiday:item['26']=='HL',
            sunday:item['26']=='S',
            weekoff: item['26'] == 'WO',
            white:item['26'] == null
          }">
                    {{ item["26"] }}
                </td>
                <td [ngClass]="{
            present: item['27'] == 'P',
            halfday: item['27'] =='HD',
            absent: item['27'] =='A',
            holiday:item['27']=='HL',
            sunday:item['27']=='S',
            weekoff: item['27'] == 'WO',
            white:item['27'] == null
          }">
                    {{ item["27"] }}
                </td>
                <td [ngClass]="{
            present: item['28'] == 'P',
            halfday: item['28'] =='HD',
            absent: item['28'] =='A',
            holiday:item['28']=='HL',
            sunday:item['28']=='S',
            weekoff: item['28'] == 'WO',
            white:item['28'] == null
          }" *ngIf="noOfDays >= 28">
                    {{ item["28"] }}
                </td>
                <td [ngClass]="{
            present: item['29'] == 'P',
            halfday: item['29'] =='HD',
            absent: item['29'] =='A',
            holiday:item['29']=='HL',
            sunday:item['29']=='S',
            weekoff: item['29'] == 'WO',
            white:item['29'] == null
          }" *ngIf="noOfDays >= 29">
                    {{ item["29"] }}
                </td>
                <td [ngClass]="{
            present: item['30'] == 'P',
            halfday: item['30'] =='HD',
            absent: item['30'] =='A',
            holiday:item['30']=='HL',
            sunday:item['30']=='S',
            weekoff: item['30'] == 'WO',
            white:item['30'] == null
          }" *ngIf="noOfDays >= 30">
                    {{ item["30"] }}
                </td>
                <td [ngClass]="{
            present: item['31'] == 'P',
            halfday: item['31'] =='HD',
            absent: item['31'] =='A',
            holiday:item['31']=='HL',
            sunday:item['31']=='S',
            weekoff: item['31'] == 'WO',
            white:item['31'] == null
          }" *ngIf="noOfDays >= 31">
                    {{ item["31"] }}
                </td>
            </tr>
        </tbody>
    </table>
</div>