<div class="container">
  <div class="details">
    <div><b>Name:</b>{{ data.fullname }}</div>
    <div><b>Gen Id:</b>{{ data.gen_id }}</div>
    <div><b>Category:</b>{{ data.apprentice_type }}</div>
    <div><b>Department:</b>{{ data.dept_name }}</div>
    <div><b>Line:</b>{{ data.Line_Name }}</div>
  </div>
  <div class="details" style="margin: 10px 0">
    <div><b>Total Excess Hrs Worked:</b>{{ data.excess_hr }}</div>
    <div><b>Approved OT Hrs:</b>{{ data.ot }}</div>
    <div><b>Adjusted in C-OFF :</b>{{ data.coff }}</div>
    <div><b>Balanceq Hrs:</b>{{ data.bal }}</div>
    <!-- <div [hidden]="applyshow" ><b>Un-Approved Balance Hrs:</b>{{ data.bal }}</div> -->
  </div>
  <div >
    <!-- <mat-checkbox
      [(ngModel)]="selectAll"
      style="margin-left: 20px"
      color="primary"
      (ngModelChange)="handelSelectAll()"
      >Select All</mat-checkbox
    > -->
    <div class="details" style="margin: 0 20px 10px 0">
      <button mat-raised-button style="margin: 5px" color="success" (click)="approve()" [disabled]="loading" [hidden]="applyshow">
        Approve
      </button>

      <mat-checkbox [(ngModel)]="agreed" [disabled]="loading" [hidden]="!applyshow"   style="font-size: 17px;font-weight: 700;color: blue;">
        I agree to adjust my OT Hrs into my LOP days as per C-Off Procedure. I am aware once my Cell Leader approves my request, it can't be cancelled.
      </mat-checkbox>

      
    </div>
    <button mat-raised-button style="margin: 5px" color="success" (click)="apply_Operator_Coff()" [disabled]="loading" [hidden]="!applyshow">
      Apply C-Off
    </button>
  </div>
  <div class="table-wrapper">
    <table class="table table-bordered table-striped table-hover">
      <table id="table">
        <thead>
          <tr>
            <th
              class="text-center"
              style="width: 100px"
              style="background-color: darkblue; color: aliceblue"
            >
              SL No
            </th>
            <th div class="text-center">Absent Date</th>
            <th div class="text-center">Present Day</th>
            <th div class="text-center">Coff Required</th>
            <th div class="text-center">Required OT Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of absentData; let i = index">
            <td>
              <mat-checkbox
                [(ngModel)]="item.selected"
                color="primary"
                (ngModelChange)="checkItems(i)"
                [disabled]="(sum+item.hrs_req)>data.bal && !item.selected"
                >{{ i + 1 }}</mat-checkbox
              >
            </td>
            <td>{{ item.absent_days|date:'dd-MM-yyyy' }}</td>
            <td>{{ item.present_type }}</td>
            <td>{{ item.absent_day }}</td>
            <td>{{ item.hrs_req }}</td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>
