
<div class="container">
    
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; margin-top: 0.5rem;margin-bottom: 1rem;">
      <h1 id="title1" style="margin: 0 auto;">Van Facility Mapping</h1>
      <button mat-fab (click)="exportExcel()">
        <mat-icon>download</mat-icon>
      </button>
    </div>
    
    <hr style="border-block-color: orange" />
    <!-- <div class="button-group" >
  
      <button mat-fab (click)="exportExcel()">
        <mat-icon>download</mat-icon>
      </button>
    </div> -->
   
    <mat-tab-group style="margin-top: 1rem;">
        <mat-tab label="Van Mapping">
          <div class="form" style="margin-top: 1rem;margin-left: 1rem;">
            <mat-form-field appearance="outline">
              <mat-label>Gen ID</mat-label>
              <input type="text" matInput [(ngModel)]="genid" (ngModelChange)="genIdChange()" />
            </mat-form-field>
     
            <button
              mat-raised-button
              color="primary"
              style="margin: 10px 20px; height: 40px"
              (click)="verify()" 
              [disabled]="!genid"
            >
              Details
            </button>
          </div>

          <div  *ngIf="userdtls.length > 0"  >
            <h3>User Details</h3>
            <table
              id="fpdata"
              class="table table-bordered table-striped table-hover my-2"
            >
              <thead  >
                <tr style="background-color:rgb(18, 85, 229) ;color: white;"> 
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Gen ID</th>
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Name</th>
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Category </th>
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Department</th>
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Line</th>
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Transporter</th>
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Route</th>
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Pick up point</th>
                  <th style="background-color:rgb(18, 85, 229) ;color: white;" >Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <tr *ngFor="let item of userdtls">
                  <td>{{item.gen_Id}}</td>
                  <td>{{item.fullname}}</td>
                  <td>{{item.apprentice_type}}</td>
                  <td>{{item.dept_name }}</td>
                  <td>{{item.Line_Name}}</td>
                  <td>{{item.transporter_name}}</td>
                  <td>{{item.village_name}}</td>
                  <td>{{item.Route_Name}}</td>
                  <td *ngIf="item.Van_Eligible == 1; else inactive">Active</td>
                  <ng-template #inactive>
                    <td>InActive</td>
                </ng-template>
                          
                </tr>
              </tbody>
            </table>
          </div>
        
          <div  *ngIf="userdtls.length > 0"  >
            <h3>Van Facility</h3>
      
         <div > 
            <mat-form-field appearance="outline"  style="margin-left: 1rem;">
                <mat-label>Route</mat-label>
              <mat-select [(ngModel)]="route" >
                <mat-option value="">SELECT</mat-option>
                <mat-option *ngFor="let plant of routelist" [value]="plant.Route_Id">{{plant.Route_Name}}</mat-option>
              </mat-select>
              </mat-form-field>
            
              <mat-form-field appearance="outline" style="margin-left: 2rem;">
                <mat-label>Transport</mat-label>
                <input type="text" matInput [(ngModel)]="transport" />
              </mat-form-field>
            
              <mat-form-field appearance="outline" style="margin-left: 2rem;">
                <mat-label>Pick Up point</mat-label>
                <input type="text" matInput [(ngModel)]="pickup" />
              </mat-form-field>
            
            
              <button 
                mat-raised-button 
                color="primary" 
                [disabled]="!isSubmitFormValid()" 
                (click)="submitVan()" 
                style="margin-left: 2rem;">
                Save
              </button>
            </div>
            
        </div>
        

</mat-tab>
        <mat-tab label="Van Mapped Details">
          <div  class = "table-wrapper container3">
            <table class="table table-bordered table-striped table-hover">
                <table id="table">
                    <thead>
                        <tr>
                            <th  class="text-center"
                         
                            style="background-color: darkblue">Sl_No</th>
                            <th  class="text-center">Gen-ID</th>
                            <th  class="text-center">Name</th>
                            <th  class="text-center">Category</th>
                            <th  class="text-center">Transporter</th> 
                            <th  class="text-center">Route</th>
                            <th  class="text-center">Pick Up</th>
                            <th  class="text-center">Status</th>
                            <th  class="text-center">Action</th>
                        </tr>
                    </thead>
                     <tbody >
                        <tr *ngFor="let data of van_mapList ; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{data.Gen_id}}</td>
                            <td>{{data.Name}}</td>
                            <td>{{data.Category}}</td>
                            <td>{{data.Transporter}}</td>
                            <td>{{data.Route_Name }}</td>
                            <td>{{data.Pickup_Point}}</td>
                            <!-- <td>{{data.Van_Eligible }}</td> -->
                            <td *ngIf="data.Van_Eligible == 1; else inactive">Active</td>
                  <ng-template #inactive>
                    <td>InActive</td>
                  </ng-template>
                          
                  <td style="display: flex; justify-content: center">
                    <button
                    *ngIf="data.Van_Eligible == 1 "
                      mat-mini-fab
                      color="accent"
                      style="margin-left: 1rem"
                      (click)="onView(data)"
                    >
                      <!-- <button mat-mini-fab  color="basic" [routerLink]="['/rml/contra/mst_payscale', 'master',data.Effective_Date]" class="view-button" > -->
    
                      <mat-icon>edit</mat-icon>
                    </button>
             
                    <button
                    *ngIf="data.Van_Eligible == 1 "
                    style="margin-left: 1rem;"
                      mat-mini-fab
                      color="warn"
                      type="button"
                      (click)="delete(data)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                         
                           </tr>
                    </tbody> 
                      
                </table>
    
                </table>
    
    </div>

        </mat-tab>
   
        </mat-tab-group>


    </div>


    <div class="shadow-lg">
        <div
          class="form-popup container1 mat-elevation-z8"
          [hidden]="!viewPayscaleForm"
        >
          <!-- <div class=" form-popup container1 mat-elevation-z8"  > -->
      
          <div class="heading" style="padding-bottom: 10px">
            <div class="head1">
              <h2>Edit Van Mapping</h2>
            </div>
            <div class="head2">
              <!-- <button (click)="closeAllForms()">X</button> -->
            </div>
          </div>
      
          <hr style="border-block-color: orange" />
            <span style=" display:flex; margin-top: 2rem;">
            <mat-form-field appearance="outline" style="width: 50%;margin-left: 0rem;" >
                <mat-label>Route</mat-label>
                <mat-select [(ngModel)]="route" >
                  <mat-option value="">SELECT</mat-option>
                  <mat-option *ngFor="let plant of routelist" [value]="plant.Route_Id">{{plant.Route_Name}}</mat-option>
                </mat-select>
            </mat-form-field>
          
        
            
        
        </span>
<span style=" display:flex; margin-top: 0rem;">

    
        <mat-form-field appearance="outline" style="width: 50%;margin-left: 0rem;">
            <mat-label>Transport</mat-label>
            <input type="text" matInput [(ngModel)]="transport" />
        </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%;margin-left: 2rem;">
                <mat-label>Pick Up point</mat-label>
                <input type="text" matInput [(ngModel)]="pickup" />
            
            </mat-form-field>
            
</span>
            <span style=" display:flex; margin-top: 2rem;">
            <button mat-raised-button color="warn" type="close" (click)="closeAllForms1()" style="width: 50%;">Close</button>
            <button mat-raised-button color="primary"   [disabled]="!isSubmitFormValid()" (click)="submitVan()" style="width: 50%;margin-left: 1rem;">Update</button>
          </span>
     
        </div>
      </div>