<div>
   <!-- modal header -->
    <div>
      <div class="bg-blue-600 flex items-center justify-center py-4">
        <div class="flex items-center justify-start text-white font-poppins mx-4 gap-2">
          <div  class="px-2 py-2 rounded-md bg-[var(--bg-transparent)] flex items-center justify-center">
            <mat-icon class="h-0 w-0 text-2xl opacity-100">{{!isEdit ? 'add_circle' : 'edit'}}</mat-icon>
          </div>
          <h4 class="text-2xl text-white">{{!isEdit ? 'Add PMPD' : 'Update PMPD'}}</h4>
        </div>
      </div>
    </div>
    <br>
  <form [formGroup]="pmpdData" class="mx-3 !font-poppins">
    <div class="form-main">
      <div class="form-column">
        <mat-form-field appearance="outline" >
          <mat-label class="!font-poppins">Plant</mat-label>
          <mat-select formControlName="plant" class="font-poppins">
            <mat-option 
             *ngFor="let item of plant" 
             [value]="item.plant_code"
             class="font-poppins"> 
             {{item.plant_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="font-poppins">
          <mat-label class="font-poppins">Material Code</mat-label>
          <input
            matInput
            placeholder="Material Code"
            formControlName="material_code"
            class="font-poppins"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="font-poppins">
          <mat-label class="font-poppins">Material Description</mat-label>
          <input
            matInput
            placeholder="Material Description"
            formControlName="material_desc"
            class="font-poppins"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="font-poppins">
          <mat-label class="font-poppins" >Material Type</mat-label>
          <mat-select name="food" formControlName="material_type" class="font-poppins">
            <mat-option *ngFor="let item of material_type" [value]="item" class="font-poppins"> {{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="font-poppins">
          <mat-label class="font-poppins">UOM</mat-label>
          <mat-select formControlName="uom" class="font-poppins">
            <mat-option *ngFor="let item of uom" [value]="item" class="font-poppins"> {{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-form-field appearance="outline" class="font-poppins">
          <mat-label class="font-poppins">Division</mat-label>
          <mat-select formControlName="division" class="font-poppins">
            <mat-option *ngFor="let item of division" [value]="item" class="font-poppins"> {{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="font-poppins">
          <mat-label class="font-poppins" >PMPD</mat-label>
          <input matInput placeholder="PMPD" formControlName="pmpd" type="number" class="font-poppins"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="font-poppins">
          <mat-label class="font-poppins">Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="effective_date" class="font-poppins">
          <!-- <mat-hint class="mb-3">DD/MM/YYYY</mat-hint> -->
          <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="this.isEdit" class="font-poppins">
          <mat-label class="font-poppins">Active Status</mat-label>
          <mat-select name="food" formControlName="active_status" class="font-poppins">
            <mat-option value="1" class="font-poppins"> Active </mat-option>
            <mat-option value="0" class="font-poppins"> Inactive </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="flex justify-end gap-4 py-3">
        <button class="btn btn-light btn-lg rounded-[1.25rem] px-3 shadow-md" (click)="this.dailogRef.close()">Cancel</button>
        <button class="btn btn-primary btn-lg rounded-[1.25rem] px-3 shadow-md bg-blue-600" *ngIf='!isEdit' [disabled]="pmpdData.status=='INVALID'" (click)="verifydata()">Verify</button>
        <button class="btn btn-primary btn-lg rounded-[1.25rem] px-3 shadow-md bg-blue-600" *ngIf='!isEdit' type="submit" [disabled]="!data_verified" (click)="upload_data()">Save</button>
        <button class="btn btn-warning btn-lg rounded-[1.25rem] px-3 shadow-md text-white" *ngIf='isEdit' type="submit" [disabled]="updatebutton" (click)="updateData()">Update</button>
    </div>
        
  </form>
</div>
