<!-- add ,update shift ng template -->
<ng-template #content let-modal>
    <div class="modal-content-container">
        <!-- shift header -->
       <div>
            <div class="bg-blue-600 flex items-center justify-start py-4">
                <div class="flex items-center justify-start text-white font-poppins mx-4 gap-2">
                <div  class="px-2 py-2 rounded-md bg-[var(--bg-transparent)] flex items-center justify-center">
                    <mat-icon class="h-0 w-0 text-2xl opacity-100">{{!editing_flag ? 'add_circle' : 'edit'}}</mat-icon>
                </div>
                <h4 class="text-2xl text-white">{{!editing_flag ? 'Add Shift' : 'Update Shift'}}</h4>
            </div>
        </div>
       </div>
        <br>
        <!-- shift form -->
      <form [formGroup]="form">
        <!-- first row -->
            <div class="flex items-center justify-between flex-col sm:flex-row w-full gap-4 p-fluid">
                <!-- shift name -->
                <div class="w-full mx-2">
                    <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="shiftname">
                    <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
                Shift Name
                </label><br />
                <input
                    pInputText
                    styleClass="w-full" 
                    id="shiftname"
                    formControlName="shift_desc"
                />
                </div>
                <!-- shift group -->
            <div class="w-full mx-2">
                <label for="withoutgrouping" class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="shiftgroup">
                <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
                Shift Group
                </label> <br>
                 <p-dropdown 
                    formControlName="shift_group"
                    id="shiftgroup"
                    [options]="shiftGroupOptions"
                    optionLabel="label"
                    optionValue="value"
                    styleClass="w-full"
                    placeholder="Select Shift Group">
                </p-dropdown>
                <!-- <input
                    pInputText
                    styleClass="w-full"
                    id="shiftgroup"
                    formControlName="shift_group"
                /> -->
            </div>   
            </div>
            <!-- second row  -->
            <div class="flex items-center justify-between flex-col sm:flex-row w-full gap-4 p-fluid mt-3">
                <!-- plant -->
                <div class="w-full mx-2">
                    <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2">
                    <mat-icon class="text-2xl text-blue-600 h-0 w-0">adf_scanner</mat-icon>
                    Plant Name
                </label><br />
                <p-dropdown 
                    formControlName="plant_code" 
                    [options]="plantCopy"
                    (onChange)="pp($event)"
                    [disabled]="editing_flag"
                    optionLabel="plant_name"
                    optionValue="plant_code"
                    styleClass="w-full"
                    placeholder="Select Plant">
                     <ng-template let-plant pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <span>{{ plant?.plant_code + '-' + plant.plant_name }}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div>
                <!-- coff hours -->
            <div class="w-full mx-2">
                <label for="withoutgrouping" class="text-blue-600 flex items-center justify-start gap-1 -mb-2">
                <mat-icon class="text-2xl text-blue-600 h-0 w-0">history</mat-icon>
                Coff Hours
                </label> <br>
                <p-inputNumber 
                    mode="decimal" 
                    inputId="withoutgrouping"
                    formControlName="coff_eligible_hours"
                    styleClass="w-full" 
                    [useGrouping]="false" 
                ></p-inputNumber>
            </div>   
            </div>
            <!-- third row  -->
            <div class="flex items-center justify-between flex-col sm:flex-row w-full gap-4 p-fluid mt-3">
                <!-- Start time -->
                <div class="w-full mx-2">
                    <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="starttime">
                    <mat-icon class="text-2xl text-blue-600 h-0 w-0">history</mat-icon>
                    Start Time
                </label><br />
                <p-calendar 
                    inputId="starttime" 
                    formControlName="act_tm_from"
                    [showSeconds]="true" 
                    [timeOnly]="true" ></p-calendar>
                </div>
                <!-- End Time -->
            <div class="w-full mx-2">
                <label for="withoutgrouping" class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="endtime">
                <mat-icon class="text-2xl text-blue-600 h-0 w-0">history</mat-icon>
                End Time
                </label> <br>
                <p-calendar 
                    inputId="endtime" 
                    formControlName="act_tm_to"
                    [showSeconds]="true" 
                    [timeOnly]="true" ></p-calendar>
            </div>   
            </div>
            <!-- fourth row  -->
            <div class="flex items-center justify-between flex-col sm:flex-row w-full gap-4 p-fluid mt-3">
                <!-- Min time -->
                <div class="w-full mx-2">
                    <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="starttime">
                    <mat-icon class="text-2xl text-blue-600 h-0 w-0">history</mat-icon>
                    Min Time
                </label><br />
                <p-calendar 
                    inputId="starttime" 
                    formControlName="in_tm_min"
                    [showSeconds]="true"
                    [timeOnly]="true" ></p-calendar>
                </div>
                <!-- Max Time -->
            <div class="w-full mx-2">
                <label for="withoutgrouping" class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="endtime">
                <mat-icon class="text-2xl text-blue-600 h-0 w-0">history</mat-icon>
                Max Time
                </label> <br>
                <p-calendar 
                    inputId="endtime" 
                    formControlName="in_tm_max"
                    [showSeconds]="true" 
                    [timeOnly]="true" ></p-calendar>
            </div>   
            </div>
            <!-- row five  -->
            <div class="flex items-center justify-between flex-col sm:flex-row w-full gap-4 p-fluid mt-3">
                <!-- shift type -->
                <div class="w-full mx-2">
                    <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2">
                    <mat-icon class="text-2xl text-blue-600 h-0 w-0">turn_right</mat-icon>
                    Shift Type
                </label><br />
                <p-dropdown 
                    formControlName="type" 
                    [options]="type"
                    optionLabel="value"
                    optionValue="value"
                    styleClass="w-full"
                    placeholder="Select Shift Type">
                </p-dropdown>
                </div>
                <!-- Security shift -->
            <div class="w-full mx-2">
                <label for="withoutgrouping" class="text-blue-600 flex items-center justify-start gap-1 -mb-2">
                <mat-icon class="text-2xl text-blue-600 h-0 w-0">turn_left</mat-icon>
                Security Shift
                </label> <br>
                <p-dropdown 
                    formControlName="security_shift" 
                    [options]="security_shift"
                    optionLabel="value"
                    optionValue="value"
                    styleClass="w-full"
                    placeholder="Select Security Shift">
                </p-dropdown>
            </div>   
            </div>
            <br>
     </form>
    </div>
    <!-- shift footer -->
    <div class="modal-footer bg-gray-100">
        <!-- add btn -->
        <button 
         *ngIf="editing_flag==false"  
         type="button" 
          class="btn btn-primary btn-lg rounded-[1.25rem] px-3 shadow-md bg-blue-600"
          [disabled]="!form.valid"
         (click)="save()" 
         (click)="modal.close('Close click')" >
         Add Shift
        </button>
        <!-- update btn -->
        <button 
         *ngIf="editing_flag==true" 
         type="button" 
         class="btn btn-warning btn-lg rounded-[1.25rem] px-3 shadow-md text-white" 
         (click)="editSave()" 
         (click)="modal.close('Close click')" >
         Update Shift
        </button>
        <!-- cancel btn -->
        <button 
        type="button" 
        class="btn btn-light btn-lg rounded-[1.25rem] px-3 shadow-md"
        (click)="reset()" 
        (click)="modal.close('Close click')">
        Cancel
       </button>
    </div>
</ng-template>

<div class="mx-2">
    <!--shift master filter -->
  <div class="!shadow-md !my-4 !rounded-md !mx-auto h-full pb-1 !px-4 !font-poppins sm:h-40 border border-gray-400 ">
     <!-- filter header -->
     <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
        </h1>
       <!-- primeNG speedDial -->
        <p-speedDial 
          [model]="items" 
          direction="left"
          className="absolute right-0 top-0"
          buttonClassName="!h-[2.5rem] !w-[2.5rem]"
        >
        </p-speedDial>
     </div>
     <!-- shift master filter divison -->
     <div class="flex items-center justify-between w-full flex-col sm:flex-row sm:gap-2 xl:w-[25%] md:w-[50%]">
        <!-- plant based filter filter -->
        <div class="font-poppins w-full">
            <label for="status" class="text-gray-400 font-poppins mt-3 mb-1 font-semibold">Plant</label> <br>
            <p-dropdown
            [options]="plant"
            [(ngModel)]="selectedPlant"
            (onChange)="filterShiftByPlant()" 
            optionLabel="plant_name"
            optionValue="plant_code"
            styleClass="w-full py-1"  
            placeholder="Select Plant">
             <ng-template let-plant pTemplate="item">
              <div class="flex align-items-center gap-2">
                <span>{{ plant?.plant_code + '-' + plant.plant_name }}</span>
              </div>
            </ng-template>
        </p-dropdown>
        </div>
     </div>
  </div>
    <app-loader *ngIf="loader.isLoding | async;else show"></app-loader>
    <!-- shift table -->
    <ng-template #show>
        <div class="h-[90svh] lg:h-[65vh] xl:h-[64vh] sm:h-[45vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll">
                <table id="table" class="table-auto !w-full">
                    <!-- table head -->
                    <thead class="sticky top-0">
                        <tr  class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins xl:!text-left">
                            <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center text-nowrap">
                                SNo
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap">
                                Shift Name
                            </th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap">
                                Plant Code
                            </th>

                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                Start Time
                            </th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                End Time
                            </th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                Min Time
                            </th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                Max Time
                            </th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                Coff Hours
                            </th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                Shift Type
                            </th>
                             <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                Shift Group
                            </th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                Security Shift
                            </th>

                            <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-nowrap text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody>
                        <tr 
                         *ngFor="let i of shift; let a = index"
                         class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer"
                         >
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-center">{{a+1}}</td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-blue-600 font-semibold">
                                {{i.shift_desc}}
                            </td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md ">{{ i.plant_code + '-' + i.plant_desc}}</td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-center text-green-600">
                                <span class="px-2 py-1 bg-green-100 rounded-md">{{i.Shift_Start | formatTime}}</span>
                            </td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-center text-red-600">
                                <span class="px-2 py-1 bg-red-100 rounded-md text-center">{{i.Shift_End | formatTime}}</span>
                            </td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-center text-yellow-500">
                                <span class="px-2 py-1 bg-yellow-100 rounded-md">{{i.Min_Time | formatTime}}</span>
                            </td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-center text-orange-400">
                                <span class="px-2 py-1 bg-orange-100 rounded-md">{{i.Max_Time | formatTime}}</span>
                            </td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-center">{{i.coff_eligible_hours}}</td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-center text-blue-600 font-semibold">{{i.type}}
                            </td>
                            <td class="!px-2 !py-4 text-nowrap !rounded-s-md text-center text-blue-600 font-semibold">{{i.shift_group}}
                            </td>
                            <td 
                              [ngClass]="i.security_shift == 'Y' ? 'text-green-600' : 'text-red-600'"
                              class="font-semibold !px-2 !py-4 text-nowrap !rounded-s-md text-center">
                             {{i.security_shift}}
                            </td>
                            <!-- action btn -->
                            <td class="!px-2 !py-4 !rounded-e-md flex items-center justify-center">
                                <button  
                                   (click)="edit(a, i.shift_id)"
                                   (click)="opentoedit(content)">
                                 <mat-icon class="text-blue-600 text-[20px]">edit</mat-icon>
                                </button>
                                <button
                                  (click)="deleteShift($event,a, i.shift_id)">
                                    <mat-icon class="text-red-600 text-[20px]">delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>

    </ng-template>
</div>