<div class="overlay" [hidden]="!showD_offForm"></div>
<div class="shadow-lg ">
    <!-- <div class=" form-popup container1 mat-elevation-z8" > -->
<div class=" form-popup container1 mat-elevation-z8" [hidden]="!showD_offForm">
    <div>
        <h2>Paid Declared Holiday Entry</h2>
        <hr style="border-block-color: orange" />

        <form [formGroup]="D_OffForm" (ngSubmit)="onSubmit($event)">

            <div class="columns" id="firstBox" style="padding-bottom:10px;">
                <div class="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Plant</mat-label>
                        <mat-select formControlName="plant">
                          <mat-option *ngFor="let plant of plantname" [value]="plant">{{ plant.plant_name }}</mat-option>
        
                        </mat-select>
                        <mat-error *ngIf="D_OffForm.get('plant')?.hasError('required')">Please Select Plant </mat-error>
                      </mat-form-field>
                      <mat-form-field
                      appearance="outline"
                      color="primary"
                      class="example-full-width" 
                      (click)="picker2.open()"
                    >
                      <mat-label>Date</mat-label>
                      <input
                        matInput  formControlName="date" 
                     
                        [matDatepicker]="picker2"
                      />
                      <mat-hint>DD/MM/YYYY</mat-hint>
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker2> </mat-datepicker>
                      <mat-error *ngIf="D_OffForm.get('date')?.hasError('required')">Please Select date  </mat-error>
                    </mat-form-field>
                      



                </div>
                <div class="column">
                    <span id="radio">
                    <mat-label>Leave Type :  </mat-label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="holidayType"    class="example-radio-group">
                        <mat-radio-button value="Paid">Paid</mat-radio-button>
                        <mat-radio-button value="UnPaid" >UnPaid</mat-radio-button>
                    </mat-radio-group> 
</span>
                    <mat-form-field appearance="outline">
                        <mat-label>Reason</mat-label>
                        <textarea matInput formControlName="reason"></textarea>
                        <mat-error *ngIf="D_OffForm.get('reason')?.hasError('required')">Please Enter Reason  </mat-error>
                      </mat-form-field>

                </div>
            
            </div>
            <div class="columns" >
                <div
                style="display: flex; justify-content: space-around;padding-top:0.5em"
                >
                <button
                  mat-raised-button
                  id="red"
                  type="reset"
                 (click)="reset()"
                >
                  Reset
                </button>
                <button mat-raised-button color="primary" (click)="hideForm()">
                  Cancel
                </button>
                <button id="green" mat-raised-button color="primary" >
                    Save</button>
                </div>
            
            
            </div>


        </form>
        
    
    
    
    
    
    </div>
        </div>

</div>



<!-- Table -->

<div class="container">
    <br>
    <div>
        <h1 id = "title1" >Declared Holiday</h1>
        <hr style="border-block-color: orange" />
      </div>
      <div class="button">
        <button mat-fab color="primary" (click)="showForm()"   style="float: right" aria-label="Example icon button with a delete icon">
            <mat-icon>person_add</mat-icon>
        </button></div>
        <div class = "button1">
        <button mat-fab style="float: right" aria-label="Example icon button with a delete icon" >
            <mat-icon>download</mat-icon>
        </button></div>
        <br><br><br>
        <br><br>
        <!-- <app-loader *ngIf="loader.isLoding | async;else show"></app-loader> -->


        <!-- <ng-template #show> -->
            <div class = "table-wrapper">
            <table class="table table-bordered table-striped table-hover">
                <table id="table">
                    <thead>
                        <tr>
                            <th  class="text-center"
                            style="width: 500px"
                            style="background-color: darkblue">SNo</th>

                            <th div class="text-center">Date</th>
                            <th div class="text-center">Plant</th>
                            <th div class="text-center">Reason</th>
                            <th div class="text-center">Type</th>
                            <th div class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>24-04-2023</td>
                            <td>P2-Mysore</td>
                            <td>VINAYAKA CHATURTHI</td>
                            <td>Paid</td>
                            
                            <td>
                                <button mat-mini-fab color = 'accent'>
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" type="button"  >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </table>

</div>

        <!-- </ng-template>  -->

</div>