<div class="container2" 
style="z-index: 1250;">
  <br>
  <div>
      <h1 id = "title1" >Update Salary (Pending list) </h1>
      <hr style="border-block-color: orange" />
    </div>
    <div class="filter">
 <div class="f1" >
  <mat-form-field appearance="outline">
    <mat-label>GenID</mat-label>
    <input matInput  [(ngModel)]="selectedGenId" type="text"   />
  </mat-form-field >
  <!-- <mat-form-field appearance="outline">
    <mat-label>Contractor </mat-label>
    <input matInput  [(ngModel)]="selectedContrator" type="text"   />
  </mat-form-field> -->
  <mat-form-field appearance="outline" style="padding-right: 10px;">
   <mat-label>Contractor</mat-label>
    <mat-select  [(ngModel)]="selectedContrator" >
      <mat-option  >ALL</mat-option>
      <mat-option  *ngFor="let data of Con_list " [value]="data.Cont_company_name">{{data.Cont_company_name}}</mat-option>
    </mat-select>
  </mat-form-field>
 

 </div>

            
              <button mat-fab style="float: right" (click)="exportexcel()"  aria-label="Example icon button with a delete icon" >
                <mat-icon>download</mat-icon>
            </button>
    
          
        </div>


        <app-loader *ngIf="loader.isLoding | async;else show"></app-loader>

        <ng-template #show>
        <div class = "table-wrapper container3">
            <table class="table table-bordered table-striped table-hover">
                <table id="table">
                    <thead>
                        <tr>
                            <th  class="text-center"
                            style="background-color: darkblue">Sl_No</th>
                            <th div class="text-center">Gen ID</th>
                            <th div class="text-center">Employee Name</th>
                            <th div class="text-center">Category</th>
                            <th div class="text-center">DOJ</th>
                            <th div class="text-center">Dept</th>
                            <th div class="text-center">Line</th>
                            <th div class="text-center">Contractor</th>
                            <th div class="text-center">Salary Status</th>
                            <th div class="text-center">Rework Remarks</th>
                            <th div class="text-center">Action</th>
                        </tr>
                    </thead>
          
                    <tbody  style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" >
                        <!-- <tr *ngFor="let data of (issupervisor === 'true' || ishr === 'true') ? filteredClHRdata : Searchfilter; let i = index"> -->
                        <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index">
                        <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                        <td>{{i+1}}</td>
                        <td>{{data.gen_id }}</td>
                        <td>{{data.fullname }}</td>
                        <td>{{data.apprentice_type }}</td>
                        <td>{{data.doj }}</td>
                        <td>{{data.dept_name }}</td>
                        <td>{{data.Line_Name }}</td>
                        <td>{{data.Cont_company_name }}</td>
                        <td>{{data.Salary_Status}}</td>
                        <td>{{data.Rework_Remarks}} </td>
<!-- 
                        <td>    <button mat-icon-button  
                            (click)="navigateToNextPageWithData(data)"

                        
                            style="color: #0751c3;"  
                           >
                            <mat-icon>add_circle</mat-icon>
                          </button></td> -->
                        <td>   
                             <button  
                             *ngIf="data.Salary_Status ==='OPEN'"
                             mat-raised-button color="primary"
                            [routerLink]="['/rml/contra/updt_payscale',data.apln_slno,data.cont_id,data.gen_id,data.apln_status,data.Salary_Status]"
                        
                            
                           > Update Salary
                            <!-- <mat-icon>add_circle</mat-icon> -->
                          </button>
                        
                             <button  
                             style="background-color: green;"
                             *ngIf="data.Salary_Status !=='OPEN'"
                             mat-raised-button color="primary"
                             [routerLink]="['/rml/contra/rev_payscale',data.apln_slno,data.cont_id,data.gen_id,data.apln_status,data.PayScale_ID]"
                        
                           > Revise Salary
                            <!-- <mat-icon>add_circle</mat-icon> -->
                          </button>
                        
                        
                        </td>
                      
                        </tr>
                  
  
                    </tbody>
                      
                </table>
  
                </table>
  
  </div>


</ng-template> 






 </div>   