<div  class="mx-2">
     <!-- header -->
  <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 mx-2 !rounded-md !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row md:!h-20">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon> cancel_presentation</mat-icon> Shift cancel Re-Process<hr/>
    </h1>
    <p class="mt-1 text-gray-400">View and Manage Shift Cancel Re-Process</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
  </div>
  <!-- shift change filter -->
   <div>
    <!-- shift change filter -->
  <div class="!shadow-md !my-4 !rounded-md  h-full pb-3 !px-4 !font-poppins sm:h-min border border-gray-400 mx-2">
    <!-- filter header -->
      <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
        </h1>
      </div>
   <div>
     <!-- first row -->
     <div class="flex items-center justify-between w-full flex-col sm:flex-row sm:gap-2">
    
      <!--  date-->
      <div class="w-full">
        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Date</label> <br>
        <p-calendar 
          dateFormat="yy-mm-dd"
          styleClass="w-full !font-poppins"
          [(ngModel)]="selected_Date"
          (onSelect)="onDateFilterChange($event)"
          [maxDate]="maxDate"
          [showIcon]="true" >
      </p-calendar>
      </div>
        <!-- line -->
      <div class="w-full">
        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Line</label> <br>
        <p-dropdown
        [options]="lineData"
        [(ngModel)]="selected_Line"
        optionValue="Line_Name"
        optionLabel="Line_Name"
        placeholder="Select Plant"
        styleClass="w-full !font-poppins">
        </p-dropdown>
      </div>
     <!-- gen id -->
       <div class="w-full p-fluid">
      <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Gen ID</label> <br>
      <input 
        type="text" 
        pInputText
        styleClass="w-full !font-poppins"
        placeholder="Enter Gen ID" 
        [(ngModel)]="genId" />
       </div>
         <!--shift  -->
      <div class="w-full">
        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Shift</label> <br>
        <p-dropdown
        [options]="NoshiftData"
        [(ngModel)]="shift"
        optionLabel="shift_desc"
        placeholder="Select Shift"
        styleClass="w-full !font-poppins">
        </p-dropdown>
      </div>
     </div>
    
     </div>
    </div>
  </div>
  
    <!-- <div class="filter">
        <div>
            <mat-form-field appearance="outline"color="primary" class="example-full-width"(click)="picker2.open()">
          <mat-label>Date Filter</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="selected_Date" (dateChange)="onDateFilterChange($event)"   [max]="maxDate" />
          <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
          <mat-datepicker #picker2> </mat-datepicker>
         
        </mat-form-field>
        </div>

        <div >
        <mat-form-field appearance="outline"  > 
            <mat-label>Line</mat-label>
          
            <mat-select [(ngModel)]="selected_Line"  (click)="selected_Line=''">
              <mat-option value="All">All</mat-option>
              <mat-option *ngFor="let line of lineData" [value]="line.Line_Name">{{line.Line_Name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
        </div>
        <div >
            <mat-form-field appearance="outline">
                <mat-label>GenID</mat-label>
                <input matInput  type="text" [(ngModel)]="genId" (click)="genId=''" />
              </mat-form-field>
          <br>
        </div>
        <div >
            <mat-form-field appearance="outline">
                <mat-label>Shift</mat-label>
                <mat-select [(ngModel)]="shift"  (click)="shift=''">
                    <mat-option value="">All</mat-option>
                    <mat-option   *ngFor="let Shift of NoshiftData" [value]="{ in_tm_min: Shift.in_tm_min, in_tm_max: Shift.in_tm_max }"  >{{Shift.shift_desc}}</mat-option>
                  </mat-select>
              </mat-form-field>
          <br>
        </div>
    </div> -->

    <app-loader *ngIf="loader.isLoding | async;else show"></app-loader>


    <ng-template #show>
        <div class="h-[90svh] lg:h-[75vh] xl:h-[75vh] sm:h-[60vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll mx-3">
        <table id="table" class="table-auto !w-full">
            <!-- table head -->
                <thead class="sticky top-0">
                    <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                        <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 ">Name</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Attandance date</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Line</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">In Time</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Out Time</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Present Shift</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Alternate Shift</th>
                        <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Action</th>
                        
                    </tr>
                </thead>
                <!-- table body -->
                <tbody >
                    <tr *ngFor="let data of punchData| GenFilter:genId | lineFilter:selected_Line |shiftFilter:shift; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                     <td class="!px-2 !py-4 !rounded-s-md text-center ">{{ i + 1 }}</td>
                     <td class="!px-2 !py-4 !rounded-s-md text-center text-blue-600 font-semibold">{{data.gen_id}}</td>
                     <td class="!px-2 !py-4 !rounded-s-md">{{data.fullname}}</td>
                     <td class="!px-2 !py-4 !rounded-s-md text-center">{{data.vardate |date:'dd-MM-yyyy'}}</td>
                     <td class="!px-2 !py-4 !rounded-s-md text-center">{{data.Line_Name }}</td>
                     <td class="!px-2 !py-4 !rounded-s-md text-center text-green-600 font-semibold">{{data.in_time |date:'dd-MM-yyyy HH:mm:ss' }}</td>
                     <td class="!px-2 !py-4 !rounded-s-md text-center text-red-500 font-semibold">{{data.out_time |date:'dd-MM-yyyy HH:mm:ss'}}</td>
                     
                     <td class="!px-2 !py-4  font-semibold">
                         <p-dropdown
                            [options]="NoshiftData"
                            [(ngModel)]="data.shift_id"
                            optionLabel="shift_desc"
                            optionValue="shift_id"
                            placeholder="Select Shift"
                            styleClass="w-full !font-poppins">
                        </p-dropdown>
                        <!-- <mat-select id="inp" class="input2" [(ngModel)]="data.shift_id" >
                            <mat-option *ngFor="let Shift of NoshiftData" [value]="Shift.shift_id"  >{{Shift.shift_desc}}</mat-option>
                      </mat-select> -->
                    </td>
                     <td class="!px-2 !py-4 !rounded-s-md font-semibold" >
                        <p-dropdown
                            [options]="shiftData"
                            [(ngModel)]="data.alt_shift_id"
                            optionLabel="shift_desc"
                            optionValue="shift_id"
                            placeholder="Select Shift"
                            styleClass="w-full !font-poppins">
                        </p-dropdown>
                        <!-- <mat-select id="inp" class="input2" [(ngModel)]="data.alt_shift_id">
                            <mat-option *ngFor="let Shift of shiftData" [value]="Shift.shift_id" 
                            [disabled]="data.shift_id === Shift.shift_id"
                            >{{Shift.shift_desc}} </mat-option>
                          </mat-select> -->
                     </td>
                     <td class="flex items-center justify-center" >
                        <button 
                          pButton label="Save"  
                         (click)="CancelShift(data)"
                         class="rounded-3xl"
                        [disabled]="(data.shift_id === null &&  data.alt_shift_id !== null )||( data.alt_shift_id === null && data.shift_id !== null)">
                          </button> 
                     </td>
                    </tr>
                </tbody>
            </table>
</div>

    </ng-template> 


</div>