<div class="flex items-center justify-center h-full bg-gradient font-poppins">
 <div>
  <!-- home button -->
   <button id="logout" routerLink="/first" class="bg-blue-200 rounded-md my-4">
      <mat-icon aria-hidden="false" aria-label="home" class="text-[32px]">home</mat-icon>
    </button>

  <!-- loading -->
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="loader" *ngIf="loading"></div>
  </div>

  <!-- trainee login form -->
  <div class="form-container">
    <h1 class="text-center text-2xl font-poppins my-2 font-bold">Trainee Login</h1>

    <form [formGroup]="form" (ngSubmit)="TraineeLogin()">
      <label id="labelid" for="username" class="my-2 font-semibold">Temporary ID </label>
      <input
        id="inputid"
        formControlName="username"
        type="text"
        class="form-control"
      />

      <div
        class="text-red-500 mt-2 bg-red-200 rounded-md text-center w-full py-1"
       *ngIf="f['username'].touched && f['username'].invalid && f['username'].errors?.['required']"
      >
       Temporary ID is required.
      </div>

      <br />

      <label id="labelid" class="my-2 font-semibold">Password [Mobile Last 4 Digit]</label>
      <input
        id="inputid"
        formControlName="pass"
        [type]="inputType"
        class="form-control"
      />

      <div
        class="text-red-500 mt-2 bg-red-200 rounded-md text-center w-full py-1"
        *ngIf="f['pass'].touched && f['pass'].invalid && f['pass'].errors?.['required']"
      >
        Password is required.
      </div>

      <!-- show password -->
      <div id="show" class="ml-4 font-semibold my-2">
          <input
            id="inputid"
            (change)="updateInput($event)"
            type="checkbox"
            class="form-check-input"
          />
        <label for="show">Show Password</label>
      </div>
      
      <!-- form button -->
      <button type="submit" class="bg-blue-200 rounded-md my-3 font-poppins font-semibold flex items-center justify-center gap-1">
        Sign In <mat-icon aria-hidden="false" aria-label="home" class="text-[24px]">login</mat-icon>
      </button>
    </form>
  </div>
 </div>
</div>
