
#title1{
    font-size: 20px;
  
    color:rgb(0, 0, 139);
    font-weight:bolder;
    text-align:center;
    text-decoration: solid;
    font-weight:900;
  }

  #action .view-button {
    background-color: yellow;
    margin-right: 5px;
  }
  
  #action .approve-button {
    background-color: #0b8826; 
    margin-right: 2px;
  }
  
  th{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 14px;
  }
  td{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 14px;
  }
  th { background: #c5c5c5;
    padding: 14px;}
  table 
  {
  border-collapse: collapse;
  width: 100%;
  }
  tbody
{
text-align: center;

}
  td { 
    border: 1px solid #cdcdcd; 
    padding:6px 6px 6px 6px;
    text-align: center;
}
  
.text-center{
    width: 500px;
    background-color: darkblue;
  
  }

  .filter {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
    margin-left: 10px;
  }