.text-center {
    width: 500px;
    background-color: darkblue;
  }
  
  .title {
    font-size: 40px;
    color: rgb(0, 0, 139);
    font-weight: bolder;
    text-align: center;
    text-decoration: solid;
    font-size: larger;
    font-weight: 900;
  }
  
    
  th{
      color: white;
      font-family: 'Montserrat', sans-serif;
    }
    td{
      font-family: 'Times New Roman', Times, serif;
      font-weight: 500;
      font-size: medium;
    }
    th { background: #c5c5c5;}
    table 
    {
    border-collapse: collapse;
    width: 100%;
    }
    td, th { border: 1px solid #cdcdcd; padding: 8px;}
    .form-group
    {
    background-color: lightgrey;
    }
    
    tbody
    {
    text-align: center;
    
    }
    
    .table-wrapper
    {
      display: block;
    }
  
    .mat-button.mat-success,
  .mat-mini-fab.mat-success {
    color: white;
    background-color: rgb(4, 184, 4);
  }
  
  
  .mat-button.mat-danger,
  .mat-mini-fab.mat-danger {
    color: white;
    background-color: rgb(228, 22, 22);
  }

  .input2 {
    min-width: 200px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 6px;
    outline: 10px;
    border: 15px;
    font-size: 16px;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  .filter{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    margin:0 10px 0 10px;
  }
  