<div>
      <!-- header -->
  <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 mx-2 !rounded-md !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>calendar_today</mat-icon> Trainee Leave Master<hr/>
    </h1>
    <p class="mt-1 text-gray-400">View and Manage Trainee Leave</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
  </div>
  <!-- filters an action -->
   <div>
    <!-- filters an action -->
  <div class="!shadow-md !my-4 !rounded-md  h-full pb-3 !px-4 !font-poppins sm:h-min border border-gray-400 mx-2">
    <!-- filter header -->
      <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
          <!-- total count -->
          <span class="bg-blue-200 rounded-md px-2 py-1 text-base">
            Total Count: {{mst_leave_data?.length || 0}}
          </span>
        </h1>
        <p-button
        styleClass="absolute right-0 top-0 mr-2 rounded-[1.5rem]"
        icon="pi pi-download"
        (onClick)="download()">
        </p-button>
      </div>
   <div>
     <!-- first row -->
     <div class="flex items-center justify-start w-full flex-col sm:flex-row sm:gap-2">
     <!-- gen id -->
       <div class="w-full p-fluid sm:w-1/4">
      <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Gen ID</label> <br>
      <input 
        type="text" 
        pInputText
        styleClass="w-full !font-poppins"
        placeholder="Enter Gen ID" 
        [(ngModel)]="selectedGenId" />
       </div>
       <div class="">
        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Excel File</label> <br>
          <input 
            #fileInput 
            type="file" 
            accept=".xlsx, .xls .csv" 
            (change)="handleFileInput($event)"
            class="block text-sm text-gray-500 file:me-4 file:py-2 file:px-4 file:!rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-600 file:text-white hover:file:bg-blue-700 file:disabled:opacity-50 file:disabled:pointer-events-none dark:text-neutral-500 dark:file:bg-blue-500 dark:hover:file:bg-blue-400 border border-gray-400 py-2 px-2 rounded-md ng-untouched ng-pristine ng-valid"  />
       </div>
       <!-- verify -->
        <button
         pButton
         label="Verify"
         icon="pi pi-check-circle"
         (click)="verifydata()"
         class="mt-10"
         >
        </button>
        <!-- template -->
        <a [href]="url + 'sop/Leave Master Template.xlsx'" style="text-decoration: none;">
            <button
            pButton
            label="Templete"
            icon="pi pi-file-o"
            class="mt-10">
            </button>
        </a>
     </div>
    
     </div>
    </div>
  </div>
    
  <!-- leave master data table -->
    <div class="h-[90svh] lg:h-[75vh] xl:h-[75vh] sm:h-[60vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll mx-2 relative">
        <table  id="table" class="table-auto !w-full">
               <!-- table head -->
                <thead class="sticky top-0">
                    <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins xl:!text-left">
                        <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0">Name</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Calender Year</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>
                        <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Action</th>
                    </tr>
                </thead>
              <!-- table body -->
                <tbody >
                    <tr *ngFor="let data of mst_leave_data | customgenFilter: selectedGenId; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                    <!-- <tr  *> -->
                    <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index"> -->
                    <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{i+1}}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center text-blue-600 font-semibold">{{data.gen_id }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md ">{{data.fullname }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Calendar_Year }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.CL || 0 }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.PL || 0}}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Sick_Leave || 0}}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.ESI_Leave || 0 }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Adv_Leave || 0}}</td>
            
                    <td class="flex items-center justify-center !px-2 !py-4"> 
                        <button (click)="edit(data)" >
                        <mat-icon class="text-[20px] text-blue-600">edit</mat-icon>
                      </button> 
                    </td> 
                    </tr>
                </tbody>
        </table>
        <!-- loader -->
         <app-loader *ngIf="loader.isLoding | async"></app-loader>
</div>
</div>
  <!-- Valid records view -->
  <!-- *ngIf="validatedRecords && validatedRecords.length > 0" -->
   <ng-template #validRecords let-modal>
          <table id="table" class="table-auto !w-full">
                  <thead class="sticky top-0">
                      <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins xl:!text-left">
                          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
                          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Calender Year</th>
                          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>
                      </tr>
                  </thead>
                  <!-- table body -->
                  <tbody>
                      <tr *ngFor="let data of validatedRecords; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                      <!-- <tr  *> -->
                      <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index"> -->
                      <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                      <td class="!px-2 !py-4 !rounded-s-md text-center ">{{i+1}}</td>
                      <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.gen_id }}</td>
                      <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Calendar_Year }}</td>
                      <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.CL }}</td>
                      <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.PL }}</td>
                      <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Sick_Leave }}</td>
                      <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.ESI_Leave }}</td>
                      <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Adv_Leave }}</td>
                      </tr>
                  </tbody>  
          </table>
          <!-- submit btn -->
           <div class="modal-footer">
               <button 
                pButton 
                label="Submit"
                iconPos="right" 
                icon="pi pi-check"  
                (click)="submit(); closeModal(validRecordTemplateRef);" >
              </button>
           </div>
   </ng-template>
  
  <!-- update records view -->
   <ng-template #updateRecords let-modal>
      <!-- <div class="bg-blue-600 flex items-center justify-start py-4">
      <div class="flex items-center justify-start text-white font-poppins mx-4 gap-2">
        <div  class="px-2 py-2 rounded-md bg-[var(--bg-transparent)] flex items-center justify-center">
           <mat-icon class="h-0 w-0 text-2xl opacity-100">add_circle</mat-icon>
        </div>
         <h4 class="text-2xl text-white">Update Leave</h4>
      </div>
      </div> -->
      <!-- *ngIf="updateReocrds && updateReocrds.length > 0" id="validate"-->
          <table id="table" class="table-auto !w-full">
                        <thead class="sticky top-0">
                            <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins xl:!text-left">
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Calender Year</th>
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>
                                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Reason</th>
                            </tr>
                        </thead>
              
                        <tbody >
                            <tr *ngFor="let data of updateReocrds; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                            <!-- <tr  *> -->
                            <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index"> -->
                            <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{i+1}}</td>
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.gen_id }}</td>
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Calendar_Year }}</td>
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.CL }}</td>
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.PL }}</td>
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Sick_Leave }}</td>
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.ESI_Leave }}</td>
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Adv_Leave }}</td>
                            <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.reason }}</td>
                            </tr>
                        </tbody>
          </table>
          <!-- modal footer -->
          <div class="modal-footer">
            <button 
              pButton 
              label="Update" 
              icon="pi pi-refresh" 
              (click)="bulkUpdate(); closeModal(updateRecordTemplateRef);">
            </button>
          </div>
   </ng-template>
   
   <!-- invalid records view -->
   <ng-template #invalidRecords let-modal>
      <!-- *ngIf="nonValidatedRecords && nonValidatedRecords.length > 0" -->
              <table id="table" class="table-auto !w-full">
                      <thead class="sticky top-0">
                          <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins  *:xl:!text-left">
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">SNo</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Calender Year</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Reason</th>
                          </tr>
                      </thead>
            
                      <tbody >
                          <tr *ngFor="let data of nonValidatedRecords; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                          <!-- <tr  *> -->
                          <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index"> -->
                          <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{i+1}}</td>
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.gen_id }}</td>
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Calendar_Year }}</td>
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.CL }}</td>
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.PL }}</td>
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Sick_Leave }}</td>
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.ESI_Leave }}</td>
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Adv_Leave }}</td>
                          <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.reason }}</td>
                          </tr>
                      </tbody>
              </table>
              <!-- modal footer -->
               <div class="modal-footer">
                 <!-- download btn -->
                  <button 
                    pButton 
                    label="Download" 
                    (click)="invalid_Data(); closeModal(invalidRecordTemplateRef);" 
                    style="margin-left: 2em;">
                  </button>
               </div>
   </ng-template>
 
   <!-- single update modal view -->
    <ng-template #singleUpdateView>
       <form [formGroup]="leave_mst_form" class="mx-2">
            <div class="Details shadow border py-2 mb-2 rounded-md mt-2">
                <label class="text-blue-600 font-semibold !text-xl mb-0">Name : {{ leave_mst_form.get('fullname').value }}</label>
                <label class="text-blue-600 font-semibold !text-xl mb-0">Gen ID : {{ leave_mst_form.get('gen_id').value }} </label>
                <label class="text-blue-600 font-semibold !text-xl mb-0">Calender Year : {{ leave_mst_form.get('Calendar_Year').value }}</label>
            </div>
            <!-- single update table -->
          <div>
              <table id="table" class="table-auto !w-full">
                      <thead>
                          <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                              <th class="!text-white rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                              <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                              <th class="!text-white rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>  
                          </tr>
                      </thead>
                      <tbody >
                          <tr class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                              <td class="!px-2 !py-4 !rounded-s-md text-center "><input pInputText class="w-1/3 py-1" type="number" formControlName="CL" /></td>
                              <td class="!px-2 !py-4 !rounded-s-md text-center "><input pInputText class="w-1/3 py-1" type="number" formControlName="PL" /></td>
                              <td class="!px-2 !py-4 !rounded-s-md text-center "><input pInputText class="w-1/3 py-1" type="number" formControlName="Sick_Leave" /></td>
                              <td class="!px-2 !py-4 !rounded-s-md text-center "><input pInputText class="w-1/3 py-1" type="number" formControlName="ESI_Leave" /></td>
                              <td class="!px-2 !py-4 !rounded-s-md text-center "><input pInputText class="w-1/3 py-1" type="number" formControlName="Adv_Leave" /></td>
                          </tr>
                      </tbody>
              </table>
          </div>
       </form>
      <!-- modal footer -->
      <div class="modal-footer">
        <button 
        pButton 
        label="Update" 
        icon="pi pi-refresh" 
        (click)="single_Update(); closeModal(singleUpdateView)" >
      </button>
      </div>
    </ng-template>