<div>
      <!-- header -->
  <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 mx-2 !rounded-md !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>calendar_today</mat-icon> Operator Leave Master<hr/>
    </h1>
    <p class="mt-1 text-gray-400">View and Manage Operator Leave</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
  </div>
  <!-- filters an action -->
   <div>
    <!-- filters an action -->
  <div class="!shadow-md !my-4 !rounded-md  h-full pb-3 !px-4 !font-poppins sm:h-min border border-gray-400 mx-2">
    <!-- filter header -->
      <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
          <!-- loader -->
          <span class="bg-blue-200 rounded-md px-2 py-1 text-base">
            Total Count: {{mst_leave_data?.length || 0}}
          </span>
        </h1>
        <p-button
        styleClass="absolute right-0 top-0 mr-2 rounded-[1.5rem]"
        icon="pi pi-download"
        (onClick)="download()">
        </p-button>
      </div>
   <div>
     <!-- first row -->
     <div class="flex items-center justify-start w-full flex-col sm:flex-row sm:gap-2">
     <!-- gen id -->
       <div class="w-full p-fluid sm:w-1/4">
      <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Gen ID</label> <br>
      <input 
        type="text" 
        pInputText
        styleClass="w-full !font-poppins"
        placeholder="Enter Gen ID" 
        [(ngModel)]="selectedGenId" />
       </div>
       <div class="">
        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Excel File</label> <br>
          <input 
            #fileInput 
            type="file" 
            accept=".xlsx, .xls .csv" 
            (change)="handleFileInput($event)"
            class="block text-sm text-gray-500 file:me-4 file:py-2 file:px-4 file:!rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-600 file:text-white hover:file:bg-blue-700 file:disabled:opacity-50 file:disabled:pointer-events-none dark:text-neutral-500 dark:file:bg-blue-500 dark:hover:file:bg-blue-400 border border-gray-400 py-2 px-2 rounded-md ng-untouched ng-pristine ng-valid"  />
       </div>
       <!-- verify -->
        <button
         pButton
         label="Verify"
         icon="pi pi-check-circle"
         (click)="verifydata()"
         class="mt-10"
         >
        </button>
        <!-- template -->
        <a [href]="url + 'sop/Leave Master Template.xlsx'" style="text-decoration: none;">
            <button
            pButton
            label="Templete"
            icon="pi pi-file-o"
            class="mt-10">
            </button>
        </a>
     </div>
    
     </div>
    </div>
  </div>
    
    <div class="h-[90svh] lg:h-[75vh] xl:h-[75vh] sm:h-[60vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll mx-2 relative">
        <table  id="table" class="table-auto !w-full">
               <!-- table head -->
                <thead class="sticky top-0">
                    <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins xl:!text-left">
                        <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0">Name</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Calender Year</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>
                        <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Action</th>
                    </tr>
                </thead>
              <!-- table body -->
                <tbody >
                    <tr *ngFor="let data of mst_leave_data | customgenFilter: selectedGenId; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                    <!-- <tr  *> -->
                    <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index"> -->
                    <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{i+1}}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center text-blue-600 font-semibold">{{data.gen_id }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md ">{{data.fullname }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Calendar_Year }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.CL || 0 }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.PL || 0}}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Sick_Leave || 0}}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.ESI_Leave || 0 }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Adv_Leave || 0}}</td>
            
                    <td class="flex items-center justify-center !px-2 !py-4"> 
                        <button (click)="edit(data)" >
                        <mat-icon class="text-[20px] text-blue-600">edit</mat-icon>
                      </button> 
                    </td> 
                    </tr>
                </tbody>
        </table>
        <!-- loader -->
         <app-loader *ngIf="loader.isLoding | async"></app-loader>
</div>
</div>

<!-- leave upload verify popup -->
<!-- [hidden]="!showForm" -->
<div class="shadow-lg" [hidden]="!showForm">
<!-- <div class="shadow-lg "    > -->
  <!-- <div class=" form-popup container mat-elevation-z8" > -->
  <div class=" form-popup container1 mat-elevation-z8" >
    <div style="display: flex; justify-content: flex-end">
   <button class="bg-white shadow rounded-md px-3 py-1.5" (click)="clsoe()">
    x
  </button>
     </div>
<!-- *ngIf="validatedRecords && validatedRecords.length > 0" -->
<div *ngIf="validatedRecords && validatedRecords.length > 0">
    <label class="font-semibold text-blue-600 my-2 text-xl">Valid Data</label>
    <div>
        <table id="table" class="table-auto !w-full">
                <thead class="sticky top-0">
                    <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins xl:!text-left">
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Calender Year</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                        <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>

                    </tr>
                </thead>
      
                <tbody >
                    <tr *ngFor="let data of validatedRecords; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                    <!-- <tr  *> -->
                    <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index"> -->
                    <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{i+1}}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.gen_id }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Calendar_Year }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.CL }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.PL }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Sick_Leave }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.ESI_Leave }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Adv_Leave }}</td>
                    </tr>
                </tbody>  
        </table>
</div>

<div
style="display: flex; justify-content: space-around;padding-top:0.5em"
>
<button pButton label="Submit" icon="pi pi-check"  (click)="submit()" >
  </button>
</div>
</div>

   <!-- *ngIf="updateReocrds && updateReocrds.length > 0" -->
    <div id="validate" *ngIf="updateReocrds && updateReocrds.length > 0">
        <label class="font-semibold text-blue-600 my-2 text-xl">Update records</label>
        <div>
            <table id="table" class="table-auto !w-full">
                    <thead class="sticky top-0">
                        <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                            <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">SNo</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Calender Year</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>
                            <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Reason</th>
                            
                        </tr>
                    </thead>
           
                    <tbody >
                        <tr *ngFor="let data of updateReocrds; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                        <!-- <tr  *> -->
                        <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index"> -->
                        <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{i+1}}</td>
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.gen_id }}</td>
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Calendar_Year }}</td>
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.CL }}</td>
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.PL }}</td>
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Sick_Leave }}</td>
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.ESI_Leave }}</td>
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Adv_Leave }}</td>
                        <td  class="!px-2 !py-4 !rounded-s-md text-center ">{{data.reason }}</td>
                        </tr>
                    </tbody>
                </table>
    </div>
    
    <div
    style="display: flex; justify-content: space-around;padding-top:0.5em"
    >
    <button pButton label="Update" icon="pi pi-refresh" (click)="bulkUpdate()" >
      </button>
    </div>
   </div>

   <!-- *ngIf="nonValidatedRecords && nonValidatedRecords.length > 0" -->
<div *ngIf="nonValidatedRecords && nonValidatedRecords.length > 0">
    <label class="font-semibold text-blue-600 my-2 text-xl">InValid Data</label>
    <!-- download -->
    <button pButton label="Download" (click)="invalid_Data()" style="margin-left: 2em;"></button>
    <div class="mt-3">
        <table id="table" class="table-auto !w-full">
                <thead class="sticky top-0">
                    <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                        <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">SNo</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Calender Year</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                        <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>
                        <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Reason</th>
                        
                    </tr>
                </thead>
      
                <tbody >
                    <tr *ngFor="let data of nonValidatedRecords; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                    <!-- <tr  *> -->
                    <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId |ConFilter :selectedContrator ; let i=index"> -->
                    <!-- <tr  *ngFor="let data of apnt_list | GenFilter:selectedGenId  ; let i=index"> -->
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{i+1}}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.gen_id }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Calendar_Year }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.CL }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.PL }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Sick_Leave }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.ESI_Leave }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.Adv_Leave }}</td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center ">{{data.reason }}</td>
                    </tr>
                </tbody>
            </table>
</div>
</div>


  </div>
</div>
  
<!-- singla leave update popup -->
  <div class="shadow-lg " [hidden]="!showsingleUpdt">
    <!-- <div class="shadow-lg "    > -->
      <!-- <div class=" form-popup container mat-elevation-z8" > -->
      <div class=" form-popup container2 mat-elevation-z8" >

        <div style="display: flex; justify-content: flex-end">
        <button mat-raised-button  (click)="clsoe2()"  >
            <mat-icon>close</mat-icon>
          </button>
        </div>

       
<form [formGroup]="leave_mst_form">
            <div class="Details">
                <label class="text-blue-600 font-semibold !text-xl">Name : {{ leave_mst_form.get('fullname').value }}</label>
                <label class="text-blue-600 font-semibold !text-xl">Gen ID : {{ leave_mst_form.get('gen_id').value }} </label>
                <label class="text-blue-600 font-semibold !text-xl">Calender Year : {{ leave_mst_form.get('Calendar_Year').value }}</label>
            </div>
<div>
    <table id="table" class="table-auto !w-full">
            <thead>
                <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                    <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">CL</th>
                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">PL</th>
                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Sick Leave</th>
                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">ESI Leave</th>
                    <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Adv Leave</th>  
                </tr>
            </thead>
            <tbody >
                <tr class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                    <td class="!px-2 !py-4 !rounded-s-md text-center "><input matInput type="number" formControlName="CL" /></td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center "><input matInput type="number" formControlName="PL" /></td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center "><input matInput type="number" formControlName="Sick_Leave" /></td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center "><input matInput type="number" formControlName="ESI_Leave" /></td>
                    <td class="!px-2 !py-4 !rounded-s-md text-center "><input matInput type="number" formControlName="Adv_Leave" /></td>
                </tr>
            </tbody>
        </table>
</div>

<div style="display: flex; justify-content: space-around;padding-top:0.5em">
<button pButton label="Update" icon="pi pi-refresh" (click)="single_Update()" >

</button>
</div>
</form>
</div>
</div>