<!-- header -->
 <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 mx-2 !rounded-md !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row md:!h-auto">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>more_time</mat-icon>Excess Hours Supervisor Confirmation<hr/>
    </h1>
    <p class="mt-1 text-gray-400">View and Approve Excess Hours</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
</div>

<!-- filter-->
   <div>
    <!--  filters -->
  <div class="!shadow-md !my-4 !rounded-md  h-full pb-3 !px-4 !font-poppins sm:h-min border border-gray-400 mx-2">
    <!-- filter header -->
      <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
          <!-- total count -->
          <span class="bg-blue-200 rounded-md px-2 py-1 text-base">
            Total Count: {{data?.length || 0}}
          </span>
        </h1>
       <!-- download btn-->
        <p-button 
         icon="pi pi-download" 
         styleClass="absolute right-0 top-0 mr-2 rounded-[1.5rem]" 
         (click)="exportexcel()" 
         ariaLabel="download"></p-button>
      </div>
     <div>
     <!--  filter row one -->
     <div class="flex items-center justify-between w-full flex-col sm:flex-row sm:gap-2">
      <!-- date -->
        <div class="w-full">
          <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Date</label> <br>
          <p-calendar 
           [(ngModel)]="filterDate"
           (onSelect)="handleUserActionIfSelectedAllSelected()"
            dateFormat="yy-mm-dd" 
            id="date"
            ariaLabel="calender"
            iconAriaLabel="calendar icon"
            styleClass="w-full !font-poppins"
            [showIcon]="true" >
          </p-calendar>
        </div>
       <!-- line filter -->
       <div class="font-poppins w-full">
          <label for="line" class="text-gray-400 font-poppins mt-3 mb-1 font-semibold">Line</label> <br>
          <p-dropdown 
            [options]="lines"
            (onChange)="handleUserActionIfSelectedAllSelected()"
           [(ngModel)]="selectedLine"
            optionLabel="Line_Name"
            optionValue="Line_Name"
            styleClass="w-full"
            id="line" 
            placeholder="Select Line" ></p-dropdown>
       </div>
       <!-- gen id -->
       <div class="font-poppins w-full p-fluid">
          <label for="gen id" class="text-gray-400 font-poppins mt-3 mb-1 font-semibold">Gen ID</label> <br>
          <input 
            pInputText
            id="gen id"
            [(ngModel)]="userEnteredGenID"
            styleClass="w-full" 
            (input)="filterExcessHourByGenID(); handleUserActionIfSelectedAllSelected();"
            placeholder="Enter Gen ID"/>
       </div>
        <!-- clear btn -->
        <div>
           <button
           pButton
           icon="pi pi-times"
           class="mt-10 bg-red-500 outline-none border-none hover:!bg-red-500"
           (click)="clear()"
           aria-label="clear">
           </button>
        </div>
         <!-- row two -->
      <div class="flex items-center justify-between w-full flex-col sm:flex-row sm:gap-2 mt-10">
        <div>
           <p-checkbox 
            [(ngModel)]="selectAll"
            color="primary"
            [binary]="true"
            inputId="ny"
            id="ny"
            class="font-poppins"
            (ngModelChange)="handelSelectAll(true)"> 
          </p-checkbox>
          <label for="ny" class="mb-0 ml-2 font-semibold">Select All</label>
          <p-badge [value]="convertToString(bulkApproveData.length)" styleClass="ml-2"></p-badge>
        </div>
            <!-- <mat-checkbox
              [(ngModel)]="selectAll"
              color="primary"
              class="font-poppins"
              (ngModelChange)="handelSelectAll()"
              >Select All</mat-checkbox> -->
                <p-button
                  (click)="bulkApproveEH()"
                  label="Approve"
                  [disabled]="bulkApproveData.length == 0 || (loader.isLoding | async) ? true : false"
                  ariaLabel="bulk approve"
                >
                </p-button>
      </div>
     </div>

     </div>
  </div>
   </div>

<div class="h-[90svh] lg:h-[75vh] xl:h-[75vh] sm:h-[55vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll mx-2 relative">

  <table id="table" class="table-auto !w-full" >
    <!-- table head -->
      <thead class="sticky top-0 !z-10">
        <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins  xl:!text-left">
          <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Biometric ID</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0">Name</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0">Line</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0">Category</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Date</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">IN</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">OUT</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Excess Work Hrs</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Actual Worked Hrs</th>
          <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Reason</th>
          <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Action</th>
        </tr>
      </thead>
      <!-- table body | datefilter:filterDate | lineFilter:selectedLine;-->
      <tbody>
        <tr *ngFor="let item of data | datefilter:filterDate | lineFilter:selectedLine  let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
          <td class="!px-2 !py-2 !rounded-s-md text-center">
            <p-checkbox 
              [(ngModel)]="item.selected" 
              [binary]="true"
              (onChange)="handleSingleSelect($event,item)" 
              [inputId]="item.emp_id"></p-checkbox>
            {{ i + 1 }}
          </td>
          <td class="!px-2 !py-2 !rounded-s-md text-center text-blue-600 font-semibold">{{ item.gen_id }}</td>
          <td class="!px-2 !py-2 !rounded-s-md text-center">{{ item.biometric_no}}</td>
          <td class="!px-2 !py-2 !rounded-s-md">{{ item.fullname }}</td>
          <td class="!px-2 !py-2 !rounded-s-md">{{ item.Line_Name }}</td>
          <td class="!px-2 !py-2 !rounded-s-md">{{ item.apprentice_type }}</td>
          <td class="!px-2 !py-2 !rounded-s-md text-center font-semibold text-blue-600">
            {{ item.att_date | date:'dd-MM-yyyy'}}
            <!-- attendance type -->
               <p-badge [value]="item?.type" [severity]="item.type == 'R' ? 'warning' : 'info'">
               </p-badge>
          </td>
          <td class="!px-2 !py-2 !rounded-s-md text-center font-semibold text-green-500">{{item.in_time}}</td>
          <td class="!px-2 !py-2 !rounded-s-md text-center font-semibold text-red-500">{{item.out_time}}</td>
          <td class="!px-2 !py-2 !rounded-s-md text-center font-semibold">{{ item.expect_othr }}</td>
          <td class="!px-2 !py-2 !rounded-s-md text-center">
            <input
                class="text-center w-[100px] h-[40px]"
                type="number"
                [(ngModel)]="item.approvedHr"
                pInputText
                [id]="item.gen_id"
                [disabled]="selectAll || item.approvedHr"
              />
            <!-- <mat-form-field>
              
              <input
                matInput
                type="number"
                [(ngModel)]="item.approvedHr"
                pInputText
              />
            </mat-form-field> -->
            <p *ngIf="item.approvedHr > item.expect_othr " class="text-red-500" >Invalid worked Hours</p>
            <p *ngIf=" item.approvedHr > getMaxHours(item)" class="text-red-500" >OT  Cannot be Greater Than {{max_hrs}} Hours</p>
          </td>
          <td class="!px-2 !py-2 !rounded-s-md text-center">
            <input 
              type='text' 
              pInputText 
              [disabled]="selectAll || item.reason !== ''"
              [(ngModel)]="item.reason"
              [id]="item.emp_id" 
              class="w-[100px] h-[40px]"/>
            <!-- <mat-form-field>
              <input matInput [(ngModel)]="item.reason" />
            </mat-form-field> -->
          </td>
          <td class="!px-2 !py-2 !rounded-s-md text-center">
            <p *ngIf="item.expired == 1" class="text-red-500 font-semibold px-2 bg-red-200 rounded">Expired</p>
            <button *ngIf="item.expired==0"
              pButton
              icon="pi pi-check-circle"
              [disabled]="
                item.approvedHr > item.expect_othr 
                || item.approvedHr == null 
                || item.reason == '' 
                || item.reason.length < 10 
                || item.approvedHr > getMaxHours(item.type)  
                || loading
                || item.approvedHr < 0 
                || item.selected
              "
              (click)="approve(item)"
              aria-label="approve button"
            >
            </button>
          </td>
        </tr>
      </tbody>
  </table>
  <!-- loader -->
   <app-time-office-approval-loader *ngIf="loader.isLoding | async"></app-time-office-approval-loader>
</div>
