<div>
  <mat-form-field appearance="outline">
    <mat-label>Work Type</mat-label>
    <mat-select
      placeholder="Placeholder"
      [(ngModel)]="worktype"
      (ngModelChange)="getPlanVsActDept()"
    >
      <mat-option value="direct">Direct</mat-option>
      <mat-option value="indirect">Indirect</mat-option>
    </mat-select>
  </mat-form-field>
  <canvas
    class="chart"
    baseChart
    class="chart"
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [type]="barChartType"
  >
  </canvas>
</div>
