<!-- add new company ng template -->
<ng-template #content let-modal>
  <!-- modal container header and form -->
  <div>
    <div class="bg-blue-600 flex items-center justify-start py-4">
      <div class="flex items-center justify-start text-white font-poppins mx-4 gap-2">
        <div  class="px-2 py-2 rounded-md bg-[var(--bg-transparent)] flex items-center justify-center">
           <mat-icon class="h-0 w-0 text-2xl opacity-100">{{!editing_flag ? 'add_circle' : 'edit'}}</mat-icon>
        </div>
         <h4 class="text-2xl text-white">{{!editing_flag ? 'Add New Company' : 'Update Company'}}</h4>
      </div>
    </div>
    <!-- add company form -->
    <br />
    <form [formGroup]="form">
        <!-- company code input -->
        <div class="mx-4">
          <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
            <mat-icon class="text-2xl text-blue-600 h-0 w-0">code</mat-icon>
            Company Code 
          </label>
          <br />
          <input
            class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none -mt-10 -mb-10 rounded-md h-[40px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
            type="text"
            id="code"
            formControlName="company_code"
            [readOnly]="editing_flag"
          />
        </div>
        <!-- company name input -->
        <div class="mx-4 mt-4">
          <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="c-name">
            <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
            Company Name
          </label>
          <br />
          <input
            class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none -mt-10 -mb-10 rounded-md h-[40px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
            type="text"
            id="c-name"
            formControlName="company_name"
          />
        </div>
        <br />
        <br />
    </form>
  </div>
  <!-- modal footer -->
  <div class="modal-footer bg-gray-100">
    <!-- update btn -->
    <button
      *ngIf="editing_flag == true"
      type="button"
      class="btn btn-warning btn-lg rounded-[1.25rem] px-3 shadow-md text-white"
      (click)="editSave()"
      (click)="modal.close('Close click')"
    >
      Update Company
    </button>
    <!-- add company btn -->
    <button
      *ngIf="editing_flag == false"
      type="button"
      class="btn btn-primary btn-lg rounded-[1.25rem] px-3 shadow-md bg-blue-600"
      (click)="save()"
      (click)="modal.close('Close click')"
      [disabled]="!this.form.valid"
    >
      Add Company
    </button>
    <!-- cancel btn -->
    <button
      type="button"
      class="btn btn-light btn-lg rounded-[1.25rem] px-3 shadow-md"
      (click)="reset()"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
  </div>
</ng-template>

<!-- Header Masters Menu -->
<div>
  <!-- Masters header -->
  <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 !rounded-md !mx-auto !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row md:!h-20">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>ballot</mat-icon> Masters  <hr/>
    </h1>
    <p class="mt-1 text-gray-400">View and Manage Masters</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
    <!-- action buttons -->
    <!-- <div class="!flex !items-center sm:!gap-4 gap-8">
      <button (click)="open(content)" class="btn btn-success flex items-center justify-center rounded-[1rem]">
        <mat-icon class="h-0 text-[1.5rem]">add_2</mat-icon>
        Add Company
      </button>
      <button (click)="exportexcel()" class="btn btn-primary flex items-center justify-center rounded-[1rem]">
        <mat-icon class="h-0 text-[1.5rem]">download</mat-icon>
        Download
      </button>
    </div> -->
  </div>
  <!-- primeNg TabView -->
   <p-tabView [scrollable]="true" [(activeIndex)]="activeIndex">
    <!-- company master tab -->
     <p-tabPanel [selected]="true">
      <!-- header -->
      <ng-template pTemplate="header">
                <div class="flex items-center justify-center gap-1">
                  <mat-icon class="icon-pad text-[1.5rem]">device_hub</mat-icon>
                   Company
                </div>
      </ng-template>
      <!-- content -->
      <ng-template pTemplate="content">
        <div *ngIf="this.router.url === '/rhrm/masters'; then company"></div> 
      </ng-template>
     </p-tabPanel>
     <!-- plant master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">domain</mat-icon>
                Plant
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-plant></app-plant> 
        </ng-template>
      </p-tabPanel>
       <!-- PayrollArea master tab -->
     <p-tabPanel>
      <!-- header -->
      <ng-template pTemplate="header">
                <div class="flex items-center justify-center gap-1">
                  <mat-icon class="icon-pad text-[1.5rem]">crop</mat-icon>
                   PayrollArea
                </div>
      </ng-template>
      <!-- content -->
      <ng-template pTemplate="content">
        <app-payroll-area></app-payroll-area>
      </ng-template>
     </p-tabPanel>
      <!-- department master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">person_pin_circle</mat-icon>
                <span>Department</span>
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-department-master></app-department-master>
        </ng-template>
      </p-tabPanel>
        <!-- cost center master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
                  <div class="flex items-center justify-center gap-1">
                    <mat-icon class="icon-pad text-[1.5rem]">adjust</mat-icon>
                    <span>CostCenter</span>
                  </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-cost-center></app-cost-center>
        </ng-template>
      </p-tabPanel>
      <!-- Line Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">linear_scale</mat-icon>
                Line
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-line></app-line>
        </ng-template>
      </p-tabPanel>
      <!-- Designation Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">event_seat</mat-icon>
                Designation
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-designation></app-designation>
        </ng-template>
      </p-tabPanel>
      <!-- Employee Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">perm_identity</mat-icon>
                Employee
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-employee></app-employee>
        </ng-template>
      </p-tabPanel>
      <!-- Bank Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">account_balance</mat-icon>
                Bank
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-bank></app-bank>
        </ng-template>
      </p-tabPanel>
      <!-- Shift Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">watch_later</mat-icon>
                Shift
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-shift></app-shift>
        </ng-template>
      </p-tabPanel>
      <!-- Back Date Limit Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">lock</mat-icon>
                BackDate
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-backdate></app-backdate>
        </ng-template>
      </p-tabPanel>
      <!-- Factory Holiday Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">event_available</mat-icon>
                FactoryHoliday
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-holiday-master></app-holiday-master>
        </ng-template>
      </p-tabPanel>
      <!-- Alternate Holiday Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">upcoming</mat-icon>
                AlternateHoliday
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-declared-comp-off></app-declared-comp-off>
        </ng-template>
      </p-tabPanel>
      <!-- Bill Processed Date Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">currency_rupee</mat-icon>
                ProcessedBill's
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-bill-processed-date></app-bill-processed-date>
        </ng-template>
      </p-tabPanel>
       <!-- Indirect Head Count Master tab -->
      <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center gap-1">
            <mat-icon class="icon-pad text-[1.5rem]">airline_stops</mat-icon>
                IndirectHeadCount
            </div>
        </ng-template>
        <!-- content -->
        <ng-template pTemplate="content">
          <app-indirect-head-count-master></app-indirect-head-count-master>
        </ng-template>
      </p-tabPanel>
   </p-tabView>
</div>

<!-- company master table ng template -->
<ng-template #companyTable>
  <div class="h-[90svh] lg:h-[65vh] xl:h-[64vh] sm:h-[45vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll">
      <table
        id="table"
        class="table-auto !w-full"
      >
        <!-- table header -->
        <thead class="sticky top-0">
          <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
            <!-- table headers -->
            <th class="!text-white !rounded-s-lg !px-2 !py-4 !border-none !border-0 text-center">S.No</th>
            <th div class="!text-white !px-2 !py-4 !border-none !border-0 text-center">Company Code</th>
            <th div class="!text-white !px-2 !py-4 !border-none !border-0">Company Name</th>
            <th div class="!text-white !px-2 !py-4 !border-none !border-0">Status</th>
            <th div class="!text-white !px-2 !py-4 !border-none !border-0">Created By</th>
            <th div class="!text-white !px-2 !py-4 !border-none !border-0 text-center">Created On</th>
            <th div class="!text-white !px-2 !py-4 !border-none !border-0 text-center">Modified On</th>
            <th div class="!text-white !px-2 !py-4 !border-none !border-0">Modified By</th>
            <th div class="!text-white !px-2 !py-4 !rounded-e-lg !border-none !border-0">Action</th>
          </tr>
        </thead>

        <!-- table body -->
        <tbody>
          <tr
            *ngFor="let i of dummy; let a = index"
            class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer"
          >
            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ a + 1 }}</td>
            <td class="!px-2 !py-4 text-center text-blue-600 font-semibold">{{ i.company_code }}</td>
            <td class="!px-2 !py-4">{{ i.company_name }}</td>
            <td class="!px-2 !py-4">
              <span [ngClass]="
                i.status ? 'bg-green-100 rounded-md px-2 text-green-600' : 
                'bg-red-100 rounded-md px-2 text-red-600'">
                {{ i.status ? i.status : '-'}}
              </span>
            </td>
            <td class="!px-2 !py-4">
              <span [ngClass]="
                i.created_by === 'admin' || i.created_by == 'ADMIN'
                  ? '!text-blue-600 bg-blue-100 rounded-md px-2'
                  : '!text-yellow-600 bg-yellow-100 rounded-md px-2'
              ">{{ i.created_by | lowercase}}</span>
            </td>
            <td class="!px-2 !py-4 text-center">{{ i.created_on ? formatApiDate(i.created_on) : '-' | date:'dd-MMM-YYYY'}}</td>
            <td class="!px-2 !py-4 text-center">{{ i.modified_on ? formatApiDate(i.modified_on): '-' }}</td>
            <td [ngClass]="i.modified_by ? '!px-2 !py-4' : '!px-2 !py-4 text-center'">
              {{ i.modified_by ? i.modified_by: '-' }}
            </td>

            <td class="!px-2 !py-4 !rounded-e-md flex items-center justify-center">
              <button (click)="edit(a)" (click)="opentoedit(content)">
                <mat-icon class="text-blue-600 text-[20px]">edit</mat-icon>
              </button>
              <button (click)="deleteCompany($event,a)">
                <mat-icon 
                  class="text-red-500 text-[20px]">
                  delete
                </mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</ng-template>

<!-- company master template -->
<ng-template #company>
  <div class="mx-2">
   <!-- company master filters -->
  <div class="!shadow-md !my-4 !rounded-md !mx-auto h-full pb-2 !px-4 !font-poppins sm:h-40 border border-gray-400 ">
    <!-- filter header -->
      <div class="relative">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
        </h1>
       <!-- primeNG speedDial -->
        <p-speedDial 
          [model]="items" 
          direction="left"
          className="absolute right-0 top-0"
          buttonClassName="!h-[2.5rem] !w-[2.5rem]"
        >
        </p-speedDial>
      </div>
    <!-- company master filter divison -->
     <div class="flex items-center justify-start w-full flex-col sm:flex-row sm:gap-2 ">
       <!-- company status filter -->
       <div class="font-poppins w-full sm:w-1/3">
          <label for="status" class="text-gray-400 font-poppins font-semibold mt-3 mb-1">Status</label> <br>
         <p-dropdown
         [options]="status"
         optionLabel="label"
         optionValue="value"
         placeholder="Select Status"
         styleClass="w-full"
         (onChange)="filterCompanyByStatus($event)">
         </p-dropdown> 
       </div>
       <!-- company search  filter -->
       <div class="font-poppins w-full sm:w-1/3 p-fluid">
          <label for="search" class="text-gray-400 font-poppins font-semibold mt-3 mb-1">Search</label> <br>
          <input 
            type="text" 
            pInputText
            name="search"
            (input)="searchByCompanyOrCode($event)" 
            id="search"
            placeholder="🔍︎ Search Company"
          >
       </div>
     </div>
  </div>
  <!-- loader -->
  <app-loader *ngIf="loader.isLoding | async; else companyTable"></app-loader>
  <!-- floating company master icons -->
  <!-- <div class="absolute">
    <p-speedDial 
      [model]="items" 
      direction="up"
      className="bottom-4 left-[4.5rem]"
      buttonClassName="!h-[2.5rem] !w-[2.5rem]"
    >
    </p-speedDial>
  </div> -->
  </div>
</ng-template>

