<h1 class="title">OT Request FH Approval</h1>
<div class="filter">
  <div>
  </div>
  <div class="col-sm-3">
    <b><p>Filter Category:</p></b>
    <mat-select class="" [(ngModel)]="cat" class="input2" (ngModelChange)="filterChanged()">
      <mat-option value="">ALL</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat.categorynm">{{
        cat.categorynm
      }}</mat-option>
    </mat-select>
    <br />
  </div>
  <div class="col-sm-3">
    <b><p>Filter Department:</p></b>
    <mat-select class="" [(ngModel)]="selectedDept" class="input2" (ngModelChange)="filterChanged()">
      <mat-option value="">ALL</mat-option>
      <mat-option
        *ngFor="let dept of departmentList"
        [value]="dept.dept_name"
        >{{ dept.dept_name }}</mat-option
      >
    </mat-select>
    <br />
  </div>
  <button
    mat-raised-button
    color="primary"
    style="height: 35px; margin-top: 32px"
    (click)="clear()"
  >
    Clear filter
  </button>





  <button
  mat-fab
  aria-label="Download"
  style="margin-left: auto;margin-right: 2rem;"
  (click)="exportexcel()"
>
  <mat-icon>download</mat-icon>
</button>
</div>
<hr style="border-block-color: orange" />
<div class="select_menu">
  <mat-checkbox
    [(ngModel)]="selectAll"
    style="margin-left: 20px"
    color="primary"
    (ngModelChange)="handelSelectAll()"
    >Select All</mat-checkbox
  >
  <div style="margin: 0 20px 10px 0">
    <button
      mat-raised-button
      (click)="submit()"
      style="margin: 5px"
      color="success"
      [disabled]="loading"
    >
      Approve
    </button>
  </div>
</div>
<div class="table-wrapper">
  <table class="table table-bordered table-striped table-hover">
    <table id="table">
      <thead>
        <tr>
          <th
            class="text-center"
            style="width: 500px"
            style="background-color: darkblue; color: aliceblue"
          >
            SL No
          </th>
          <th div class="text-center">Gen Id</th>
          <th div class="text-center">Name</th>
          <th div class="text-center">Department</th>
          <th div class="text-center">Line</th>
          <th div class="text-center">Category</th>
          <th div class="text-center">Approved Excess Hrs</th>
          <th div class="text-center">Adjusted for COFF</th>
          <th div class="text-center">Approved OT Hrs</th>
          <th div class="text-center">Balance Hrs For OT</th>
          <th div class="text-center">Approve</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of data
              | datefilter : date
              | categoryfilter : cat : selectedDept;
            let i = index
          "
        >
          <td>
            <mat-checkbox
              [(ngModel)]="item.selected"
              color="primary"
              (ngModelChange)="checkItems()"
              >{{ i + 1 }}</mat-checkbox
            >
          </td>
          <td>{{ item.gen_id }}</td>
          <td>{{ item.fullname }}</td>
          <td>{{ item.dept_name }}</td>
          <td>{{ item.Line_Name }}</td>
          <td>{{ item.apprentice_type }}</td>
          <td>{{ item.excess_hr }}<button mat-icon-button (click)="openExcessHourDetais(item)"><mat-icon>visibility</mat-icon></button></td>
          <td>{{ item.coff }}<button mat-icon-button (click)="openCoffDeatisl(item)"><mat-icon>visibility</mat-icon></button></td>
          <td>{{ item.ot }}</td>
          <td>{{ item.bal }}</td>
          <td>
            <button mat-raised-button color="success" (click)="approve(item)" [disabled]="loading">Approve OT</button>
          </td>
        </tr>
      </tbody>
    </table>
  </table>
</div>
