<div class="mt-4 mx-4">
   <!-- present vs actual header -->
 <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 !rounded-md !mx-auto !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>co_present</mat-icon> Present Vs Absent<hr/>
    </h1>
    <p class="mt-1 text-gray-400">View Present Vs Absent Reports</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
  </div>
   <!-- present vs actual filters -->
    <div class="!shadow-md !my-4 !rounded-md !mx-auto h-full pb-3 !px-4 !font-poppins sm:h-25 border border-gray-400 ">
    <!-- filter header -->
      <div class="relative mb-2">
        <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
          Filters <mat-icon>filter_alt</mat-icon>
        </h1>
      </div>
    <!-- <mat-form-field appearance="outline" >
      <mat-label>Select date</mat-label>
      <input
        matInput
        placeholder="label"
        type="date"
        value="value"
        [(ngModel)]="date"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Plant</mat-label>
      <mat-select [(ngModel)]="selectedPlant" [disabled]="isadmin == 'false'">
        <mat-option value="" selected>All</mat-option>
        <mat-option *ngFor="let item of plants" [value]="item.plant_code">{{
          item.plant_code
        }}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="flex items-center flex-col md:flex-row gap-4">
       <!-- prime ng calander -->
     <div class="w-full sm:w-1/3">
      <label for="date" class="font-semibold text-gray-400">Date</label> <br>
      <p-calendar 
        [(ngModel)]="date" 
        dateFormat="yy-mm-dd"
        styleClass="w-full !font-poppins"
        [showIcon]="true" >
     </p-calendar>
     </div>
    <!-- primeg dropdown -->
     <div class="w-full sm:w-1/3">
      <label for="plant" class="text-gray-400 font-semibold">Plant</label> <br>
      <p-dropdown 
        [options]="plants" 
        [(ngModel)]="selectedPlant" 
        placeholder="Select a Plant"
        optionLabel="plant_name"
        [checkmark]="true"
        optionValue="plant_code"
        styleClass="w-full !font-poppins"
        [disabled]="isadmin == 'false'" >
      </p-dropdown>
     </div>
    </div>
    </div>

  <!-- REPORTS -->
   <!-- cantegory wise report -->
  <app-catatndreport 
    [date]="date" 
    [plant]="selectedPlant" 
    *ngIf="empDetails.Is_HR || empDetails.Is_HRAppr||empDetails.is_fin ||empDetails.is_plant_head ||empDetails.ot_appr">
  </app-catatndreport>
  <!-- daily attandance report -->
  <app-daiyatndreport 
    [date]="date" 
    [plant]="selectedPlant" 
    *ngIf="empDetails.Is_HR||empDetails.Is_HRAppr||empDetails.is_fin ||empDetails.is_plant_head ||empDetails.ot_appr">
  </app-daiyatndreport>
  <!-- line wise report -->
  <app-lineatndReport 
    [date]="date" 
    [plant]="selectedPlant">
  </app-lineatndReport>
  <!-- contractor wise report -->
  <app-contatndreport  
    [date]="date" 
    [plant]="selectedPlant" 
    *ngIf="empDetails.Is_HR||empDetails.Is_HRAppr||empDetails.is_fin ||empDetails.is_plant_head || empDetails.ot_appr">
  </app-contatndreport>
</div>
