<div class="body form-group mx-2 mt-4">
    <div style="text-align: right;" class="mb-3">
        <button *ngIf="istrainee === 'true'" pButton class="mr-3" icon="pi pi-arrow-circle-left" (click)="navigateBack()"></button>

        <button *ngIf="ishr === 'true'"  pButton class="mr-3" icon="pi pi-arrow-circle-left" onclick="history.back()"></button>
    </div>
    <!-- table -->
    <div class="h-[100svh] lg:h-[100vh] xl:h-[100vh] sm:h-[90vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll mx-2 relative">
<!-- 
        <form #quizForm="ngForm" class="shadow-md rounded-md border border-gray-400 overflow-y-scroll no-scrollbar mx-2"> -->
            <table class="w-full !table-auto">
                <!-- table head -->
                <thead id="table" class="table-auto !w-full">
                    <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                        <td class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno</td>
                        <td class="!text-white !px-2 !py-2 !border-none !border-0">Abservent Point</td>
                        <td class="!text-white !px-2 !py-2 !border-none !border-0 ">Rating</td>
                        <td class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0">Remarks</td>
                    </tr>
                </thead>
                <!-- table body -->
                <tbody>
                    <tr *ngFor="let q of answers; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                        <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i + 1 }}</td>
                        <td class="!px-2 !py-4 !rounded-s-md">
                            <textarea 
                            [disabled]="true" 
                            class="w-full"
                            pInputTextarea>{{ q.Abservent_Point }}</textarea>
                        </td>
                        <td class="!px-2 !py-4 !rounded-s-md">{{ q.Rating }}</td>
                        <td class="!px-2 !py-4 !rounded-s-md">{{ q.Remarks }}</td>
                    </tr>
                </tbody>
            </table>
        <!-- </form> -->
        <!-- loader -->
         <app-loader *ngIf="loader.isLoding"></app-loader>
     </div>
</div>