<h1 style="text-align: center">OT Approver Mapping Edit</h1>
<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Plant</mat-label>
    <input matInput placeholder="label" value="value" [(ngModel)]="data.plant" disabled=""/>
  </mat-form-field>
  <mat-form-field
    class="example-full-width"
    appearance="outline"
    class="width:400px"
  >
    <mat-label>Employee Name</mat-label>
   <input matInput  type="text" [(ngModel)]="data.exec" disabled="">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Functional Head</mat-label>
    <mat-select
      placeholder="Placeholder"
      [(ngModel)]="selectedOtAppr"
      name="item"
    >
      <mat-option *ngFor="let item of otApprovers" [value]="item.empl_slno">
        {{ item.Emp_Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>HR Head</mat-label>
    <mat-select placeholder="Placeholder" [(ngModel)]="selectedHr" name="item">
      <mat-option *ngFor="let item of headHr" [value]="item.empl_slno">
        {{ item.Emp_Name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="button">
  <button mat-raised-button color="accent" (click)="close()">close</button>
  <button mat-raised-button color="primary" (click)="submit()">Update</button>
</div>
