

<div style="margin: 10px auto;">
    <h2 style="text-align: center;font-size:xx-large;">Five Days Trainee/CL Mapping</h2>
  </div>
  <div class="button"  *ngIf="!editDialogOpen && !selectedEmployee">
    <mat-form-field appearance="outline" style="padding-right: 10px;">
        <mat-label>GenID</mat-label>
        <input matInput   [(ngModel)]="selectedGenId" type="text"   />
      </mat-form-field>
    <button mat-fab color="primary"  aria-label="Example icon button with a delete icon" >
        <mat-icon>download</mat-icon>
    </button>
  </div>
    <div style="width: 90%;margin: 10px auto;" *ngIf="!editDialogOpen && !selectedEmployee">
        <table class="table table-bordered table-striped table-hover">
            <table id="table">
                <thead>
                    <tr>
                        <th div class="text-center">SNo</th>
                        <th div class="text-center">Name</th>
                        <th div class="text-center">Gen ID</th>
                        <th div class="text-center">Category</th>
                        <th div class="text-center">Department</th>
                        <th div class="text-center">DOJ</th>
                        <th div class="text-center">Status</th>
                        <th div class="text-center">Working Days</th>
                        <th div class="text-center">Action</th>
                      
                        <!-- <th div class="text-center">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list  ; let i = index">
                      <td style="text-align: center;">{{i+1}}</td>
                      <td style="text-align: left;">{{item.fullname}}</td>
                      <td style="text-align: center;">{{item.gen_id}}</td>
                      <td style="text-align: left;">{{item.apprentice_type}}</td>
                      <td style="text-align: left;">{{item.dept_name}}</td>
                      <td style="text-align: left;">{{item.doj}}</td>
                      <td style="text-align: left;">{{item.apln_status}}</td>
                      <td style="text-align: left;">{{item.five_Days === 'True' ? '5 days' :'6 Days'}}</td>
                      <td style="text-align: center;">
                        <button mat-mini-fab color="accent" (click)="openEditDialog(item)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </table>
              </div>
              
              
              <mat-dialog-content *ngIf="editDialogOpen && selectedEmployee">
                <div  style="border: 1px solid grey;border-radius: 4px;margin: 5rem;
    padding: 3rem;">

               
                <!-- <mat-dialog-content *ngIf="editDialogOpen "> -->
                    <h1  style="display: flex; justify-content: center;" ><strong>Edit Employee</strong></h1>
                    <div style="display: flex; justify-content: space-around;padding-top: 2rem;">
                      <p><strong>Name:</strong> {{ selectedEmployee?.fullname }}</p>
                      <p><strong>Gen ID:</strong> {{ selectedEmployee?.gen_id }}</p>
                      <p><strong>Category:</strong> {{ selectedEmployee?.apprentice_type }}</p>
                      <p><strong>Department:</strong> {{ selectedEmployee?.dept_name }}</p>
                      <p><strong>DOJ:</strong> {{ selectedEmployee?.doj }}</p>
                       </div>
                    <div style="display: flex; justify-content: center;padding-top: 2rem;" >
                        <mat-label> <p><strong>Five Days Working Eligible :</strong> </p>
                        </mat-label>
                      <mat-radio-group [(ngModel)]="selectedEmployee.five_Days">
                        <mat-radio-button value="True">Yes</mat-radio-button>
                        <mat-radio-button value="False">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
    
                    <mat-dialog-actions style="display: flex; justify-content: center;padding-top: 2rem;">
    
                        <button style="margin-top: 10px;margin-right: 2rem;" mat-raised-button color="primary" (click)="close()">close</button>
                        <button style="margin-top: 10px;margin-right: 2rem;" mat-raised-button color="warn" (click)="saveEdit()">Save</button>
                
                      </mat-dialog-actions>
                    </div>
                  </mat-dialog-content>
                  
                 