<div class="container">
    <br />
    <div>
      <h1 id="title1">Payscale Header Masters</h1>
      <hr style="border-block-color: orange" />
    </div>
  
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
      "
    >
      <div  style="display: flex;
      align-items: center;
      justify-content: space-between">
      
    
        <mat-form-field appearance="outline" style="padding-right: 10px;">
          <mat-label>Plant</mat-label>
          <mat-select [(ngModel)]="selectedPlant"  (selectionChange)="onPlantChange($event.value)">
            <mat-option  >ALL</mat-option>
            <mat-option  *ngFor="let data of plantList " [value]="data.plant_code">{{data.plant_name}}</mat-option>
    
          </mat-select>
         </mat-form-field>
        <mat-form-field appearance="outline" style="padding-right: 10px;">
          <mat-label>Contractor</mat-label>
           <mat-select  [(ngModel)]="selectedContrator" >
             <mat-option  >ALL</mat-option>
             <mat-option  *ngFor="let data of filteredconstructors_List " [value]="data.Cont_company_name">{{data.Cont_company_name}}</mat-option>
           </mat-select>
         </mat-form-field>
      </div>
      <div class="button-group" >
        <button
          mat-fab
          color="primary"
          (click)="newPayScale(); clickAdd()"
          style="margin-right: 2rem"
        >
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-fab (click)="exportExcel()">
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
  
    <br />
    <app-loader *ngIf="loader.isLoding | async; else show"></app-loader>
    <ng-template #show>
        <div class="table-wrapper">
          <table class="table table-bordered table-striped table-hover">
            <table id="table">
              <thead>
                <tr>
                 
    
                  <th div class="text-center">Payscale ID</th>
                  <th div class="text-center">Plant</th>
                  <th div class="text-center">Contractor Name</th>
                  <th div class="text-center">Payscale Header</th>
                  <th div class="text-center">Status</th>
                  <th div class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of Payscale_Header_List | ConFilter :selectedContrator | plantFilter : selectedPlant; let i = index">
                
                  <td>{{ data.PayScale_ID }}</td>
                  <td>{{ data.Plant_Code }}</td>
                  <td>{{ data.Cont_company_name }}</td>
                  <td>{{ data.PayScale_Name }}</td>
                  <td *ngIf="data.Status == 1; else inactive">Active</td>
                  <ng-template #inactive>
                    <td>InActive</td>
                  </ng-template>
    
                  <td style="display: flex; justify-content: center">
                    <button
                    *ngIf="data.Status == 1 && isadmin "
                      mat-mini-fab
                      color="accent"
                      style="margin-left: 1rem"
                      (click)="onView(data)"
                    >
                      <!-- <button mat-mini-fab  color="basic" [routerLink]="['/rml/contra/mst_payscale', 'master',data.Effective_Date]" class="view-button" > -->
    
                      <mat-icon>edit</mat-icon>
                    </button>
             
                    <button
                    *ngIf="data.Status == 1 "
                    style="margin-left: 1rem;"
                      mat-mini-fab
                      color="warn"
                      type="button"
                      (click)="delete(data)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </ng-template>
  </div>
  
  <div class="shadow-lg">
    <div
      class="form-popup container1 mat-elevation-z8"
      [hidden]="!showPayscaleForm"
    >
      <!-- <div class=" form-popup container1 mat-elevation-z8"  > -->
  
      <div class="heading" style="padding-bottom: 10px">
        <div class="head1">
          <h2>Add New Payscale header</h2>
        </div>
        <div class="head2">
          <!-- <button (click)="closeAllForms()">X</button> -->
        </div>
      </div>
  
      <hr style="border-block-color: orange" />
      <form [formGroup]="NewPayScaleFormGroup" (ngSubmit)="onSubmit()" class="example-form">
        <span style=" display:flex; margin-top: 2rem;">
        <mat-form-field appearance="outline" style="width: 50%;margin-left: 0rem;">
          <mat-label>Plant</mat-label>  
          <mat-select formControlName="Plant_Code" (selectionChange)="onPlantChange($event.value)" style="width: 100%;">
            <mat-option value="">Select Plant</mat-option>
            <mat-option *ngFor="let plant of plantList" [value]="plant.plant_code">{{plant.plant_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" style="width: 50%;">
          <mat-label>Contractor</mat-label>
          <mat-select formControlName="Cont_ID" style="width: 100%;">
            <mat-option value="">Select Contractor</mat-option>
            <mat-option *ngFor="let con of filteredconstructors_List" [value]="con.Con_Id">{{con.Cont_company_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      
    </span>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Payscale Name</mat-label>
          <input matInput formControlName="PayScale_Name" placeholder="Enter Payscale Name" style="width: 100%; max-width: none;" (input)="onPayScaleNameChange($event)">
        </mat-form-field>
        <span style=" display:flex; margin-top: 2rem;">
        <button mat-raised-button color="warn" type="close" (click)="closeAllForms()" style="width: 50%;">Close</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!NewPayScaleFormGroup.valid" style="width: 50%;margin-left: 1rem;">Submit</button>
      </span>
    </form>
    </div>
  </div>
  <div class="shadow-lg">
    <div
      class="form-popup container1 mat-elevation-z8"
      [hidden]="!viewPayscaleForm"
    >
      <!-- <div class=" form-popup container1 mat-elevation-z8"  > -->
  
      <div class="heading" style="padding-bottom: 10px">
        <div class="head1">
          <h2>Edit Payscale header</h2>
        </div>
        <div class="head2">
          <!-- <button (click)="closeAllForms()">X</button> -->
        </div>
      </div>
  
      <hr style="border-block-color: orange" />
      <form [formGroup]="NewPayScaleFormGroup" (ngSubmit)="On_Update()" class="example-form">
        <span style=" display:flex; margin-top: 2rem;">
        <mat-form-field appearance="outline" style="width: 50%;margin-left: 0rem;" >
          <mat-label>Plant</mat-label>  
          <mat-select [disabled]="true" formControlName="Plant_Code" (selectionChange)="onPlantChange($event.value)" style="width: 100%;">
            <mat-option value="">Select Plant</mat-option>
            <mat-option *ngFor="let plant of plantList" [value]="plant.plant_code">{{plant.plant_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline" style="width: 50%;">
          <mat-label>Contractor</mat-label>
          <mat-select [disabled]="true" formControlName="Cont_ID" style="width: 100%;">
            <mat-option value="">Select Contractor</mat-option>
            <mat-option *ngFor="let con of filteredconstructors_List" [value]="con.Con_Id">{{con.Cont_company_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      
    </span>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Payscale Name</mat-label>
          <input matInput formControlName="PayScale_Name" placeholder="Enter Payscale Name" style="width: 100%; max-width: none;" (input)="onPayScaleNameChange($event)">
        </mat-form-field>
        <span style=" display:flex; margin-top: 2rem;">
        <button mat-raised-button color="warn" type="close" (click)="closeAllForms1()" style="width: 50%;">Close</button>
        <button mat-raised-button color="primary"  [disabled]="!NewPayScaleFormGroup.valid" style="width: 50%;margin-left: 1rem;">Update</button>
      </span>
    </form>
    </div>
  </div>