<div>
  <mat-form-field appearance="outline">
    <mat-label>Select Department</mat-label>
    <mat-select placeholder="Placeholder" [(ngModel)]="selectedDept" (ngModelChange)="getPlanvsActLine()">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let item of department" [value]="item.dept_slno">
        {{item.dept_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Work Type</mat-label>
    <mat-select
      placeholder="Placeholder"
      [(ngModel)]="worktype"
      (ngModelChange)="getPlanvsActLine()"
    >
      <mat-option value="direct">Direct</mat-option>
      <mat-option value="indirect">Indirect</mat-option>
    </mat-select>
  </mat-form-field>
    
  <canvas
    class="chart"
    baseChart
    class="chart"
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [type]="barChartType"
  >
  </canvas>
</div>