<div class="mx-2">
    <!--  header -->
  <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 !rounded-md !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row md:!h-20">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>widgets</mat-icon>Skill Test<hr/>
    </h1>
    <p class="mt-1 text-gray-400">View and Attend Skill Test</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
  </div>
<!-- prime ng abl view -->
    <p-tabView>
        <!-- employee details -->
       <p-tabPanel>
          <!-- header -->
            <ng-template pTemplate="header">
                    <div class="flex items-center justify-center gap-1">
                      <i class="pi pi-info-circle icon-pad text-[1.5rem]"></i>
                        <!-- <mat-icon class="icon-pad text-[1.5rem]">dashboard</mat-icon> -->
                        <span>Employee Details</span>
                    </div>
            </ng-template>
            <!-- content -->
              <ng-template pTemplate="content">
                  <!-- Employee Skill Section -->
                    <div
                        style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%; margin-bottom: 10px; margin-top: 30px;">

                        <!-- Left side content -->
                        <div style="flex: 1; text-align: left; width: 100%;">
                            <h1 class="font-poppins"
                                style="font-size: 24px; margin: 0; white-space: nowrap; text-align: center; overflow: hidden;">
                                <b>Employee Skill Status</b>
                            </h1>


                            <!-- Employee Info Section -->
                            <div style="display: flex; margin-top: 20px;">
                                <!-- Left side: Image -->
                                <div style="flex: 1; text-align: center; padding-right: 20px;">
                                    <img [src]="this.photo" alt="Avatar"
                                        style="width: 150px; height: 150px; border-radius: 50%; display: inline-block;" class="object-cover">
                                </div>

                                <!-- Right side: Employee Info -->
                                <div style="flex: 2; text-align: left;">
                                    <table style="width: 80%; padding-left: 20px;" class="font-poppins">
                                        <tr>
                                            <td
                                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 8px;">
                                                <b class="font-poppins text-blue-600">Name</b>
                                            </td>
                                            <td
                                                style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;" >
                                                {{ username }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                                <b class="font-poppins text-blue-600">Emp ID</b>
                                            </td>
                                            <td
                                                style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                                {{ genid }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                                <b class="font-poppins text-blue-600">Category</b>
                                            </td>
                                            <td
                                                style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                                {{ category }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                                <b class="font-poppins text-blue-600">Department</b>
                                            </td>
                                            <td
                                                style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                                {{ department }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                                <b class="font-poppins text-blue-600">Line</b>
                                            </td>
                                            <td
                                                style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                                {{ skillTestData?.line_name }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="line-height: 15px; text-align: left; background-color: white; padding-right: 10px; padding-top: 16px;">
                                                <b class="font-poppins text-blue-600">Active Status</b>
                                            </td>
                                            <td
                                                style="line-height: 15px; text-align: left; padding-left: 10px; padding-top: 10px;">
                                                {{ skillTestData?.activestat }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Center divider (red line) -->
                        <div style="width: 2px; background-color: black; height: 250px;"></div>

                        <!-- Right side content -->
                        <div style="flex: 1; text-align: left; width: 100%;">
                            <h1 class="font-poppins"
                                style="font-size: 24px; margin: 0; white-space: nowrap; text-align: center; overflow: hidden;">
                                <b>Skill Test</b>
                            </h1>
                            <div
                                style="height: max-content; min-width:40%; border: 5px; border-radius: 20px; text-align: left; margin-right: 10%; padding: 20px;">
                                <form [formGroup]="form">
                                    <div style="margin-left: 20px;">
                                        <!-- operations -->
                                        <div class="col">
                                            <label>Operation</label>
                                            <br />
                                            <p-dropdown
                                            [options]="droplist"
                                            styleClass="w-full"
                                            formControlName="new_skill"
                                            [(ngModel)]="selectedOperation"
                                            (ngModelChange)="onOperationChange()"
                                            optionLabel="oprn_desc"
                                            optionValue="oprn_desc"
                                            ></p-dropdown>
                                        </div>
                                        <br />
                                        <!-- skill level -->
                                        <div *ngIf="selectedOperation">
                                            <div class="col">
                                                <label>Skill Level</label>
                                                <br />
                                                <p-dropdown
                                                [options]="skillLevelOptions"
                                                optionValue="value"
                                                optionLabel="label"
                                                styleClass="w-full"
                                                formControlName="new_skill_level"
                                                ></p-dropdown>
                                            </div>
                                        </div>


                                        <!-- Conditionally show the "Start Test" button only when an operation is selected -->
                                        <!-- <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                                            <button
                                                *ngIf="form.get('new_skill')?.value && form.get('new_skill_level')?.value && showSelfLearningButton"
                                                (click)="loadSelfLearningFile()"
                                                style="background-color: purple; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; margin-left: 3%;">
                                                Self Learning <img src="assets/circle1.png" style="color: white;">
                                            </button>

                                            <button *ngIf="form.get('new_skill')?.value && form.get('new_skill_level')?.value"
                                                (click)="startSkillTest()"
                                                style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; margin-right: 3%;">
                                                Start Test
                                            </button>
                                        </div> -->

                                        <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                                            <!-- Self Learning Button Wrapper -->
                                            <div style="width: 50%;">
                                                <button
                                                    *ngIf="form.get('new_skill')?.value && form.get('new_skill_level')?.value && showSelfLearningButton"
                                                    (click)="loadSelfLearningFile()"
                                                    pButton
                                                    label="self Learning"
                                                    icon="pi pi-play">
                                                  
                                                </button>
                                            </div>

                                            <!-- Start Test Button Wrapper -->
                                            <div style="width: 50%; text-align: right;">
                                                <button
                                                    pButton
                                                    label="Start Test"
                                                    icon="pi pi-play"
                                                    iconPos="right"
                                                    *ngIf="form.get('new_skill')?.value && form.get('new_skill_level')?.value"
                                                    (click)="startSkillTest()"
                                                   ></button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                 <!-- Matrix Table -->
                        <div class="shadow-md rounded-md border border-gray-400 overflow-y-scroll no-scrollbar mx-2">
                            <table id="table" class="table-auto !w-full">
                                <!-- table head -->
                                <thead class="sticky top-0">
                                    <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                                    <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Operations</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Level-1</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Level-2</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Level-3</th>
                                    <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Level-4</th>
                                    </tr>
                                </thead>
                                <!-- table body -->
                                <tbody>
                                    <tr *ngFor="let item of operationsData; let i = index"  class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                                        <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i + 1 }}</td>
                                        <td class="!px-2 !py-4 !rounded-s-md">{{ item.oprn_desc }}</td>
                                        <td [ngClass]="{ 'yellow': item.oprn_trained == 1 }" class="!px-2 !py-4 !rounded-s-md text-center"></td>
                                        <td [ngClass]="{ 'blue': item.oprn_trained == 2 }" class="!px-2 !py-4 !rounded-s-md text-center"></td>
                                        <td [ngClass]="{ 'green': item.oprn_trained == 3 }" class="!px-2 !py-4 !rounded-s-md text-center"></td>
                                        <td [ngClass]="{ 'darkgreen': item.oprn_trained == 4 }" class="!px-2 !py-4 !rounded-s-md text-center"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
              </ng-template>
       </p-tabPanel>

       <!-- employee answer sheet -->
        <p-tabPanel>
            <!-- header -->
            <ng-template pTemplate="header">
                    <div class="flex items-center justify-center gap-1">
                      <i class="pi pi-sync icon-pad text-[1.5rem]"></i>
                        <!-- <mat-icon class="icon-pad text-[1.5rem]">dashboard</mat-icon> -->
                        <span>Skill Upgrade Results</span>
                    </div>
            </ng-template>
             <!-- content -->
              <ng-template pTemplate="content">
                 <!-- Answer Sheet Table -->
                    <div sclass="shadow-md rounded-md border border-gray-400 overflow-y-scroll no-scrollbar mx-2">
                        <table id="table" class="table-auto !w-full">
                            <!-- table head -->
                            <thead class="sticky top-0">
                                <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                                    <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">Sno</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Date</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Operation</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Level</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Score</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Test Result</th>
                                    <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Supervisor Abservent
                                    </th>
                                </tr>
                            </thead>
                            <!-- table body -->
                            <tbody>
                                <tr *ngFor="let item of paperData; let i = index" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                                    <td sclass="!px-2 !py-4 !rounded-s-md text-center">{{ i +1 }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ item.Date }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md">{{ item.oprn_desc }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ item.Level_No }}
                                    </td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{item.Test_Percentage }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">
                                        <ng-container *ngIf="item.Test_Result === 'PASS'; else noLink">
                                            <a [routerLink]="['/rdhrm/skill-developement/answer-paper', item.Peval_slno]">
                                                {{ item.Test_Result }}
                                            </a>
                                        </ng-container>
                                        <ng-template #noLink>
                                            {{ item.Test_Result }}
                                        </ng-template>
                                    </td>

                                    <td class="!px-2 !py-4 !rounded-s-md text-center">
                                        <ng-container *ngIf="item.Sup_Eval_Status === 'APPROVED'; else notApproved">
                                            <a [routerLink]="['/rdhrm/skill-developement/Abserv-point', item.Peval_slno]">
                                                {{ item.Sup_Eval_Status }}
                                            </a>
                                        </ng-container>
                                        <ng-template #notApproved>
                                            <ng-container *ngIf="item.Sup_Eval_Status === 'PENDING'; else notPending">
                                                {{ 'PENDING' }}
                                            </ng-container>
                                            <ng-template #notPending>
                                                <span>{{ item.Sup_Eval_Status || 'Unknown' }}</span>
                                            </ng-template>
                                        </ng-template>
                                    </td>                            
                                </tr>
                            </tbody>
                        </table>
                    </div>
              </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>

