<div>
    <!--rejoin request header -->
  <div class="!flex !items-center gap-2 py-2 !justify-between !shadow-md !my-4 !rounded-md !mx-1 !px-4 !font-poppins border border-gray-400 h-auto flex-col md:flex-row md:!h-20">
    <div class="flex items-start justify-start flex-col">
      <h1 class="!text-[1.5rem] !font-semibold flex items-center justify-center gap-2 text-blue-600">
      <mat-icon>assignment_ind</mat-icon> Rejoin Request  <hr/>
    </h1>
    <p class="mt-1 text-gray-400">View and Manage Temporary Workmen Rejoin Requests</p>
    </div>
    <!-- user details -->
         <h1 class="!text-[1.25rem] !font-semibold flex items-center justify-center gap-2 text-blue-600 float-right">
          {{userDetails}}
         </h1>
  </div>

  <!-- prime ng tab view -->
   <p-tabView [(activeIndex)]="activeIndex">
     <!-- Requests tab -->
      <p-tabPanel [selected]="true">
         <!-- header -->
      <ng-template pTemplate="header">
                <div class="flex items-center justify-center gap-1">
                  <mat-icon class="icon-pad text-[1.5rem]">swipe_up</mat-icon>
                   Request
                </div>
      </ng-template>
      <!-- content -->
      <ng-template pTemplate="content">
        <div class="mx-2">
             <!-- rejoin request filters -->
            <div class="!shadow-md !rounded-md !mx-auto  pb-3 !px-4 !font-poppins  border border-gray-400 h-min">
                <!-- filter header -->
                <div class="relative">
                    <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
                    Filters <mat-icon>filter_alt</mat-icon>
                    <!-- total count -->
                    <span class="bg-blue-200 rounded-md px-2 py-1 text-base">
                     Total Count: {{tableData?.length || 0}}
                    </span>
                    </h1>
                </div>
                <!-- add new category and reason -->
                 <div *ngIf="data.length > 0" class="flex items-center justify-between w-full flex-col sm:flex-row sm:gap-2">
                    <!-- category -->
                    <div class="font-poppins w-full ">
                        <label for="status" class="text-gray-400 font-poppins mt-3 mb-1 font-semibold">Category</label> <br>
                        <p-dropdown 
                            [options]="CatList"
                            [(ngModel)]="selectedCategory"
                            optionLabel="categorynm"
                            optionValue="slno"
                            styleClass="w-full" 
                            placeholder="Select Category" ></p-dropdown>
                    </div>
                    <!-- reason  -->
                    <div class="w-full p-fluid">
                    <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Reason</label> <br>
                    <input 
                    type="text"
                    placeholder="Reason For Rejoin" 
                    pInputText
                    styleClass="w-full !font-poppins" 
                    [(ngModel)]="rejoinReason" />
                    </div>
                    <!-- add btn -->
                    <div class="w-full mt-8 ml-3">
                    <p-button 
                        icon="pi pi-plus"
                        styleClass="rounded-[1.5rem] mt-2"
                        (onClick)="add()"
                        label="Add"  
                    >
                    </p-button> 
                    </div>
                 </div>
                <!-- filters second row -->
                <form class="flex items-center justify-start w-full flex-col sm:flex-row sm:gap-2" [formGroup]="form">
                <!-- search  -->
                <div class="w-full p-fluid sm:w-1/3">
                <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Search</label> 
                <br>
                <input 
                    type="text"
                    placeholder="Search Gen ID" 
                    pInputText
                    styleClass="w-full !font-poppins" 
                    formControlName="genid" />
                </div>
                <!-- search btn -->
                <div class="mt-8 ml-3">
                <p-button 
                    icon="pi pi-search"
                    styleClass="rounded-[1.5rem] mt-2"
                    (onClick)="search()"
                    label="Search"  
                >
                </p-button> 
                </div>
                <!-- submit btn -->
                <div class="w-full mt-8 ml-3" *ngIf="tableData.length > 0">
                <p-button 
                    icon="pi pi-send"
                    styleClass="rounded-[1.5rem] mt-2 bg-purple-500 border-none"
                    (onClick)="submit()"
                    3
                    label="Submit">
                </p-button> 
                </div>
                </form>
             </div>
            <!-- rejoin request table -->
                    <div class="h-[90svh] lg:h-[75vh] xl:h-[70vh] sm:h-[58vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll mt-2">
                        <table id="table" class="table-auto !w-full">
                            <!-- table head -->
                            <thead class="sticky top-0">
                                <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                                    <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">S.No</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen Id
                                    </th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Name</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">DOJ</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">DOL</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Service
                                        Years</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Old
                                        Category</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">New
                                        Category</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Aadhar</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Reason</th>
                                    <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Status
                                    </th>
                                    <th *ngIf="showActionColumn"
                                        class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Action
                                    </th>
                                </tr>
                            </thead>
                            <!-- table body -->
                            <tbody>
                                <tr 
                                 *ngFor="let b of tableData; let i = index"
                                  class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer"
                                 >
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i + 1 }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center font-semibold text-blue-600">{{ b.Gen_Id }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.fullname }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.DOJ }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.DOL }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center font-semibold text-purple-600">{{ b.Service_Years }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.Old_Category }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.categorynm }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.Aadhar_Number }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.Reason_For_Rejoin }}</td>
                                    <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.Approval_Status }}</td>
                                    <!-- action buttons -->
                                    <td *ngIf="showActionColumn" class="!px-2 !py-4 !rounded-e-md flex items-center justify-center">
                                        <mat-icon 
                                         *ngIf="b.Approval_Status === 'REJECTED'" 
                                         (click)="onEdit(b)" 
                                         class="text-blue-600 text-[20px]">edit</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
<!-- *ngIf="showEditModal" -->
                <!-- Edit Modal -->
                <div  class="modal-overlay"  *ngIf="showEditModal">
                    <div class="modal-content">
                        <!-- header of rejoin request model -->
                         <div class="bg-blue-600 flex items-center justify-start py-4">
                            <div class="flex items-center justify-start text-white font-poppins mx-2 gap-2">
                                <div  class="px-2 py-2 rounded-md bg-[var(--bg-transparent)] flex items-center justify-center">
                                <mat-icon class="h-0 w-0 text-2xl opacity-100">edit</mat-icon>
                                </div>
                                <h4 class="text-2xl text-white">Edit Rejoin Data</h4>
                            </div>
                         </div>
                         <!-- rejoin request form -->
                          <div>
                            <!-- name -->
                            <div class="mx-2 mt-3">
                            <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
                                <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
                                Name
                            </label>
                            <br />
                            <input
                                class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none -mt-10 -mb-10 rounded-md h-[40px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
                                type="text"
                                id="code"
                                [value]="selectedItem?.fullname"
                                [readOnly]="true"
                            />
                            </div>
                            <!-- rejected by -->
                            <div class="mx-2 mt-3">
                            <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
                                <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
                                Rejected By
                            </label>
                            <br />
                            <input
                                class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none -mt-10 -mb-10 rounded-md h-[40px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
                                type="text"
                                id="code"
                                [value]="selectedItem?.Chr_Comment ? selectedItem?.Chr_Name : selectedItem?.Phr_Name "
                                [readOnly]="true"
                            />
                            </div>
                            <!-- Approver Comment -->
                            <div class="mx-2 mt-3">
                            <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="code">
                                <mat-icon class="text-2xl text-blue-600 h-0 w-0">text_fields</mat-icon>
                                Approver Comment
                            </label>
                            <br />
                            <input
                                class="w-full bg-transparent outline outline-gray-400 outline-1 shadow-none -mt-10 -mb-10 rounded-md h-[40px] focus:outline-2 focus:outline focus:outline-blue-600 px-2"
                                type="text"
                                id="code"
                                [value]="selectedItem?.Chr_Comment ? selectedItem?.Chr_Comment : selectedItem?.Phr_Comment"
                                [readOnly]="true"
                            />
                            </div>
                            <!-- category -->
                            <div class="mx-2 mt-3">
                            <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2">
                            <mat-icon class="text-2xl text-blue-600 h-0 w-0">category</mat-icon>
                            Category
                            </label><br />
                            <p-dropdown 
                                [(ngModel)]="editCategory"
                                [options]="CatList"
                                optionLabel="categorynm"
                                optionValue="slno"
                                styleClass="w-full"
                                placeholder="Select Company">
                            </p-dropdown>
                            </div>
                            <!-- reason -->
                            <div class="mx-2 mt-3">
                                    <label class="text-blue-600 flex items-center justify-start gap-1 -mb-2" for="personal-area">
                                    <mat-icon class="text-2xl text-blue-600 h-0 w-0">question_mark</mat-icon>
                                Reason For Rejoin
                                </label><br />
                                <textarea 
                                    rows="1" 
                                    cols="20"
                                    [autoResize]="true"
                                    class="w-full" 
                                    pInputTextarea 
                                    [(ngModel)]="editReason">
                                </textarea>
                            </div>
                            <!-- action -->
                             <div class="mx-2 mt-3">
                            <label class="text-blue-600"><strong>
                                <mat-icon>check</mat-icon>Action</strong>
                            </label>
                            <div>
                                <label style="margin-right: 15px;">
                                    <input type="radio" name="action" [(ngModel)]="selectedAction" value="PENDING" />
                                    Resubmit
                                </label>
                                <label>
                                    <input type="radio" name="action" [(ngModel)]="selectedAction" value="CANCELED" />
                                    Cancel
                                </label>
                            </div>
                            </div>
                          </div>
                          <!-- modal footer -->
                           <div class="modal-footer bg-gray-100">
                                <!-- add btn -->
                                <button
                                type="button"
                                class="btn btn-primary btn-lg rounded-[1.25rem] px-3 shadow-md bg-blue-600"
                               (click)="updateRejoin()"
                                >
                                Submit
                                </button>
                                <!-- cancel btn -->
                                <button
                                type="button"
                                class="btn btn-light btn-lg rounded-[1.25rem] px-3 shadow-md"
                                (click)="closeEditModal()"
                                >
                                Cancel
                                </button>
                           </div>
                    </div>
                </div>
        </div>
      </ng-template>
      </p-tabPanel>

      <!-- reports tab -->
       <p-tabPanel>
        <!-- header -->
        <ng-template pTemplate="header">
                    <div class="flex items-center justify-center gap-1">
                    <mat-icon class="icon-pad text-[1.5rem]">bar_chart</mat-icon>
                    Report
                    </div>
        </ng-template>
        <!-- content -->
         <ng-template pTemplate="content">
            <div class="mx-2">
                <!-- <div style="display: flex; justify-content: flex-end; margin-bottom: 10px; width: 98%; margin: 0 auto;">
                    <button mat-fab aria-label="Download Excel" (click)="exportexcel()">
                        <mat-icon>download</mat-icon>
                    </button>
                </div> -->
               <!-- reports table -->
                <div class="h-[90svh] lg:h-[94.5vh] xl:h-[95vh] sm:h-[80vh] shadow-md rounded-md border border-gray-400 overflow-y-scroll no-scrollbar mt-2">
                     <table id="table" class="table-auto !w-full">
                    <!-- table head -->
                    <thead class="sticky top-0">
                        <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins text-center xl:!text-left">
                            <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0 text-center">S.No</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen Id
                            </th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0">Name</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">DOJ</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">DOL</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Service
                                Years</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Old
                                Category</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">New
                                Category</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Aadhar</th>
                            <th class="!text-white !px-2 !py-2 !border-none !border-0">Reason</th>
                            <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0 text-center">Status
                            </th>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody>
                        <tr 
                         *ngFor="let b of ReportData; let i = index"
                         class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer"
                         >
                            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ i + 1 }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center font-semibold text-blue-600">{{ b.Gen_Id }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md">{{ b.fullname }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.DOJ }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.DOL }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center font-semibold text-purple-600">{{ b.Service_Years }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.Old_Category }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.categorynm }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.Aadhar_Number }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md">{{ b.Reason_For_Rejoin }}</td>
                            <td class="!px-2 !py-4 !rounded-s-md text-center">{{ b.Approval_Status }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                
            </div>
         </ng-template>
       </p-tabPanel>
   </p-tabView>
</div>