 <!-- actions -->
    <div class="!shadow-md !my-2 !rounded-md  h-full pb-3 !px-4 !font-poppins sm:h-min border border-gray-400 mx-2">
        <!-- action div -->
        <div class="relative">
            <h1 class="!text-[1.3rem] !font-semibold gap-1 text-blue-600 flex items-center justify-start mt-2">
              Actions <mat-icon>filter_alt</mat-icon>
            </h1>
            <div>
                <!-- trainee details -->
                 <div 
                 class="flex items-center justify-around shadow-md px-2 py-3 mt-2 rounded-md mx-auto animate" *ngIf="traineeData.length"
                 @slowAnimate>
                    <!-- gen id -->
                    <p class="text-blue-600 font-semibold">
                        Gen ID:
                     <span class="text-gray-400 ml-2">{{traineeData[0]?.gen_id}}</span>
                    </p>
                    <!-- plant name -->
                     <p class="text-blue-600 font-semibold">
                        Plant:
                     <span class="text-gray-400 ml-2">
                        {{traineeData[0]?.plant_name}} ({{traineeData[0]?.plant_code}})
                    </span>
                    </p>
                    <!-- Name -->
                      <p class="text-blue-600 font-semibold">
                        Name:
                      <span class="text-gray-400 ml-2">{{traineeData[0]?.fullname}}</span>
                      </p>
                      <!-- Category -->
                      <p class="text-blue-600 font-semibold">
                        Category:
                      <span class="text-gray-400 ml-2">{{traineeData[0]?.apprentice_type}}</span>
                      </p>
                      <!-- payroll area -->
                       <p class="text-blue-600 font-semibold">
                        Payroll Area:
                      <span class="text-gray-400 ml-2">{{traineeData[0]?.payrollArea}}</span>
                      </p>
                 </div>
                <!-- row one -->
                <div 
                    class="flex items-center justify-center sm:justify-start w-full gap-2" 
                    [formGroup]="fullMonthLopForm">
                        <!-- gen id -->
                        <div [class]=" traineeData.length ? 'w-full p-fluid' : 'w-1/3 p-fluid'">
                        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Gen ID</label> <br>
                        <input 
                            type="text" 
                            pInputText
                            styleClass="w-full !font-poppins"
                            placeholder="Enter Gen ID" 
                            formControlName="gen_id"
                            [readOnly]="traineeData.length ? true : false"
                        />
                        </div>
                        <!-- Date-->
                        <div class="w-full" *ngIf="traineeData.length">
                        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Month</label> <br>
                        <p-calendar
                            view="month" 
                            dateFormat="MM"
                            styleClass="w-full !font-poppins" 
                            [showIcon]="true" 
                            [minDate]="lastProcessedBillDate"
                            formControlName="lop_month">
                        </p-calendar>
                        </div>
                        <!-- reason -->
                       <div class="w-full p-fluid" *ngIf="traineeData.length">
                        <label for="date" class="font-semibold text-gray-400 mb-1 mt-3">Reason</label> <br>
                        <input 
                            type="text" 
                            pInputText
                            styleClass="w-full !font-poppins"
                            placeholder="Enter Reason"
                            formControlName="reason" 
                             />
                       </div>
                        <!-- search btn -->
                        <button
                           *ngIf="traineeData.length == 0"
                            pButton
                            iconPos="right"
                            icon="pi pi-search"
                            class="mt-10 w-1/3"
                            [disabled]="!fullMonthLopForm.controls['gen_id'].valid"
                            (click)="searchTraineeByGenId()"
                        >
                        </button>
                        <!-- apply btn -->
                        <button
                           *ngIf="traineeData.length"
                            pButton
                            label="Apply"
                            iconPos="right"
                            icon="pi pi-check-circle"
                            class="mt-10 w-1/3"
                            (click)="applyFullMonthLOP()"
                            [disabled]="!fullMonthLopForm.valid"
                        >
                        </button>
                </div>
            </div>
        </div>
    </div>

<!-- LOP MONTH TABLE -->

<div  class="h-[100dvh] lg:h-[70dvh] xl:h-[70dvh] sm:h-[100dvh] shadow-md rounded-md border border-gray-400 overflow-y-scroll no-scrollbar mx-2">
          <table
            id="fpdata"
           class="table-auto w-full"
          >
          <!-- table head -->
            <thead class="sticky top-0">
              <tr class="!border-none !border-0 !shadow !my-4 !bg-blue-600 !font-poppins">
                <th class="!text-white !rounded-s-lg !px-2 !py-2 !border-none !border-0">Plant</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Gen ID</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0">Name</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0">Category</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 text-center">Payroll Area</th>
                <th class="!text-white !px-2 !py-2 !border-none !border-0 ">LOP Month</th>
                <th class="!text-white !rounded-e-lg !px-2 !py-2 !border-none !border-0">Reason</th>
              </tr>
            </thead>
            <!-- table body -->
            <tbody>
              <tr *ngFor="let item of traineeLopMonthData" class="!border-none !border-0 !hover:bg-blue-200 !font-poppins cursor-pointer">
                <td class="!px-2 !py-4 !rounded-s-md text-blue-600 font-semibold">
                    {{item?.plant_name + ' | ' + item?.plant_code}}</td>
                <td class="!px-2 !py-4 !rounded-s-md text-center">{{item?.gen_id}}</td>
                <td class="!px-2 !py-4 !rounded-s-md">{{item?.name}}</td>
                <td class="!px-2 !py-4 !rounded-s-md ">{{item?.apprentice_type}}</td>
                <td class="!px-2 !py-4 !rounded-s-md text-center">{{item?.payroll_area}}</td>
                <td class="!px-2 !py-4 !rounded-s-md ">{{item?.lop_month | date:'MMMM'}}</td>
                <td class="!px-2 !py-4 !rounded-s-md ">{{item?.reason}}</td>
              </tr>
            </tbody>
          </table>
        </div>
