<div class="d_container">
  <div class="options">
    <mat-form-field appearance="outline" >
      <mat-label>Select date</mat-label>
      <input
        matInput
        placeholder="label"
        type="date"
        value="value"
        [(ngModel)]="date"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Plant</mat-label>
      <mat-select [(ngModel)]="selectedPlant" [disabled]="isadmin == 'false'">
        <mat-option value="" selected>All</mat-option>
        <mat-option *ngFor="let item of plants" [value]="item.plant_code">{{
          item.plant_code
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-catatndreport [date]="date" [plant]="selectedPlant" *ngIf="empDetails.Is_HR||empDetails.Is_HRAppr||empDetails.is_fin ||empDetails.is_plant_head ||empDetails.ot_appr"></app-catatndreport>
  <app-daiyatndreport [date]="date" [plant]="selectedPlant" *ngIf="empDetails.Is_HR||empDetails.Is_HRAppr||empDetails.is_fin ||empDetails.is_plant_head ||empDetails.ot_appr"></app-daiyatndreport>
  <app-lineatndReport [date]="date" [plant]="selectedPlant"></app-lineatndReport>
  <app-contatndreport  [date]="date" [plant]="selectedPlant" *ngIf="empDetails.Is_HR||empDetails.Is_HRAppr||empDetails.is_fin ||empDetails.is_plant_head || empDetails.ot_appr"></app-contatndreport>
</div>
